<nb-card class="nb-style">
    <nb-card-header class="nb-header">
        <div class="row">
            <div class="col-md-11">
                <h2 class="nb-text">Task Dashboard</h2>
            </div>
            <div class="col-md-1">
                <div class="nb-icon-add">
                    <a class="link-fab linkedin" media="Linkedin">
                        <div class="tooltip">Add Task</div>
                        <nb-icon [options]="{animation:{type:'zoom'}}" icon="plus" class="add-icon display-inline"
                            (click)="openAddTaskComponent()">
                        </nb-icon>
                    </a>
                </div>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
    </nb-card-body>
</nb-card>