.bshadow {

    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px #222222);
    opacity: .5;
  
  }
 
  textarea {
      margin-top: 15px; 
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 250px;
      opacity: .5;
  }

  .imageURL{
      height: 50px;
      width: 50px;
  }

  .filepicker{
    -webkit-appearance: none;
    position:absolute;
    top:1px;
    right:1px;
    width: 40px;
    height: 40px;
    text-indent: 100em;
    //background: url('../../../../assets/scan/dummy-profile.png');
    //background : var(--background);
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}