<ngx-loading [show]="loading"></ngx-loading>


<div id="target"></div>
<nb-card class="nb-style">
    <nb-card-header class="nb-header">

        <div class="row">
            <div class="col-md-5 col-6 display-flex-start max-width-device">
                <ng-select class="btn btn-md" (change)="tableChange($event)"
                    placeholder="Select">
                    <!-- <ng-option value="select">Select</ng-option> -->
                    <ng-option value="view table">View Table</ng-option>
                    <!-- <ng-option value="job card">Job Card</ng-option> -->
                </ng-select>
                <!-- <button class="btn btn-md btn-design" [routerLink]="['/pages/stock-batch/view']">View
                    Table</button> -->
            </div>


            <div class="col-md-7 col-5">
                <div *ngIf="this.currentEmpId == null; else updateS">
                    <h2 class="nb-text txt-ov-elips mob-font-13">Add Employee</h2>
                </div>
                <ng-template #updateS>
                    <h2 class="nb-text txt-ov-elips mob-font-13">Update Employee</h2>
                </ng-template>
            </div>

        </div>

    </nb-card-header>
    <nb-card-body>
        <div>
            <form #empForm="ngForm">
                <div class="row" *ngIf="!qrFlag">
                    <div class="col-md-3 col-12">
                        <div class="form-group text-center">

                            <div class="display-flex-center">
                                <input type="file" name="profile"
                                    class="form-control size-small registration-document filepicker" id="profile"
                                    [ngStyle]="{ 'background-image': 'url(' + imageUrl + ')'}"
                                    placeholder="Upload profile" [(ngModel)]="profile" #profile1="ngModel"
                                    (change)="handleFileInput($event.target.files,'profile')" style="position:relative;overflow:hidden; 
                                    background-color:#ffff; 
                                    z-index:0;" accept="image/x-png,image/gif,image/jpeg" [crossOrigin]="'anonymous'"
                                    [ngClass]="{'is-invalid':(profile1.invalid) &&(formSubmitted || profile1.touched)}">


                                <div class="input-required" *ngIf="profile1.invalid
                                           &&
                                           (formSubmitted || profile1.touched)">
                                    <span>Profile is required</span>
                                </div>
                            </div>
                            <label>Profile</label>


                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label class="required">Employee Name</label>
                            <input type="text" name="name" #name1="ngModel" [(ngModel)]="registration.name"
                                class="form-control size-small" fieldsize="small" nbinput placeholder="Employee Name"
                                [ngClass]="{'is-invalid':(name1.invalid) &&(formSubmitted || name1.touched)}"
                                required />

                            <div class="input-required" *ngIf="name1.invalid
                                &&
                                (formSubmitted || name1.touched)">
                                <span>Employee Name is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>Phone No</label>
                            <input type="number" class="form-control size-small" fieldsize="small" nbinput
                                name="contact" [(ngModel)]="registration.contact" #contact1="ngModel" maxlength="10"
                                minlength="10" ng-pattern-restrict="[A-Za-z]" pattern="[6-9]{1}[0-9]{9}"
                                placeholder="Contact No"
                                [ngClass]="{'is-invalid': (contact1.invalid)&&(formSubmitted || contact1.touched)}" />
                            <div class="input-required"
                                *ngIf="(contact1.invalid) && (formSubmitted || contact1.touched)">
                                Enter 10 digit valid contact
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>Aadhar Card No</label>
                            <input type="text" class="form-control size-small" fieldsize="small" nbinput name="aadhar"
                                [(ngModel)]="registration.aadhaar" #aadhar1="ngModel" placeholder="Aadhar Card No" />

                        </div>
                    </div>

                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label class="required">Document</label>
                            <ng-container class="mar-left-for-prog" *ngIf="uploadFlag">
                                <circle-progress [showInnerStroke]=false [percent]="processValue"
                                    [outerStrokeColor]="'#005ec2'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                                    [animationDuration]="300" [radius]="10" [titleFontSize]="6" [unitsFontSize]="6"
                                    [outerStrokeWidth]="2" [titleFontWeight]="900" [unitsFontWeight]="900"
                                    [showSubtitle]=false></circle-progress>
                            </ng-container>

                            <input type="file" multiple name="document"
                                class="form-control size-small registration-document" id="file"
                                placeholder="Upload document" [(ngModel)]="document" #document1="ngModel"
                                (change)="handleFileInput($event.target.files,'document')" style=" color: transparent; "
                                required
                                [ngClass]="{'is-invalid':(document1.invalid) &&(formSubmitted || document1.touched)}"
                                accept="image/x-png,image/gif,image/jpeg">

                            <!-- <label *ngIf="document" class="no-file-choose-new file-left-text">{{document}}</label>
                            <label *ngIf="!document" class="no-file-choose-new file-left-text">No file chosen</label> -->
                            <div class="input-required" *ngIf="document1.invalid
                                       &&
                                       (formSubmitted || document1.touched)">
                                <span>Document is required</span>
                            </div>


                        </div>
                    </div>

                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>Department</label>
                            <ng-select name="departmenty" appendTo="body" #department1="ngModel"
                                [(ngModel)]="registration.departmentId" [items]="departmentList" bindLabel="name"
                                bindValue="id" placeholder="Select Department" required
                                [ngClass]="{'is-invalid': (department1.invalid)&&(formSubmitted || department1.touched)}"
                                class="required-error-dropdown dropdown-name">
                            </ng-select>
                            <div class="input-required"
                                *ngIf="(department1.invalid)&&(formSubmitted || department1.touched)">
                                <span>Department is required.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>Remark2</label>
                            <input type="text" class="form-control size-small" fieldsize="small" nbinput name="remark2"
                                [(ngModel)]="registration.remark2" #remark2="ngModel" placeholder="Remark" />
                        </div>
                    </div>

                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>Remark3</label>
                            <input type="text" class="form-control size-small" fieldsize="small" nbinput name="remark3"
                                [(ngModel)]="registration.remark3" #remark3="ngModel" placeholder="Remark" />
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <ng-container *ngIf="!currentEmpId">
                            <ng-container *ngIf="imagePreviewFordocAdd && docAdd.length">
                                <div class="max-popup-purchase mobile-width-100">
                                    <div *ngFor="let url of docAdd | imagePreviewPipe : imageIndexFordocAdd; let i = index"
                                        class="text-center mobile-100 display-flex-purchase-view">
                                        <img [src]="url">
                                        <nb-icon icon="close-circle-outline" class="purchase-close-img"
                                            (click)="removeImage('docAdd',imageIndexFordocAdd)"></nb-icon>
                                    </div>
                                    <div class="next-previous-btn">
                                        <div class="back-btn">
                                            <nb-icon icon="arrow-back-outline" (click)="previous('docAdd')"></nb-icon>
                                        </div>

                                        <div class="next-btn">
                                            <nb-icon icon="arrow-forward-outline" (click)="next('docAdd')"></nb-icon>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row text-center mt-3">
                                        <div class="col-md-12">
                                            <span class="bottom-count-img">
                                                {{imageIndexFordocAdd + 1}} / {{docAdd.length}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="currentEmpId">

                            <ng-container *ngIf="imagePreviewFordocUpdate && docUpdate.length">
                                <div class="max-popup-purchase mobile-width-100">
                                    <div *ngFor="let url of docUpdate | imagePreviewPipe : imageIndexFordocUpdate; let i = index"
                                        class="text-center mobile-100 display-flex-purchase-view">
                                        <img [src]="url">
                                        <nb-icon icon="close-circle-outline" class="purchase-close-img"
                                            (click)="removeImage('docUpdate',imageIndexFordocUpdate)"></nb-icon>
                                    </div>
                                    <div class="next-previous-btn">
                                        <div class="back-btn">
                                            <nb-icon icon="arrow-back-outline" (click)="previous('docUpdate')">
                                            </nb-icon>
                                        </div>

                                        <div class="next-btn">
                                            <nb-icon icon="arrow-forward-outline" (click)="next('docUpdate')"></nb-icon>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row text-center mt-3">
                                        <div class="col-md-12">
                                            <span class="bottom-count-img">
                                                {{imageIndexFordocUpdate + 1}} / {{docUpdate.length}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                        </ng-container>
                    </div>
                </div>



                <div *ngIf="qrFlag">

                    <ngx-qrcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel" [value]="value"
                        cssClass="bshadow" class="text-center"></ngx-qrcode>
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="text-center">
                                <span class="scan-id-style">{{emp_id}}</span>
                                <div class="qr-share-opt display-qr-evenly">
                                    <div class="download-qr">
                                        <a [href]="href" (click)="downloadImage()" download>
                                            <nb-icon icon="cloud-download-outline" class="icon-qr-wd-height"></nb-icon>
                                        </a>

                                    </div>
                                    <div class="share-qr">
                                        <nb-icon icon="share-outline" class="icon-qr-wd-height" (click)="shareImage()">
                                        </nb-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12 mobile-btn-center text-btn-right">
                        <div class="document-padding-bt-tp">

                            <button *ngIf="!this.currentEmpId && !this.qrFlag"
                                class="btn btn-primary btn-sm btn-design-cancel" type="button"
                                (click)="reset(empForm)">CANCEL</button>

                            <button *ngIf="this.currentEmpId && !this.qrFlag"
                                class="btn btn-primary btn-sm btn-design-cancel" type="button"
                                [routerLink]="['/pages/registration/view']">CANCEL</button>


                            <button *ngIf="this.currentEmpId" type="button" (click)="updateEmployee(empForm)"
                                class="btn btn-primary btn-sm btn-design-save button-base ripple"
                                [disabled]="disableButton">UPDATE</button>

                            <button *ngIf="!this.currentEmpId && !this.qrFlag" type="button"
                                class="btn btn-primary btn-sm btn-design-save button-base ripple"
                                (click)="addEmployee(empForm)" [disabled]="disableButton">SAVE</button>


                        </div>
                    </div>
                </div>
            </form>
        </div>
    </nb-card-body>
</nb-card>