<ngx-loading [show]="loading"></ngx-loading>
<ng-container *ngIf="false">
<circle-progress
  [percent]="progress"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</ng-container>

<div id="target"></div>
<nb-card class="nb-style">
    <nb-card-header class="nb-header">

        <div class="row">
            <div class="col-md-5 col-7 display-flex-start max-width-device  mobile-pd-lf-0">
                <button class="btn btn-md btn-design txt-ov-elips mobile-mr-lf-0 mob-font-12"
                    [routerLink]="['/pages/registration/view']">View
                    Table</button>
                
            </div>


            <div class="col-md-7 col-5">
                <div *ngIf="this.currentEmpId == null; else updateS">
                    <h2 class="nb-text txt-ov-elips mob-font-13">Add Employee</h2>
                </div>
                <ng-template #updateS>
                    <h2 class="nb-text txt-ov-elips mob-font-13">Update Employee</h2>
                </ng-template>
            </div>

        </div>

    </nb-card-header>
    <nb-card-body>
        <div>
            <form #empForm="ngForm">
                <div class="row" *ngIf="!qrFlag">
                    <div class="col-md-3 col-12">
                        <div class="form-group text-center">

                            <div class="display-flex-center">
                                <input type="file" name="profile"
                                    class="form-control size-small registration-document filepicker" id="profile"
                                    [ngStyle]="{ 'background-image': 'url(' + imageUrl + ')'}"
                                    placeholder="Upload profile" [(ngModel)]="profile" #profile1="ngModel"
                                    (change)="handleFileInput($event.target.files,'profile')" style="position:relative;overflow:hidden; 
                                    background-color:#ffff; 
                                    z-index:0;" [crossOrigin]="'anonymous'"
                                    [ngClass]="{'is-invalid':(profile1.invalid) &&(formSubmitted || profile1.touched)}">

                                
                                <div class="input-required" *ngIf="profile1.invalid
                                           &&
                                           (formSubmitted || profile1.touched)">
                                    <span>Profile is required</span>
                                </div>
                            </div>
                            <label >Profile</label>


                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label class="required">Employee Name</label>
                            <input type="text" name="name" #name1="ngModel" [(ngModel)]="registration.name"
                                class="form-control size-small" fieldsize="small" nbinput placeholder="Employee Name"
                                [ngClass]="{'is-invalid':(name1.invalid) &&(formSubmitted || name1.touched)}" required/>

                            <div class="input-required" *ngIf="name1.invalid
                                &&
                                (formSubmitted || name1.touched)">
                                <span>Employee Name is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>Phone No</label>
                            <input type="number" class="form-control size-small" fieldsize="small" nbinput name="contact"
                                [(ngModel)]="registration.contact" #contact1="ngModel" maxlength="10" minlength="10"
                                ng-pattern-restrict="[A-Za-z]" pattern="[6-9]{1}[0-9]{9}" placeholder="Contact No"
                                [ngClass]="{'is-invalid': (contact1.invalid)&&(formSubmitted || contact1.touched)}" />
                            <div class="input-required"
                                *ngIf="(contact1.invalid) && (formSubmitted || contact1.touched)">
                                Enter 10 digit valid contact
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>Aadhar Card No</label>
                            <input type="text" class="form-control size-small" fieldsize="small" nbinput name="aadhar"
                                [(ngModel)]="registration.aadhaar" #aadhar1="ngModel" placeholder="Aadhar Card No" />

                        </div>
                    </div>

                    <div class="col-md-3 col-12">
                        <div class="form-group">

                            <label class="required">Document</label>


                            <input type="file" name="document" class="form-control size-small registration-document"
                                id="file" placeholder="Upload document" [(ngModel)]="document" #document1="ngModel"
                                (change)="handleFileInput($event.target.files,'document')" required
                                [ngClass]="{'is-invalid':(document1.invalid) &&(formSubmitted || document1.touched)}">


                            <div class="input-required" *ngIf="document1.invalid
                                       &&
                                       (formSubmitted || document1.touched)">
                                <span>Document is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>Remark</label>
                            <input type="text" class="form-control size-small" fieldsize="small" nbinput name="remark"
                                [(ngModel)]="registration.remark" #remark1="ngModel" placeholder="Remark" />
                        </div>
                    </div>

                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>Remark2</label>
                            <input type="text" class="form-control size-small" fieldsize="small" nbinput name="remark2"
                                [(ngModel)]="registration.remark2" #remark2="ngModel" placeholder="Remark" />
                        </div>
                    </div>

                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>Remark3</label>
                            <input type="text" class="form-control size-small" fieldsize="small" nbinput name="remark3"
                                [(ngModel)]="registration.remark3" #remark3="ngModel" placeholder="Remark" />
                        </div>
                    </div>
                </div>



                <div *ngIf="qrFlag">

                    <ngx-qrcode  [elementType]="elementType" [errorCorrectionLevel]="correctionLevel"
                        [value]="value" cssClass="bshadow" class="text-center"></ngx-qrcode>
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="text-center">
                                <span  [(ngModel)]="emp_id" name="emp_id"
                                    class="scan-id-style">{{emp_id}}</span>
                                <div class="qr-share-opt display-qr-evenly">
                                    <div class="download-qr">
                                        <a [href]="href" (click)="downloadImage()" download>
                                            <nb-icon icon="cloud-download-outline" class="icon-qr-wd-height"></nb-icon>
                                        </a>

                                    </div>
                                    <div class="share-qr">
                                        <nb-icon icon="share-outline" class="icon-qr-wd-height" (click)="shareImage()"></nb-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12 mobile-btn-center text-btn-right">
                        <div class="document-padding-bt-tp">
                            
                            <button *ngIf="!this.currentEmpId && !this.qrFlag" class="btn btn-primary btn-sm btn-design-cancel"
                                type="button" (click)="reset(empForm)">CANCEL</button>
                            
                            <button *ngIf="this.currentEmpId && !this.qrFlag" class="btn btn-primary btn-sm btn-design-cancel"
                                type="button" [routerLink]="['/pages/registration/view']">CANCEL</button>    


                            <button *ngIf="this.currentEmpId" type="button" (click)="updateEmployee(empForm)"
                                class="btn btn-primary btn-sm btn-design-save button-base ripple"
                                [disabled]="disableButton">UPDATE</button>

                            <button *ngIf="!this.currentEmpId && !this.qrFlag" type="button"
                                class="btn btn-primary btn-sm btn-design-save button-base ripple"
                                (click)="addEmployee(empForm)" [disabled]="disableButton">SAVE</button>


                        </div>
                    </div>
                </div>
            </form>
        </div>
    </nb-card-body>
</nb-card>