<ngx-loading [show]="loading"></ngx-loading>

<div id="target"></div>
<nb-card class="nb-style">
    <nb-card-header class="nb-header">

        <div class="row">
            <div class="col-md-5 col-7 display-flex-start max-width-device">
                <button class="btn btn-md btn-design txt-ov-elips" [routerLink]="['/pages/registration/view']">View
                    Table</button>
                <button class="btn btn-md btn-design" [routerLink]="['/pages/registration/scan']">Scan
                </button>
            </div>


            <div class="col-md-7 col-5">
                <div *ngIf="this.currentEmpId == null; else updateS">
                    <h2 class="nb-text txt-ov-elips">Add Employee</h2>
                </div>
                <ng-template #updateS>
                    <h2 class="nb-text txt-ov-elips">Update Employee</h2>
                </ng-template>
            </div>

        </div>

    </nb-card-header>
    <nb-card-body>
        <div>
            <form #empForm="ngForm">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">Employee Name</label>
                            <input type="text" name="name" #name1="ngModel" [(ngModel)]="registration.name"
                                class="form-control size-small" fieldsize="small" nbinput placeholder="Employee Name"
                                [ngClass]="{'is-invalid':(name1.invalid) &&(formSubmitted || name1.touched)}" />

                            <div class="input-required" *ngIf="name1.invalid
                                &&
                                (formSubmitted || name1.touched)">
                                <span>Employee Name is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Phone No</label>
                            <input type="text" class="form-control size-small" fieldsize="small" nbinput name="contact"
                                [(ngModel)]="registration.contact" #contact1="ngModel" required
                                maxlength="10" minlength="10"
                                placeholder="Contact No" />
                            <span class="input-required" *ngIf="contact1.errors?.maxlength && contact1.errors?.maxlength &&
                                (formSubmitted || contact1.touched)">
                                Enter 10 digit valid contact
                            </span>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">Aadhar Card No</label>
                            <input type="text" class="form-control size-small" fieldsize="small" nbinput name="aadhar"
                                [(ngModel)]="registration.aadhaar" #aadhar1="ngModel" placeholder="Aadhar Card No"
                                [ngClass]="{'is-invalid':(aadhar1.invalid) &&(formSubmitted || aadhar1.touched)}" />
                            <div class="input-required" *ngIf="aadhar1.invalid
                                 &&
                                 (formSubmitted || aadhar1.touched)">
                                <span>Aadhar No is required</span>
                            </div>
                        </div>
                    </div>




                    <div class="col-md-4">
                        <div class="form-group">
                            <!-- <div class="form-control size-small"> -->

                            <label class="required">Document</label>


                            <input type="file" name="document" class="form-control size-small registration-document"
                                id="file" placeholder="Upload document" [(ngModel)]="document" #document1="ngModel"
                                (change)="handleFileInput($event.target.files,'document')"
                                [ngClass]="{'is-invalid':(document1.invalid) &&(formSubmitted || document1.touched)}">
                        
                                 
                                <div class="input-required" *ngIf="document1.invalid
                                       &&
                                       (formSubmitted || document1.touched)">
                                <span>Document is required</span>
                                </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <!-- <div class="form-control size-small"> -->

                            <label class="required">Profile</label>


                            <input type="file" name="profile" class="form-control size-small registration-document"
                                id="profile" placeholder="Upload profile" [(ngModel)]="profile" #profile1="ngModel"
                                (change)="handleFileInput($event.target.files,'profile')"
                                [ngClass]="{'is-invalid':(profile1.invalid) &&(formSubmitted || profile1.touched)}">
                                
                                <div *ngIf="imageUrl">
                                    <img class="imageURL" [src]="imageUrl">
                                  </div>
                                <div class="input-required" *ngIf="profile1.invalid
                                       &&
                                       (formSubmitted || profile1.touched)">
                                <span>Profile is required</span>
                                </div>

                        </div>
                    </div>





                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Remark</label>
                            <input type="text" class="form-control size-small" fieldsize="small" nbinput name="remark"
                                [(ngModel)]="registration.remark" #remark1="ngModel" placeholder="Remark" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Remark2</label>
                            <input type="text" class="form-control size-small" fieldsize="small" nbinput name="remark2"
                                [(ngModel)]="registration.remark2" #remark2="ngModel" placeholder="Remark" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Remark3</label>
                            <input type="text" class="form-control size-small" fieldsize="small" nbinput name="remark3"
                                [(ngModel)]="registration.remark3" #remark3="ngModel" placeholder="Remark" />
                        </div>
                    </div>
                </div>


                <!-- <span *ngIf="qrFlag" [(ngModel)]="emp_id" name="emp_id">{{emp_id}}</span>
               
                <div class="row">
                    <div class="col-md-12 mobile-btn-center text-btn-right">
                        <div class="padding-bt-tp">
                           
                            <button 
                                class="btn btn-primary btn-sm btn-design-cancel" type="button"
                                (click)="reset(empForm)">CANCEL</button>

                           
                           
                            <button *ngIf="this.currentEmpId" type="button" (click)="updateEmployee(empForm)"
                                class="btn btn-primary btn-sm btn-design-save button-base ripple"
                                [disabled]="disableButton">UPDATE</button>

                            <button *ngIf="!this.currentEmpId" type="button"
                                class="btn btn-primary btn-sm btn-design-save button-base ripple"
                                (click)="addEmployee(empForm)" [disabled]="disableButton">SAVE</button> -->

                <ngx-qrcode *ngIf="qrFlag" [elementType]="elementType" [errorCorrectionLevel]="correctionLevel"
                    [value]="value" cssClass="bshadow" class="text-center"></ngx-qrcode>
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="text-center">
                            <span *ngIf="qrFlag" [(ngModel)]="emp_id" name="emp_id"
                                class="scan-id-style">{{emp_id}}</span>
                        </div>
                    </div>
                </div>

                <a [href]="href" *ngIf="qrFlag" (click)="downloadImage()" download>Download Image</a>

                

                <div class="row">
                    <div class="col-md-12 mobile-btn-center text-btn-right">
                        <div class="document-padding-bt-tp">
                            <!-- <button *ngIf="!apcFlag" class="btn btn-primary btn-sm btn-design-cancel"
                                routerLink='/pages/shade'>CANCEL</button> -->
                            <button *ngIf="!this.currentEmpId" class="btn btn-primary btn-sm btn-design-cancel" type="button"
                                (click)="reset(empForm)">CANCEL</button>



                            <button *ngIf="this.currentEmpId" type="button" (click)="updateEmployee(empForm)"
                                class="btn btn-primary btn-sm btn-design-save button-base ripple"
                                [disabled]="disableButton">UPDATE</button>

                            <button *ngIf="!this.currentEmpId" type="button"
                                class="btn btn-primary btn-sm btn-design-save button-base ripple"
                                (click)="addEmployee(empForm)" [disabled]="disableButton">SAVE</button>

                            <!-- <button *ngIf="!this.currentEmpId && qrFlag" type="button"
                                class="btn btn-primary btn-sm btn-design-save button-base ripple"
                                (click)="addQR(empForm)" [disabled]="disableButton">SAVE QR</button>      -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </nb-card-body>
</nb-card>