<div class="row">
    <div class="col-md-12">
        <nb-card class="nb-style">
            <nb-card-header class="nb-header">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="nb-text">Merge Batch</h2>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-12">
                        <form #mergeForm="ngForm">
                            <div class="row">
                                <div class="col-md-4" *ngFor="let data of filterDetails; let i = index;">
                                    <div class="form-group party-in">

                                        <label class="required">Party</label>

                                        <ng-select name="partyId{{i}}" appendTo="body" [(ngModel)]='data.partyId' #partyId1{{i}}="ngModel" (change)="partySelected($event,i)" placeholder="Select Party">
                                            <ng-option disabled="true">
                                                <div class="row">
                                                    <div class="col-md-6 col-6">
                                                        <div class="text-left txt-ov-elips">Party Name
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-6">
                                                        <div class="text-right txt-ov-elips">
                                                            Party Code</div>
                                                    </div>
                                                </div>
                                            </ng-option>
                                            <ng-option *ngFor="let p of partyList" [value]="p.id">
                                                <div class="row">
                                                    <div class="col-md-6 col-6">
                                                        <div class="text-left txt-ov-elips"> {{p.partyName}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-6">
                                                        <div class="text-right txt-ov-elips"> {{p.partyCode}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-option>
                                        </ng-select>
                                    </div>


                                    <div class="row" *ngIf="data.partyId">
                                        <div class="form-group col-md-12">
                                            <div class="quality-in">
                                                <label class="required">Quality</label>

                                                <ng-select name="qualityId{{i}}" appendTo="body" [(ngModel)]='data.qualityId' #qualityId1{{i}}="ngModel" placeholder="Select Quality" (change)="qualitySelected($event, i)">
                                                    <ng-option disabled="true">
                                                        <div class="row">
                                                            <div class="col-md-6 col-6">
                                                                <div class="text-left txt-ov-elips">Quality ID
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-6">
                                                                <div class="text-right txt-ov-elips">
                                                                    Party Name</div>
                                                            </div>
                                                        </div>
                                                    </ng-option>
                                                    <ng-option *ngFor="let q of data.qualityList" [value]="q.qualityEntryId">
                                                        <div class="row">
                                                            <div class="col-md-6 col-6">
                                                                <div class="text-left txt-ov-elips"> {{q.qualityId}}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-6">
                                                                <div class="text-right txt-ov-elips"> {{q.partyName}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-option>
                                                </ng-select>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row" *ngIf="data.qualityId">
                                        <div class="form-group col-md-12">
                                            <div class="batch-in">
                                                <label class="required">Batch</label>

                                                <ng-select name="batchId{{i}}" appendTo="body" [(ngModel)]='data.batchId' #batchId{{i}}="ngModel" placeholder="Select Batch" (change)="batchSelected($event, i)">
                                                    <ng-option disabled="true">
                                                        <div class="row">
                                                            <div class="col-md-12 col-12">
                                                                <div class="text-left txt-ov-elips">Batch ID
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-option>
                                                    <ng-option *ngFor="let b of (data.batchList | filterselectedBatches: filterDetails : i : refreshCount)" [value]="b.batchId">
                                                        {{b.batchId}}
                                                    </ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" *ngIf="data.batchId">
                                        <div class="form-group col-md-12">

                                            <div class="example-container batch-merged-pd">
                                                <h2 class="batch-text">Batch List</h2>

                                                <div cdkDropList [cdkDropListData]="data.grList" [attr.id]="i" [cdkDropListConnectedTo]="[finalPart]" class="example-list" (cdkDropListDropped)="drop($event)">
                                                    <div class="row">
                                                        <div class="col-md-12 col-12">
                                                            <div class="merged-batch-indiviual">
                                                                <div *ngFor="let item of data.grList" cdkDrag>
                                                                    <div class="example-box" *ngIf ="!item.mergeBatchId">
                                                                        Meter: {{item.mtr}} Weight: {{item.wt}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="add-minus-party">
                                    <div class="width-100" *ngIf="filterDetails.length == 2">

                                        <nb-icon icon="plus" status="primary" [options]="{ animation: { type: 'zoom' } }" class="icon-batch-white status-primary" (click)="addRemoveThirdFilterDetail(true)"></nb-icon>

                                    </div>
                                    <div class="width-100" *ngIf="filterDetails.length == 3">

                                        <nb-icon icon="minus" status="primary" [options]="{ animation: { type: 'zoom' } }" class="icon-batch-white status-primary" (click)="addRemoveThirdFilterDetail(false)"></nb-icon>

                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="example-container pd-0-mr-15" [style.visibility]="showMergeBox? 'visible':'hidden'">
                                    <div class="disply-flex">
                                        <h2 class="batch-text">Merged Batches</h2>
                                        
                                    </div>
                                   
                                    <div cdkDropList [cdkDropListData]="finalGrList" #finalPart="cdkDropList" [cdkDropListConnectedTo]="DROP_LIST_IDS" class="example-list" (cdkDropListDropped)="drop($event)">
                                        <div class="row">
                                            <div class="col-md-12 col-12">

                                                <div *ngFor="let item of finalGrList; let i = index">
                                                    <div class="example-box position-rel">
                                                        Meter: {{item.mtr}} Weight: {{item.wt}}
                                                        <span>
                                                            <button class="close btn-foucs-none pd-18" aria-label="Close" (click)="crossClick(item , i)">
                                                            <span aria-hidden="true" class="close-icon">&times;</span>
                                                        </button></span>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12 mobile-btn-center text-btn-right">
                                    <div class="mrtp-10">
                                        <button type="button" class="btn btn-primary btn-sm btn-design-save button-base ripple" [disabled]="loading" (click)="saveMergedBatch(mergeForm)">Save</button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

</div>