<div class="row">
    <div class="col-md-12">
        <nb-card class="nb-style">
            <nb-card-header class="nb-header">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="nb-text">Merge Batch</h2>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-12">
                        <form #mergeForm="ngForm">
                            
                        </form>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

</div>