.header, .header-space,
.footer, .footer-space { height: 100px; }
.header { position: fixed; top: 0; }
.footer { position: fixed; bottom: 0; }

/* @media screen {
  :host {
    display: none;
  }
} */
.printpage {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  width: 31cm;
  /* height: 29.7cm; */
}
/* .section[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
} */
/* body {
  background: rgb(204,204,204); 
}
/* page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;  
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;  
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;  
} */
@media print {
  body, .section {
    margin: 0;
    box-shadow: 0;
  }
}