.font-styles {
  font-size: large;
}

.report-header {
  background: #c6d9f1;
  color: #4f6072;
}

.invoice-no-heading {
  padding: 2px;
  border: 1px solid black;
}

.print-body {
  margin: 10px;
}
.bold-invoice{
  font-weight: 700;
}