<nb-card class="nb-style">
    <nb-card-header class="nb-header">
        <div class="row">
           
            <div class="col-md-9 col-7">
                <h2 class="nb-text">Pending APC</h2>
            </div>
           
        </div>
    </nb-card-header>
    <nb-card-body>

        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                aria-describedby="basic-addon1" (keyup)="filter($event.target.value)">
        </div>
       
        <!--  ngx- DataTable  -->
        <ngx-datatable [rows]="apcList" [ngClass]="tableStyle" class="material" [headerHeight]="31"
            [footerHeight]="40">
            <ngx-datatable-column name="Action" sortable="false" prop="id">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <nb-icon icon="edit" status="primary" [options]="{ animation: { type: 'zoom' } }"
                         [routerLink]="['/pages/shade/edit',row.id]"></nb-icon>
                    <nb-icon icon="trash" status="danger" [options]="{animation:{type:'zoom'}}" 
                        (click)="deletePendingAPC(row.id)"></nb-icon>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="APC No" prop="apcNo"></ngx-datatable-column>
            <ngx-datatable-column name="Party Shade No." prop="partyShadeNo"></ngx-datatable-column>
            <ngx-datatable-column name="Process Name" prop="processName"></ngx-datatable-column>
            <ngx-datatable-column name="Quality ID" prop="qualityId"></ngx-datatable-column>
            <ngx-datatable-column name="Quality Name" prop="qualityName"></ngx-datatable-column>
            <ngx-datatable-column name="Party Name" prop="partyId"></ngx-datatable-column>
            <ngx-datatable-column name="Color Tone " prop="colorTone"></ngx-datatable-column>

        </ngx-datatable>

    </nb-card-body>
</nb-card>