<div class="container">
    <nb-card class="nb-style">
        <nb-card-header class="nb-header">

            <div class="row">
                <div class="col-md-5 col-6 display-flex-start max-width-device">
                    <button class="btn btn-md btn-design" [routerLink]="['/pages/dyeing-process/view']">View
                        Table</button>
                </div>
                <div class="col-md-7 col-6">
                    <h2 class="nb-text txt-ov-elips">Dyeing Process</h2>
                </div>



            </div>
        </nb-card-header>
        <nb-card-body>
            <form #myForm='ngForm'>
                <div class="row">
                    <div class="col-md-5 col-12">
                        <div class="form-group">
                            <label class="required">Process Name</label>
                            <input type="text" name="processName" class="form-control size-small" fieldsize="small"
                                nbinput #processName1="ngModel" [(ngModel)]='dyeingProcess.processName' required
                                [ngClass]="{'is-invalid':(processName1.invalid)&&(formSubmitted || processName1.touched) || processNameExist}"
                                placeholder="Process Name" (change)="isProcessNameAlreadyExist()">
                            <div class="input-required"
                                *ngIf="(processName1.invalid)&&(formSubmitted || processName1.touched)">
                                <span>Process name is required.</span>
                            </div>
                            <div class="input-required" *ngIf="processNameExist">
                                <span>Process Name is already Exist </span>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-7 col-12">
                        <div class="form-group text-right align-dis">
                            <nb-icon icon="plus-circle" status="primary" [options]="{ animation: { type: 'zoom' } }"
                                (click)="addProcessStep()" class="plus-add add-modal width-40"></nb-icon>
                        </div>
                    </div>

                    <!-- Process list -->
                    <div class="col-md-12 mr-top-10"
                        *ngIf="dyeingProcessSteps? dyeingProcessSteps.length:dyeingProcessSteps;">

                        <div cdkDropList (cdkDropListDropped)="drop($event)" class="acc-under-css">
                            <nb-accordion multi *ngFor="let step of dyeingProcessSteps" cdkDrag class="acc-start">
                                <nb-accordion-item class="item accordian-process" #item (click)="onStepClick(step)">
                                    <nb-accordion-item-header
                                        class="item-header nb-accordian-fn-size nb-accordian display-flex-between">
                                        <div class="">
                                            {{step.processType}}
                                        </div>
                                        <div class="nb-action">
                                            <nb-icon icon="trash" status="danger"
                                                [options]="{ animation: { type: 'zoom' } }" (click)="onDeleteStep(step)"
                                                class="trash"></nb-icon>
                                            <nb-icon icon="edit" status="primary"
                                                [options]="{ animation: { type: 'zoom' } }" (click)="onEditStep(step)"
                                                class="edit"></nb-icon>
                                        </div>
                                    </nb-accordion-item-header>
                                    <nb-accordion-item-body class="nb-item-body">
                                        <div class="row dis-fl-di">
                                            <div class="col-md-11 col-12">

                                                <div class="div-fl-1">
                                                    <div class="user-per-check-display">
                                                        <span class="tb-ui"><b>Temprature:</b>
                                                        </span>
                                                        <span class="num-bd"> {{step.temp}}
                                                        </span>
                                                    </div>

                                                </div>
                                                <div class="div-fl-1">
                                                    <div class="user-per-check-display">
                                                        <span class="tb-ui"><b>Hold Time:</b>
                                                        </span>
                                                        <span class="num-bd">{{step.holdTime}}
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="div-fl-1">
                                                    <div class="user-per-check-display">
                                                        <span class="tb-ui"><b>Liqure Ratio:</b>
                                                        </span>
                                                        <span class="num-bd">{{step.liquerRation}}
                                                        </span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row dis-fl">
                                            <div class="col-md-11 col-12">
                                                <table
                                                    class="table process-tb table-bordered table-striped table-process-fnt dying-table width-100">
                                                    <tr>
                                                        <th>Item name</th>
                                                        <th>Supplier name</th>
                                                        <th>Concentration</th>
                                                        <th>By</th>
                                                    </tr>

                                                    <tr *ngFor='let chemical of step.dyeingChemicalData;let i=index;'>
                                                        <td>
                                                            {{chemical.itemName}}
                                                        </td>
                                                        <td>
                                                            {{chemical.supplierName}}
                                                        </td>
                                                        <td>
                                                            {{chemical.concentration}}
                                                        </td>
                                                        <td>{{chemical.byChemical}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </nb-accordion-item-body>
                                </nb-accordion-item>
                            </nb-accordion>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="row">
                    <div class="col-md-12 mobile-btn-center text-btn-right">
                        <div class="padding-bt-tp">
                            <button type="button" class="btn btn-primary btn-sm btn-design-cancel"
                                (click)="resetFormValues(myForm)">CANCEL</button>
                            <button *ngIf="addFlag" type="button"
                                class="btn btn-primary btn-sm btn-design-save button-base ripple"
                                (click)="addUpdateDyeingProcess(myForm)">SAVE</button>
                            <button type="button" *ngIf="updateFlag"
                                class="btn btn-primary btn-sm btn-design-save button-base ripple"
                                (click)="addUpdateDyeingProcess(myForm)">Update</button>
                        </div>
                    </div>
                </div>

            </form>
        </nb-card-body>
    </nb-card>
</div>