<ngx-loading [show]="loading"></ngx-loading>
<div class="row">
    <div class="col-lg-12">
        <nb-card class="nb-style">
            <nb-card-header class="nb-header">
                <div class="row">
                    <div class="col-md-1 col-3 display-flex-start">
                        <button [routerLink]="['/pages/party']" class="btn btn-md btn-design" [disabled]="disabled">ADD</button>
                    </div>
                    <div class="col-md-9 col-7">
                        <h2 class="nb-text">Party</h2>
                    </div>

                    <div class="col-md-2 col-2 display-flex-start desktop-justify-flexend">
                        <button class="btn btn-md btn-design" (click)="open()">EXPORT</button>
                    </div>
                </div>
            </nb-card-header>

            <nb-card-body>
                <div class="row">
                    <div class="col-md-6">
                        <nb-radio-group [(ngModel)]="radioSelect" class="radio-flex-between mr-16 mobile-pr-0">
                            <nb-radio *ngFor="let radio of radioArray" [disabled]="radio.disabled" [value]=radio.id (valueChange)="onChange($event)">{{radio.value}}</nb-radio>
                        </nb-radio-group>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" (keyup)="filter($event.target.value)">
                    </div>
                </div>
                <div class="ng-filter-main-popup display-none">

                    <div class="popup-ng">
                        <div class="popup-header text-center">
                            <nb-icon icon="funnel-outline" class="nb-icon-fil"></nb-icon>
                        </div>
                        <div class="popup-body">
                            <div class="section-1-popup">
                                <ng-select appendTo="body" class="popup-select">
                                    <ng-option [value]="1">name</ng-option>
                                    <ng-option [value]="2">name</ng-option>
                                    <ng-option [value]="3">name</ng-option>
                                    <ng-option [value]="4">name</ng-option>
                                    <ng-option [value]="5">name</ng-option>
                                </ng-select>

                                <div class="filter-input">
                                    <input type="text" class="form-control" placeholder="Filter...">
                                </div>
                                <div class="radio-popup">
                                    <div class="rd-1">
                                        <input type="radio" id="and" name="select" class="radio-btn"><label for="and">AND</label>
                                    </div>
                                    <div class="rd-2">
                                        <input type="radio" id="or" name="select" class="radio-btn"><label for="or">OR</label>
                                    </div>

                                </div>

                                <ng-select appendTo="body" class="popup-select">
                                    <ng-option [value]="1">name</ng-option>
                                    <ng-option [value]="2">name</ng-option>
                                    <ng-option [value]="3">name</ng-option>
                                    <ng-option [value]="4">name</ng-option>
                                    <ng-option [value]="5">name</ng-option>
                                </ng-select>

                                <div class="filter-input">
                                    <input type="text" class="form-control" placeholder="Filter...">
                                </div>
                            </div>

                            <div class="fil-border-top"></div>
                            <div class="section-1-popup">
                                <div class="filter-input">
                                    <input type="text" class="form-control" placeholder="Search...">
                                </div>

                            </div>
                            <div class="list-popup">
                                <ul class="list-type-none">
                                    <li><input type="checkbox" class="in-checkbox" id="in1"><label for="in1">(select All)</label></li>
                                    <li><input type="checkbox" class="in-checkbox" id="in2"><label for="in2"> (Blanks)</label></li>
                                    <li><input type="checkbox" class="in-checkbox" id="in3"><label for="in3"> A. J. Mleczko</label></li>
                                    <li><input type="checkbox" class="in-checkbox" id="in4"><label for="in4"> Aaron Armstrong</label></li>
                                    <li><input type="checkbox" class="in-checkbox" id="in5"><label for="in5"> Aaron Egbele</label></li>
                                    <li><input type="checkbox" class="in-checkbox" id="in6"><label for="in6"> Aaron Gate</label></li>
                                    <li><input type="checkbox" class="in-checkbox" id="in7"><label for="in7"> Aaron Gate</label></li>
                                    <li><input type="checkbox" class="in-checkbox"><span>Aaron Gate</span></li>
                                    <li><input type="checkbox" class="in-checkbox"><span>Aaron Gate</span></li>
                                    <li><input type="checkbox" class="in-checkbox"><span>Aaron Gate</span></li>
                                    <li><input type="checkbox" class="in-checkbox"><span>Aaron Gate</span></li>
                                    <li><input type="checkbox" class="in-checkbox"><span>Aaron Gate</span></li>
                                    <li><input type="checkbox" class="in-checkbox"><span>Aaron Gate</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <ag-grid-angular
                    #agGrid
                    
                    id="myGrid"
                    class="ag-theme-alpine"
                    [columnDefs]="columnDefs"
                    [defaultColDef]="defaultColDef"
                    [rowData]="rowData"
                    [frameworkComponents]="frameworkComponents"
                    [rowSelection]="rowSelection"
                    [pagination]="true"
                    [paginationPageSize]="paginationPageSize"
                    (gridReady)="onGridReady($event)"
                    ></ag-grid-angular> -->
                <ngx-datatable [rows]="partyList" [ngClass]="tablestyle" class="material" [headerHeight]="31" [footerHeight]="31">
                    <ngx-datatable-column name="Actions" *ngIf="!hiddenEdit || !hidden" sortable="false" props="id" [maxWidth]="90">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

                            <nb-icon status="primary" [options]="{animation:{type:'zoom'}}" icon="edit" [hidden]="hiddenEdit" [routerLink]="['/pages/party/edit',row.id]"></nb-icon>&nbsp;&nbsp;
                            <nb-icon status="danger" [options]="{animation:{type:'zoom'}}" icon="trash" [hidden]="hidden" (click)="deleteParty(row.id)"></nb-icon>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Party Name" props="partyName">
                        <ng-template ngx-datatable-header-template let-value="value">
                            Party Name
                            <div class="filter-icon" id="onclickFilter">
                                <nb-icon icon="menu-outline" class="nb-icon-filter"></nb-icon>
                            </div>

                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Party Address1" props="partyAddress1"></ngx-datatable-column>
                    <ngx-datatable-column name="Contact No" props="contactNo"></ngx-datatable-column>
                    <ngx-datatable-column name="City" props="city"></ngx-datatable-column>
                    <ngx-datatable-column name="State" props="state"></ngx-datatable-column>
                </ngx-datatable>
            </nb-card-body>


        </nb-card>
    </div>
</div>