<ngx-loading [show]="loading"></ngx-loading>
<div class="row">
    <div class="col-lg-12">
        <nb-card class="nb-style">
            <nb-card-header class="nb-header">
                <div class="row">
                    <div class="col-md-1 col-3 mobile-btn desktop-btn">
                        <button routerLink='add' style="float:right" class="btn btn-md btn-list" [disabled]="disabled">ADD</button>
                    </div>
                    <div class="col-md-9 col-7">
                        <h2 class="nb-text">Party</h2>
                    </div>

                    <div class="col-md-2 col-2 mobile-btn desktop-btn dek-jus">
                        <button style="float:right;" class="btn btn-md btn-list" (click)="open()">EXPORT</button>
                    </div>
                </div>
            </nb-card-header>

            <nb-card-body>
                <div class="row">
                    <div class="col-md-6">
                        <nb-radio-group style="display: flex;" [(ngModel)]="radioSelect" class="nb-radio">
                            <nb-radio *ngFor="let radio of radioArray" [disabled]="radio.disabled" [value]=radio.id (valueChange)="onChange($event)">{{radio.value}}</nb-radio>
                        </nb-radio-group>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" (keyup)="filter($event.target.value)">
                    </div>
                </div>
                <div *ngIf="filterDivFlag" class="ng-filter-main-popup">

                    <div class="popup-ng">
                        <div class="popup-header text-center">
                            <nb-icon icon="funnel-outline" class="nb-icon-fil"></nb-icon>
                        </div>
                        <div class="popup-body">
                            <div class="section-1-popup">
                                <ng-select appendTo="body" class="popup-select" placeholder="Select Filter" (change)="onChangeFilterSettings($event)" [(ngModel)]="selectedFilter1">
                                    <ng-option [value]="1">Conatins</ng-option>
                                    <ng-option [value]="2">Not Contains</ng-option>
                                    <ng-option [value]="3">Equals</ng-option>
                                    <ng-option [value]="4">Not Equals</ng-option>
                                    <ng-option [value]="5">Starts With</ng-option>
                                    <ng-option [value]="6">Ends With</ng-option>
                                </ng-select>

                                <div class="filter-input">
                                    <input type="text" class="form-control" placeholder="Filter..." (keyup)="keyUpFilter($event.target.value)">
                                </div>

                                <div class="fil-border-top"></div>

                                <div *ngIf="filterAndOrFlag">
                                    <div class="radio-popup">
                                        <div class="rd-1">
                                            <input type="radio" id="and" name="select" class="radio-btn"><label for="and">AND</label>
                                        </div>
                                        <div class="rd-2">
                                            <input type="radio" id="or" name="select" class="radio-btn"><label for="or">OR</label>
                                        </div>
    
                                    </div>
    
                                    <ng-select appendTo="body" class="popup-select" placeholder="Select Filter">
                                        <ng-option [value]="1">Conatins</ng-option>
                                        <ng-option [value]="2">Not Contains</ng-option>
                                        <ng-option [value]="3">Equals</ng-option>
                                        <ng-option [value]="4">Not Equals</ng-option>
                                        <ng-option [value]="5">Starts With</ng-option>
                                        <ng-option [value]="6">Ends With</ng-option>
                                    </ng-select>    
    
                                    <div class="filter-input">
                                        <input type="text" class="form-control" placeholder="Filter...">
                                    </div>
                                </div>
                                
                            </div>

                            
                            <div class="section-1-popup">
                                <div class="filter-input">
                                    <input type="text" class="form-control" placeholder="Search..." (keyup)="searchFilterList($event.target.value)">
                                </div>

                            </div>
                            <div class="list-popup">
                                <ul class="list-type-none"  >
                                    <li *ngFor="let list of filterListDiv; let i = index" class="name">
                                        <input type="checkbox" class="in-checkbox selector" name="{{list}}" checked>{{list}}
                                    </li>
                                    
                                </ul>
                            </div>
                            <div>
                                <button (click)="outside()">
                                    OK
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <ngx-datatable [rows]="partyList" [ngClass]="tablestyle" class="material" [headerHeight]="31" [footerHeight]="31">
                    <ngx-datatable-column name="Actions" *ngIf="!hiddenEdit || !hidden" sortable="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

                            <nb-icon status="primary" [options]="{animation:{type:'zoom'}}" icon="edit" [hidden]="hiddenEdit" [routerLink]="['/pages/party/edit',row.id]"></nb-icon>&nbsp;&nbsp;
                            <nb-icon status="danger" [options]="{animation:{type:'zoom'}}" icon="trash" [hidden]="hidden" (click)="deleteParty(row.id)"></nb-icon>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Party Name" props="partyName">

                        <ng-template ngx-datatable-header-template let-value="value">Party Name
                           
                            <div class="filter-icon" id="onclickFilter">
                                <nb-icon icon="menu-outline" class="nb-icon-filter" (click)="filterOpen('partyName',0)"></nb-icon>

                            </div>
                            

                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Party Address1" props="partyAddress1">
                        <ng-template ngx-datatable-header-template let-value="value">Party Address1
                           
                            <div class="filter-icon" id="onclickFilter">
                                <nb-icon icon="menu-outline" class="nb-icon-filter" (click)="filterOpen('partyAddress1',1)"></nb-icon>

                            </div>

                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Contact No" props="contactNo">
                        <ng-template ngx-datatable-header-template let-value="value">Contact No
                           
                            <div class="filter-icon" id="onclickFilter">
                                <nb-icon icon="menu-outline" class="nb-icon-filter" (click)="filterOpen('contactNo',2)"></nb-icon>

                            </div>

                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="City" props="city">
                        <ng-template ngx-datatable-header-template let-value="value">City
                           
                            <div class="filter-icon" id="onclickFilter">
                                <nb-icon icon="menu-outline" class="nb-icon-filter" (click)="filterOpen('city',3)"></nb-icon>

                            </div>

                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="State" props="state">
                        <ng-template ngx-datatable-header-template let-value="value">State
                           
                            <div class="filter-icon" id="onclickFilter">
                                <nb-icon icon="menu-outline" class="nb-icon-filter" (click)="filterOpen('state',4)"></nb-icon>

                            </div>

                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </nb-card-body>


        </nb-card>
    </div>
</div>