<nb-card class="nb-style">
    <nb-card-header class="nb-header">
        <div class="row">
            <!-- <div class="col-md-2 col-5 mobile-btn desktop-btn">
                <button routerLink='add' style="float:right" class="btn btn-primary btn-md btn-list txt-ov-elips">Generate
                    Invoice</button>
            </div> -->
            <div class="col-md-9 col-4">
                <h2 class="nb-text txt-ov-elips">Advance Payment</h2>
            </div>
            <!-- <div class="col-md-1 col-3 mobile-btn desktop-btn dek-jus">
                <button style="float:right;" class="btn btn-primary btn-md btn-list">PRINT</button>
            </div> -->
        </div>
    </nb-card-header>
    <nb-card-body>
        <form #paymentForm="ngForm">
            <div  class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="required">Party Name:</label>
                        <ng-select name="partyId" [(ngModel)]='advancePaymentValues.partyId' required #partyId1="ngModel"
                            [ngClass]="{'is-invalid': (partyId1.invalid)&&(formSubmitted || partyId1.touched)}"
                             placeholder="Party Name" class="required-error-dropdown">
                            <ng-option *ngFor="let p of party" [value]="p.id">{{p.partyName}}</ng-option>
                        </ng-select>

                        <div class="required-class" *ngIf="(formSubmitted && partyId1.invalid) || (partyId1.invalid && partyId1.touched)">
                            <span>Party name is required</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="required">Payment Type:</label>
                        <ng-select name="payTypeId" [(ngModel)]='advancePaymentValues.payTypeId' required #payType1="ngModel"
                            [ngClass]="{'is-invalid': (payType1.invalid)&&(formSubmitted || payType1.touched)}"
                             placeholder="Payment type" class="required-error-dropdown" (change)="paymentTypeSelected($event)">
                            <ng-option *ngFor="let type of paymentTypeList" [value]="type.id">{{type.paymentType}}</ng-option>
                        </ng-select>

                        <div class="required-class"
                            *ngIf="(formSubmitted && payType1.invalid) || (payType1.invalid && payType1.touched)">
                            <span>Payment type is required</span>
                        </div>
                    </div>
                </div>
           
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="required">Amount</label>
                        <input type="number" class="form-control" [(ngModel)]="advancePaymentValues.amt"
                        name="amt" #amt1="ngModel" 
                        [ngClass]="{'is-invalid':(amt1.invalid)&&(formSubmitted || amt1.touched)}" required >
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="required">Remark</label>
                        <input type="text" class="form-control" [(ngModel)]="advancePaymentValues.remark"
                        name="remark" #remark1="ngModel" 
                        [ngClass]="{'is-invalid':(remark1.invalid)&&(formSubmitted || remark1.touched)}" required >
                    </div>
                </div>
            </div>
            <div *ngIf="cashSelected" class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="required">Cheque No.</label>
                        <input type="number" class="form-control" [(ngModel)]="advancePaymentValues.no"
                        name="no" #chequeNo1="ngModel" 
                        [ngClass]="{'is-invalid':(chequeNo1.invalid)&&(formSubmitted || chequeNo1.touched)}" required >
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="required">Bank</label>
                        <
                        <input type="text" class="form-control" [(ngModel)]="advancePaymentValues.bank"
                        name="bank" #bank1="ngModel" 
                        [ngClass]="{'is-invalid':(bank1.invalid)&&(formSubmitted || bank1.touched)}" required >
                    </div>
                </div>

               
            </div>
            <div class="row">
                <div class="col-md-12 mobile-btn-center text-btn-right">
                    <div class="padding-bt-tp">

                        <!-- <button *ngIf="this.currentProgramId != null" type="button" (click)="updateProgram(myForm)"
                            class="btn btn-primary btn-sm btn-design" style="margin-right:20px" [disabled]="disableButton">UPDATE</button> -->
                        <button type="button" class="btn btn-primary btn-sm btn-design-cancel" routerLink="/pages/payment">CANCEL</button>
                        <button *ngIf="this.currentAdvancePaymentId == null" type="button" class="btn btn-primary btn-sm btn-design" (click)="addAdvancePayment(paymentForm)">SAVE</button>
                    </div>

                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>