<nb-card class="nb-style">
    <nb-card-header class="nb-header">
        <div *ngIf="this.currentColorId == null; else updateC">
            <h2 class="nb-text">Add Color Stock</h2>
        </div>
        <ng-template #updateC>
            <h2 class="nb-text">Update Color Stock</h2>
        </ng-template>
    </nb-card-header>
    <nb-card-body>
        <div>
            <form #colorForm="ngForm" (keydown.enter)="$event.preventDefault()">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="required">Supplier Name</label>
                        <ng-select placeholder="Select supplier name" [(ngModel)]="color.supplierId"
                            #supplierName1="ngModel" name="supplierName" (click)="getAllSupplierRate($event)" required>
                            <ng-option *ngFor="let s of supplierList" [value]="s.id">
                                {{s.supplierName}}
                            </ng-option>
                        </ng-select>
                        <div class="required-class" *ngIf="formSubmitted && (supplierName1.invalid)">
                            <span>Supplier Name is required</span>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="required">Bill No</label>
                        <input type="number" class="form-control" [(ngModel)]="color.billNo" #billNo1="ngModel"
                            name="billNo" required [ngClass]="{'is-invalid':formSubmitted && !(billNo1.valid) }" min="0"
                            placeholder="Bill No">
                        <div class="invalid-feedback"
                            *ngIf="formSubmitted && (billNo1.invalid || (billNo1.dirty || billNo1.untouched) )">
                            <span>Bill no is required</span>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="required">Bill Date</label>
                        <input type="date" name="billDate" class="form-control" #billDate1="ngModel"
                            [(ngModel)]="color.billDate" ngbDatepicker #dp="ngbDatepicker" required
                            [ngClass]="{'is-invalid': formSubmitted && billDate1.invalid}" placeholder="Bill Date">

                        <div class="invalid-feedback" *ngIf="formSubmitted && (billDate1.invalid)">
                            <span>Bill date is required</span>
                        </div>
                    </div>


                </div>


                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="required">Challan No</label>
                        <input type="number" class="form-control" [(ngModel)]="color.chlNo" #chlNo1="ngModel"
                            name="chlNo" required [ngClass]="{'is-invalid':formSubmitted && !(chlNo1.valid) }" min="0"
                            placeholder="Challan No">
                        <div class="invalid-feedback"
                            *ngIf="formSubmitted && (chlNo1.invalid || (chlNo1.dirty || chlNo1.untouched) )">
                            <span>Challan no is required</span>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="required">Challan Date</label>
                        <input type="date" name="chlDate" class="form-control" #chlDate1="ngModel"
                            [(ngModel)]="color.chlDate" ngbDatepicker #dp1="ngbDatepicker" required
                            [ngClass]="{'is-invalid': formSubmitted && chlDate1.invalid}" placeholder="Challan Date">

                        <div class="invalid-feedback" *ngIf="formSubmitted && (billDate1.invalid)">
                            <span>Challan date is required</span>
                        </div>
                    </div>



                    <div class="form-group col-md-4">
                        <label class="required">Bill Amount</label>
                        <input class="form-control" [(ngModel)]="color.billAmount" #billAmount1="ngModel"
                            name="billAmount" required type="number" min="0"
                            [ngClass]="{'is-invalid':formSubmitted && !(billAmount1.valid) }" placeholder="Bill Amount">
                        <div class="invalid-feedback"
                            *ngIf="formSubmitted && (billAmount1.invalid || (billAmount1.dirty || billAmount1.untouched) )">
                            <span>Bill Amount is required</span>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Remark</label>
                        <textarea name="remark" #remark1="ngModel" [(ngModel)]="color.remark"
                            class="form-control remark-resize" placeholder="Remark"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <ngx-datatable #table class="material common-table datatable-auto-height"
                            [rows]="color.colorDataList" [headerHeight]="31" [footerHeight]="31">
                            <ngx-datatable-column name="Action" [sortable]="false" [width]="200">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template
                                    let-rowIndex="rowIndex">
                                    <nb-icon icon="trash" status="danger" [options]="{ animation: { type: 'zoom' } }"
                                        (click)="removeItem(rowIndex)"></nb-icon>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Item Name" prop="color.itemId" [sortable]="false" [width]="250">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <select #itemName1="ngModel" name='itemName{{rowIndex}}' class="tableForm"
                                        id="itemName" [(ngModel)]="row.itemId" required
                                        (keyup)="onKeyUp($event,rowIndex,0,'itemName')" [id]="'colorList'+rowIndex+'-0'"
                                        (change)="itemSelected(rowIndex,0)">
                                        <option *ngFor="let s of supplierListRate" [value]="s.id">
                                            {{s.itemName}}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback" *ngIf="formSubmitted && (itemName1.invalid)"
                                        style="display: inline-block;">
                                        <span>Required</span>
                                    </div>

                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Quantity per box" [sortable]="false" [width]="300"
                                prop="color.quantiyPerBox">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <input type="number" #quantityPerBox1="ngModel" name='quantiyPerBox{{rowIndex}}'
                                        class="tableForm" id="quantityPerBox" [(ngModel)]="row.quantityPerBox"
                                        (change)="updateValueOfTotalQuantity(rowIndex)"
                                        (keyup)="onKeyUp($event,rowIndex,1,'quantityPerBox')"
                                        [id]="'colorList'+rowIndex+'-1'" required min="0">
                                    <div class="invalid-feedback" *ngIf="formSubmitted && (quantityPerBox1.invalid)"
                                        style="display: inline-block;">
                                        <span>Required</span>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="No. of box" prop="noOfBox" [sortable]="false" [width]="300">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <input class="tableForm" type="number" #noOfBox1="ngModel"
                                        name='noOfBox{{rowIndex}}' [(ngModel)]="row.noOfBox"
                                        (keyup)="onKeyUp($event,rowIndex,2,'noOfBox')"
                                        (input)="calculateTotalQuantity(rowIndex,2)" [id]="'colorList'+rowIndex+'-2'"
                                        required min="0">
                                    <div class="invalid-feedback" *ngIf="formSubmitted && (noOfBox1.invalid)"
                                        style="display: inline-block;">
                                        <span>Required</span>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Total quantity" prop="quantity" [sortable]="false"
                                [width]="300">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <input class="tableForm" type="number" #quantity1="ngModel"
                                        name='quantity{{rowIndex}}' [(ngModel)]="row.quantity"
                                        (keyup)="onKeyUp($event,rowIndex,3,'quantity')" [id]="'colorList'+rowIndex+'-3'"
                                        readonly>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Rate" prop="rate" [sortable]="false" [width]="300">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <input class="tableForm" type="number" #rate1="ngModel" name='rate{{rowIndex}}'
                                        [(ngModel)]="row.rate" (keyup)="onKeyUp($event,rowIndex,4,'rate')"
                                        (input)="calculateAmount(rowIndex,4)" [id]="'colorList'+rowIndex+'-4'" min="0">
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Amount" prop="amount" [sortable]="false" [width]="300">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <input class="tableForm" type="number" #amount1="ngModel" name='amount{{rowIndex}}'
                                        [(ngModel)]="row.amount" (keyup)="onKeyUp($event,rowIndex,5,'amount')"
                                        [id]="'colorList'+rowIndex+'-5'" readonly>
                                </ng-template>
                            </ngx-datatable-column>
                            

                        </ngx-datatable>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mobile-btn-center">
                        <div class="padding-bt-tp">
                            <button *ngIf="this.currentColorId == null" type="button" class="btn btn-primary btn-sm btn-design"
                                style="margin-right:20px" (click)="addColor(colorForm)">ADD</button>
                            <button *ngIf="this.currentColorId != null" type="button" (click)="updateColor(colorForm)"
                                class="btn btn-primary btn-sm btn-design" style="margin-right:20px">UPDATE</button>
                            <button class="btn btn-primary btn-sm btn-design" routerLink='/pages/color'>CANCEL</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </nb-card-body>
</nb-card>