<ngx-loading [show]="loading"></ngx-loading>

<div id="target"></div>
<nb-card class="nb-style">
    <nb-card-header class="nb-header">

        <div class="row">
            <div class="col-md-5 col-7 display-flex-start max-width-device  mobile-pd-lf-0">
                <button class="btn btn-md btn-design txt-ov-elips mobile-mr-lf-0 mob-font-12" [routerLink]="['/pages/purchase/view']">View
                    Table</button>

            </div>


            <div class="col-md-7 col-5">
                <div *ngIf="this.currentId == null; else updateS">
                    <h2 class="nb-text txt-ov-elips mob-font-13">Add Purchase</h2>
                </div>
                <ng-template #updateS>
                    <h2 class="nb-text txt-ov-elips mob-font-13">Update Purchase</h2>
                </ng-template>
            </div>

        </div>

    </nb-card-header>
    <nb-card-body>


        <div>
            <form #purchaseForm="ngForm">
                <div class="row">

                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label class="required">Department</label>
                            <ng-select name="department" appendTo="body" #department1="ngModel" [(ngModel)]="purchase.departmentId" placeholder="Select Department" required [ngClass]="{'is-invalid': (department1.invalid)&&(formSubmitted || department1.touched)}" class="required-error-dropdown dropdown-name">
                                <ng-option disabled="true">
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <div class="text-left txt-ov-elips">Department Name</div>
                                        </div>
                                    </div>
                                </ng-option>
                                <ng-option *ngFor="let department of departmentList" [value]="department.id">
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <div class="text-left txt-ov-elips"> {{department.name}}</div>
                                        </div>

                                    </div>
                                </ng-option>
                            </ng-select>

                            <div class="input-required" *ngIf="(department1.invalid)&&(formSubmitted || department1.touched)">
                                <span>Department is required.</span>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label class="required">Amount</label>
                            <input type="number" name="amount" #amount1="ngModel" [(ngModel)]="purchase.amt" class="form-control size-small" fieldsize="small" nbinput placeholder="Enter Amount" [ngClass]="{'is-invalid':(amount1.invalid) &&(formSubmitted || amount1.touched)}" required
                            />

                            <div class="input-required" *ngIf="amount1.invalid
                                &&
                                (formSubmitted || amount1.touched)">
                                <span>Amount is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Remark</label>
                            <input type="text" class="form-control size-small" fieldsize="small" nbinput name="remark" [(ngModel)]="purchase.remark" #remark1="ngModel" placeholder="Remark" />
                        </div>
                    </div>

                </div>

                <div class="row">


                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label class="required">Approve By</label>
                            <ng-select name="approveBy" appendTo="body" [(ngModel)]='purchase.approvedById' required #approveBy1="ngModel" [ngClass]="{'is-invalid': (approveBy1.invalid)&&(formSubmitted || approveBy1.touched)}" placeholder="Select approve by" class="required-error-dropdown dropdown-name">
                                <ng-option disabled="true">
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <div class="text-left txt-ov-elips">Name</div>
                                        </div>
                                        <div class="col-md-4 col-4">
                                            <div class="text-center txt-ov-elips">Contact</div>
                                        </div>

                                    </div>
                                </ng-option>
                                <ng-option *ngFor="let approve of approveByList" [value]="approve.id">
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <div class="text-left txt-ov-elips"> {{approve.name}}</div>
                                        </div>
                                        <div class="col-md-4 col-4">
                                            <div class="text-center txt-ov-elips"> {{approve.contact}}</div>
                                        </div>

                                    </div>
                                </ng-option>
                            </ng-select>
                            <div class="input-required" *ngIf="(approveBy1.invalid) && (formSubmitted || approveBy1.touched)">
                                <span>Approve by is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label class="required">Receive By</label>
                            <ng-select name="receiveBy" appendTo="body" [(ngModel)]='purchase.receiverById' required #receiveBy1="ngModel" [ngClass]="{'is-invalid': (receiveBy1.invalid)&&(formSubmitted || receiveBy1.touched)}" placeholder="Select receive by" class="required-error-dropdown dropdown-name">
                                <ng-option disabled="true">
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <div class="text-left txt-ov-elips">Name</div>
                                        </div>
                                        <div class="col-md-4 col-4">
                                            <div class="text-center txt-ov-elips">Contact</div>
                                        </div>

                                    </div>
                                </ng-option>
                                <ng-option *ngFor="let receiver of receiveByList" [value]="receiver.id">
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <div class="text-left txt-ov-elips"> {{receiver.name}}</div>
                                        </div>
                                        <div class="col-md-4 col-4">
                                            <div class="text-center txt-ov-elips"> {{receiver.contact}}</div>
                                        </div>

                                    </div>
                                </ng-option>
                            </ng-select>
                            <div class="input-required" *ngIf="(receiveBy1.invalid) && (formSubmitted || receiveBy1.touched)">
                                <span>Receive by is required</span>
                            </div>
                        </div>
                    </div>

                </div>




                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-group">

                            <label class="required">Invoice</label>
                            <ng-container class="mar-left-for-prog" *ngIf="invUploadFlag">
                                <circle-progress #invbar [showInnerStroke]=false [percent]="processValue" [outerStrokeColor]="'#005ec2'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300" [radius]="10" [titleFontSize]="6" [unitsFontSize]="6" [outerStrokeWidth]="2"
                                    [titleFontWeight]="900" [unitsFontWeight]="900" [showSubtitle]=false></circle-progress>
                            </ng-container>
                            <div class="">
                                <input type="file" accept="image/x-png,image/gif,image/jpeg" name="bill" multiple style=" color: transparent; " class="form-control size-small registration-document filepicker width-100" id="bill" placeholder="Upload invoice" [(ngModel)]="bill" #bill1="ngModel" (change)="handleFileInput($event.target.files,'bill')"
                                    required [ngClass]="{'is-invalid':(bill1.invalid) &&(formSubmitted || bill1.touched)}">
                          
                                <div class="input-required" *ngIf="bill1.invalid
                                           &&
                                           (formSubmitted || bill1.touched)">
                                    <span>Invoice is required</span>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="!currentId">
                          <ng-container *ngIf="imgPreviewForinvAdd && invurl.length">
                            <div class="max-popup-purchase mobile-width-100">
                                <div *ngFor="let url of invurl | imagePreviewPipe : imageIndexForinvAdd; let i = index" class="text-center mobile-100">
                                    <img [src]="url">
                                    <nb-icon icon="close-circle-outline" (click)="removeImage('invAdd',imageIndexForinvAdd)"></nb-icon>
                                </div>
                                <div class="next-previous-btn">
                                    <div class="back-btn">
                                        <nb-icon icon="arrow-back-outline" (click)="previous('invAdd')"></nb-icon>
                                    </div>
                
                                    <div class="next-btn">
                                        <nb-icon icon="arrow-forward-outline" (click)="next('invAdd')"></nb-icon>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row text-center mt-3">
                                    <div class="col-md-12">
                                        <span class="bottom-count-img">
                                        {{imageIndexForinvAdd + 1}} / {{invurl.length}}
                                       </span>
                                    </div>
                                </div>
                            </div>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngIf="currentId">

                            <ng-container *ngIf="imgPreviewForinvUpdate && invUpdateurl.length">
                                <div class="max-popup-purchase mobile-width-100">
                                    <div *ngFor="let url of invUpdateurl | imagePreviewPipe : imageIndexForinvUpdate; let i = index" class="text-center mobile-100">
                                        <img [src]="url">
                                        <nb-icon icon="close-circle-outline" (click)="removeImage('invUpdate',imageIndexForinvUpdate)"></nb-icon>
                                    </div>
                                    <div class="next-previous-btn">
                                        <div class="back-btn">
                                            <nb-icon icon="arrow-back-outline" (click)="previous('invUpdate')"></nb-icon>
                                        </div>
                    
                                        <div class="next-btn">
                                            <nb-icon icon="arrow-forward-outline" (click)="next('invUpdate')"></nb-icon>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row text-center mt-3">
                                        <div class="col-md-12">
                                            <span class="bottom-count-img">
                                            {{imageIndexForinvUpdate + 1}} / {{invUpdateurl.length}}
                                           </span>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                        </ng-container>
                    </div>

                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>Material</label>
                            <ng-container class="mar-left-for-prog" *ngIf="matUploadFlag">
                                <circle-progress #matbar [showInnerStroke]=false [percent]="processValue2" [outerStrokeColor]="'#005ec2'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300" [radius]="10" [titleFontSize]="6" [unitsFontSize]="6" [outerStrokeWidth]="2"
                                    [titleFontWeight]="900" [unitsFontWeight]="900" [showSubtitle]=false></circle-progress>
                            </ng-container>
                            <div class="">
                                <input type="file" accept="image/x-png,image/gif,image/jpeg" name="material" style=" color: transparent;" class="form-control size-small registration-document filepicker width-100" id="material" placeholder="Upload material" [(ngModel)]="material" #material1="ngModel" (change)="handleFileInput($event.target.files,'material')"
                                     [ngClass]="{'is-invalid':(material1.invalid) &&(formSubmitted || material1.touched)}">
                                <!-- <div class="input-required" *ngIf="material1.invalid
                                           &&
                                           (formSubmitted || material1.touched)">
                                    <span>Material is required</span>
                                </div> -->
                            </div>
                        </div>
                        <ng-container *ngIf="!currentId">

                            <ng-container *ngIf="imgPreviewFormatAdd && maturl.length">
                                <div class="max-popup-purchase mobile-width-100">
                                    <div *ngFor="let url of maturl | imagePreviewPipe : imageIndexFormatAdd; let i = index" class="text-center mobile-100">
                                        <img [src]="url">
                                        <nb-icon icon="close-circle-outline" (click)="removeImage('matAdd',imageIndexFormatAdd)"></nb-icon>
                                    </div>
                                    <div class="next-previous-btn">
                                        <div class="back-btn">
                                            <nb-icon icon="arrow-back-outline" (click)="previous('matAdd')"></nb-icon>
                                        </div>
                    
                                        <div class="next-btn">
                                            <nb-icon icon="arrow-forward-outline" (click)="next('matAdd')"></nb-icon>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row text-center mt-3">
                                        <div class="col-md-12">
                                            <span class="bottom-count-img">
                                            {{imageIndexFormatAdd + 1}} / {{maturl.length}}
                                           </span>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                        </ng-container>

                        <ng-container *ngIf="currentId">

                            <ng-container *ngIf="imgPreviewFormatUpdate && matUpdateurl.length">
                                <div *ngFor="let url of matUpdateurl | imagePreviewPipe : imageIndexFormatUpdate; let i = index" class="max-popup-purchase mobile-width-100">
                                    <div  class="text-center mobile-100">
                                        <img [src]="url">
                                        <nb-icon icon="close-circle-outline" (click)="removeImage('matUpdate',imageIndexFormatUpdate)"></nb-icon>
                                    </div>
                                    <div class="next-previous-btn">
                                        <div class="back-btn">
                                            <nb-icon icon="arrow-back-outline" (click)="previous('matUpdate')"></nb-icon>
                                        </div>
                    
                                        <div class="next-btn">
                                            <nb-icon icon="arrow-forward-outline" (click)="next('matUpdate')"></nb-icon>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row text-center mt-3">
                                        <div class="col-md-12">
                                            <span class="bottom-count-img">
                                            {{imageIndexFormatUpdate + 1}} / {{matUpdateurl.length}}
                                           </span>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12 mobile-btn-center text-btn-right">


                        <button *ngIf="!this.currentId" class="btn btn-primary btn-sm btn-design-cancel" type="button" (click)="reset(purchaseForm)">CANCEL</button>

                        <button *ngIf="this.currentId" class="btn btn-primary btn-sm btn-design-cancel" type="button" [routerLink]="['/pages/purchase/view']">CANCEL</button>


                        <button *ngIf="this.currentId" type="button" (click)="updatePurchase(purchaseForm)" class="btn btn-primary btn-sm btn-design-save button-base ripple" [disabled]="disableButton">UPDATE</button>

                        <button *ngIf="!this.currentId" type="button" class="btn btn-primary btn-sm btn-design-save button-base ripple" (click)="addPurchase(purchaseForm)" [disabled]="disableButton">SAVE</button>


                    </div>

                </div>
            </form>
        </div>
    </nb-card-body>
</nb-card>  