<nb-card class="nb-style">
    <nb-card-body>
        <nb-tabset fullWidth class="boiler-thermopack-tabheader">
            <nb-tab tabTitle="Boiler">

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="shift">Select Shift:</label>
                            <select class="form-control" (change)="shiftBoilerchange($event.target.value)"
                                class="browser-default custom-select form-control">
                                <option *ngFor="let sh of shift" [value]="sh.id">
                                    {{sh.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="shift">Select Date:</label><span style="color: red;"> *</span>
                            <input class="form-control" style="width: 100%;height: 100%;" [owlDateTimeTrigger]="dt1"
                                [owlDateTime]="dt1" [max]="max" placeholder="Select Date" ([ngModel])="dateSelected">
                            <owl-date-time (afterPickerClosed)="changeBoiler(dt1)" [pickerType]="'calendar'" #dt1>
                            </owl-date-time>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="shift">Select Time:</label>
                            <select class="form-control" (change)="selectedBoilerTime($event.target.value)"
                                class="browser-default custom-select form-control" aria-placeholder="Select Time">
                                <option value="9999">Select Time</option>
                                <option *ngFor="let t of timeList" [value]="t.id">
                                    {{t.name}}</option>
                            </select>
                            
                        </div>
                    </div>
                </div>

                <div *ngIf="BoilerdayFlag">

                    <form #logForm="ngForm">
                        <table border="3px" style="width: 100%;text-align: center;"
                            class="table-responsive table-input-width table-display-inline">
                            <tr>
                                <td colspan="14">
                                    <strong style="font-size: 20px;">Boiler</strong>
                                </td>
                                <td colspan="4">
                                    <select class="browser-default custom-select sheet-dashboard"
                                        (change)="boilerchange($event.target.value)">
                                        <option *ngFor="let boi of boiler" [value]="boi.id">
                                            {{boi.machineName}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="6">Attribute</th>
                                <th *ngIf="BoilerheaderFlag" colspan="10">Enter value</th>
                                <ng-container *ngIf="!BoilerheaderFlag">
                                    <th colspan="2" *ngFor="let day of dayArray">{{day}}</th>
                                </ng-container>
                            </tr>

                            <tr *ngFor="let val of valueArray;let i = index">
                                <td colspan="6">
                                    {{val.Attribute}}
                                </td>
                                <td *ngIf="BoilerDay10Flag" colspan="2">
                                    <input [readonly]="readonlyBoilerDayFlag" type="number" [(ngModel)]="val.time_10" [name]="val.Attribute+'10'" class="form-control">
                                </td>
                                <td *ngIf="BoilerDay12Flag" colspan="2">
                                    <input [readonly]="readonlyBoilerDayFlag" type="number" [(ngModel)]="val.time_12" [name]="val.Attribute+'12'" class="form-control">
                                </td>
                                <td *ngIf="BoilerDay14Flag" colspan="2">
                                    <input [readonly]="readonlyBoilerDayFlag" type="number" [(ngModel)]="val.time_14" [name]="val.Attribute+'14'" class="form-control">
                                </td>
                                <td *ngIf="BoilerDay16Flag" colspan="2">
                                    <input [readonly]="readonlyBoilerDayFlag" type="number" [(ngModel)]="val.time_16" [name]="val.Attribute+'16'" class="form-control">
                                </td>
                                <td *ngIf="BoilerDay18Flag" colspan="2">
                                    <input [readonly]="readonlyBoilerDayFlag" type="number" [(ngModel)]="val.time_18" [name]="val.Attribute+'18'" class="form-control">
                                </td>
                                <td *ngIf="BoilerDay20Flag" colspan="2">
                                    <input [readonly]="readonlyBoilerDayFlag" type="number" [(ngModel)]="val.time_20" [name]="val.Attribute+'20'" class="form-control">
                                </td>
                            </tr>
                        </table>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group pt-3">
                                    <label for="jetrunning">Jet Running</label><span style="color: red;"> *</span>
                                    <input [readonly]="readonlyBoilerDayFlag" class="form-control" type="Number" name="JetRunning" [(ngModel)]="jetRunning">
                                </div>
                            </div>
                        </div>
                        <div *ngIf="submitBoilerFlag" class="padding-bt-tp mobile-btn-center text-btn-right">
                            <input type="button" (click)="submitBoilerday(logForm)"
                                class="btn btn-primary btn-sm btn-design sheet-btn" value="Submit">
                        </div>
                        <div *ngIf="updateBoilerFlag" class="padding-bt-tp mobile-btn-center text-btn-right">
                            <input type="button" (click)="submitBoilerday(logForm)"
                                class="btn btn-primary btn-sm btn-design sheet-btn" value="Update">
                        </div>

                    </form>

                </div>

                <div *ngIf="BoilernightFlag">

                    <form #logForm="ngForm">
                        <table border="3px" style="width: 100%;text-align: center;"
                        class="table-responsive table-input-width table-display-inline">
                            <tr>
                                <td colspan="14">
                                    <strong style="font-size: 20px;">Boiler</strong>
                                </td>
                                <td colspan="4">
                                    <select class="browser-default custom-select sheet-dashboard"
                                        (change)="boilerchange($event.target.value)">
                                        <option *ngFor="let boi of boiler" [value]="boi.id">
                                            {{boi.machineName}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="6">Attribute</th>
                                <th *ngIf="BoilerheaderFlag" colspan="10">Enter value</th>
                                <ng-container *ngIf="!BoilerheaderFlag">
                                    <th colspan="2" *ngFor="let night of nightArray">{{night}}</th>
                                </ng-container>
                            </tr>

                            <tr *ngFor="let val of nightvalueArray;let i = index">
                                <td colspan="6">
                                    {{val.Attribute}}
                                </td>
                                <td *ngIf="BoilerNight22Flag" colspan="2">
                                    <input  [readonly]="readonlyBoilerNightFlag" type="number" [(ngModel)]="val.time_22" [name]="val.Attribute+'22'" class="form-control">
                                </td>
                                <td *ngIf="BoilerNight00Flag" colspan="2">
                                    <input [readonly]="readonlyBoilerNightFlag" type="number" [(ngModel)]="val.time_00" [name]="val.Attribute+'00'" class="form-control">
                                </td>
                                <td *ngIf="BoilerNight02Flag" colspan="2">
                                    <input [readonly]="readonlyBoilerNightFlag" type="number" [(ngModel)]="val.time_02" [name]="val.Attribute+'02'" class="form-control">
                                </td>
                                <td *ngIf="BoilerNight04Flag" colspan="2">
                                    <input [readonly]="readonlyBoilerNightFlag" type="number" [(ngModel)]="val.time_04" [name]="val.Attribute+'04'" class="form-control">
                                </td>
                                <td *ngIf="BoilerNight06Flag" colspan="2">
                                    <input [readonly]="readonlyBoilerNightFlag" type="number" [(ngModel)]="val.time_06" [name]="val.Attribute+'06'" class="form-control">
                                </td>
                                <td *ngIf="BoilerNight08Flag" colspan="2">
                                    <input [readonly]="readonlyBoilerNightFlag" type="number" [(ngModel)]="val.time_08" [name]="val.Attribute+'08'" class="form-control">
                                </td>
                            </tr>
                        </table>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="jetrunning">Jet Running</label><span style="color: red;"> *</span>
                                    <input [readonly]="readonlyBoilerNightFlag" class="form-control" type="Number" name="JetRunning" [(ngModel)]="jetRunning">
                                </div>
                            </div>
                        </div>

                        <div *ngIf="submitBoilerFlag" class="padding-bt-tp mobile-btn-center text-btn-right">
                            <input type="button" class="btn btn-primary btn-sm btn-design sheet-btn" (click)="submitBoilernight(logForm)" value="Submit">
                        </div>
                        <div *ngIf="updateBoilerFlag" class="padding-bt-tp mobile-btn-center text-btn-right">
                            <input type="button" (click)="submitBoilernight(logForm)"
                                class="btn btn-primary btn-sm btn-design sheet-btn" value="Update">
                        </div>

                    </form>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Thermopack">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="shift">Select Shift:</label>
                            <select class="form-control" (change)="shiftThermopackchange($event.target.value)"
                                class="browser-default custom-select form-control">
                                <option *ngFor="let sh of shift" [value]="sh.id">
                                    {{sh.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="shift">Select Date:</label><span style="color: red;"> *</span>
                            <input class="form-control" style="width: 100%;height: 100%;" [owlDateTimeTrigger]="dt2"
                                [owlDateTime]="dt2" [max]="max" placeholder="Select Date" ([ngModel])="dateSelected">
                            <owl-date-time (afterPickerClosed)="changeThermo(dt2)" [pickerType]="'calendar'" #dt2>
                            </owl-date-time>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="shift">Select Time:</label>
                            <select class="form-control" (change)="selectedThermopackTime($event.target.value)"
                                class="browser-default custom-select form-control" aria-placeholder="Select Time">
                                <option value="9999">Select Time</option>
                                <option *ngFor="let t of timeList" [value]="t.id">
                                    {{t.name}}</option>
                            </select>
                            
                        </div>
                    </div>
                </div>

                <div *ngIf="ThermopackdayFlag">

                    <form #logForm="ngForm">
                        <table border="3px" style="width: 100%;text-align: center;"
                            class="table-responsive table-input-width table-display-inline">
                            <tr>
                                <td colspan="14">
                                    <strong style="font-size: 20px;">Thermopack</strong>
                                </td>
                                <td colspan="4">
                                    <select class="browser-default custom-select sheet-dashboard"
                                        (change)="thermopackchange($event.target.value)">
                                        <option *ngFor="let ther of thermopack" [value]="ther.id">
                                            {{ther.machineName}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="6">Attribute</th>
                                <th *ngIf="ThermopackheaderFlag" colspan="10">Enter value</th>
                                <ng-container *ngIf="!ThermopackheaderFlag">
                                    <th colspan="2" *ngFor="let day of dayArray">{{day}}</th>
                                </ng-container>
                            </tr>

                            <tr *ngFor="let val of valueArray1;let i = index">
                                <td colspan="6">
                                    {{val.Attribute}}
                                </td>
                                <td *ngIf="ThermopackDay10Flag" colspan="2">
                                    <input [readonly]="readonlyThermopackDayFlag" type="number" [(ngModel)]="val.time_10" [name]="val.Attribute+'10'" class="form-control">
                                </td>
                                <td *ngIf="ThermopackDay12Flag" colspan="2">
                                    <input [readonly]="readonlyThermopackDayFlag" type="number" [(ngModel)]="val.time_12" [name]="val.Attribute+'12'" class="form-control">
                                </td>
                                <td *ngIf="ThermopackDay14Flag" colspan="2">
                                    <input [readonly]="readonlyThermopackDayFlag" type="number" [(ngModel)]="val.time_14" [name]="val.Attribute+'14'" class="form-control">
                                </td>
                                <td *ngIf="ThermopackDay16Flag" colspan="2">
                                    <input [readonly]="readonlyThermopackDayFlag" type="number" [(ngModel)]="val.time_16" [name]="val.Attribute+'16'" class="form-control">
                                </td>
                                <td *ngIf="ThermopackDay18Flag" colspan="2">
                                    <input [readonly]="readonlyThermopackDayFlag" type="number" [(ngModel)]="val.time_18" [name]="val.Attribute+'18'" class="form-control">
                                </td>
                                <td *ngIf="ThermopackDay20Flag" colspan="2">
                                    <input [readonly]="readonlyThermopackDayFlag" type="number" [(ngModel)]="val.time_20" [name]="val.Attribute+'20'" class="form-control">
                                </td>
                            </tr>
                        </table>
                        <div *ngIf="submitThermopackFlag" class="padding-bt-tp mobile-btn-center text-btn-right">
                            <input type="button" (click)="submitThermopackday(logForm)"
                                class="btn btn-primary btn-sm btn-design sheet-btn" value="Submit">
                        </div>
                        <div *ngIf="updateThermopackFlag" class="padding-bt-tp mobile-btn-center text-btn-right">
                            <input type="button" (click)="submitThermopackday(logForm)"
                                class="btn btn-primary btn-sm btn-design sheet-btn" value="Update">
                        </div>

                    </form>

                </div>

                <div *ngIf="ThermopacknightFlag">

                    <form #logForm="ngForm">
                        <table border="3px" style="width: 100%;text-align: center;"
                        class="table-responsive table-input-width table-display-inline">
                            <tr>
                                <td colspan="14">
                                    <strong style="font-size: 20px;">Thermopack</strong>
                                </td>
                                <td colspan="4">
                                    <select class="browser-default custom-select sheet-dashboard"
                                        (change)="thermopackchange($event.target.value)">
                                        <option *ngFor="let ther of thermopack" [value]="ther.id">
                                            {{ther.machineName}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="6">Attribute</th>
                                <th *ngIf="ThermopackheaderFlag" colspan="10">Enter value</th>
                                <ng-container *ngIf="!ThermopackheaderFlag">
                                    <th colspan="2" *ngFor="let night of nightArray">{{night}}</th>
                                </ng-container>
                            </tr>

                            <tr *ngFor="let val of nightvalueArray1;let i = index">
                                <td colspan="6">
                                    {{val.Attribute}}
                                </td>
                                <td *ngIf="ThermopackNight22Flag" colspan="2">
                                    <input [readonly]="readonlyThermopackNightFlag" type="number" [(ngModel)]="val.time_22" [name]="val.Attribute+'22'" class="form-control">
                                </td>
                                <td *ngIf="ThermopackNight00Flag" colspan="2">
                                    <input [readonly]="readonlyThermopackNightFlag" type="number" [(ngModel)]="val.time_00" [name]="val.Attribute+'00'" class="form-control">
                                </td>
                                <td *ngIf="ThermopackNight02Flag" colspan="2">
                                    <input [readonly]="readonlyThermopackNightFlag" type="number" [(ngModel)]="val.time_02" [name]="val.Attribute+'02'" class="form-control">
                                </td>
                                <td *ngIf="ThermopackNight04Flag" colspan="2">
                                    <input [readonly]="readonlyThermopackNightFlag" type="number" [(ngModel)]="val.time_04" [name]="val.Attribute+'04'" class="form-control">
                                </td>
                                <td *ngIf="ThermopackNight06Flag" colspan="2">
                                    <input [readonly]="readonlyThermopackNightFlag" type="number" [(ngModel)]="val.time_06" [name]="val.Attribute+'06'" class="form-control">
                                </td>
                                <td *ngIf="ThermopackNight08Flag" colspan="2">
                                    <input [readonly]="readonlyThermopackNightFlag" type="number" [(ngModel)]="val.time_08" [name]="val.Attribute+'08'" class="form-control">
                                </td>
                            </tr>
                        </table>
                        <div *ngIf="submitThermopackFlag" class="padding-bt-tp mobile-btn-center text-btn-right">
                            <input type="button" class="btn btn-primary btn-sm btn-design sheet-btn" (click)="submitThermopacknight(logForm)" value="Submit">
                        </div>
                        <div *ngIf="updateThermopackFlag" class="padding-bt-tp mobile-btn-center text-btn-right">
                            <input type="button" (click)="submitThermopacknight(logForm)"
                                class="btn btn-primary btn-sm btn-design sheet-btn" value="Update">
                        </div>

                    </form>
                </div>
            </nb-tab>
        </nb-tabset>

    </nb-card-body>
</nb-card>