.invoice {
    page-break-after: always;
  }
  
  .invoice:last-child {
    page-break-after: avoid;
  }
  
  @media print {
    .imp {
      -webkit-print-color-adjust: exact;
      background-color: yellow;
    }
  }