<ngx-loading [show]="loading"></ngx-loading>
<div class="row">
    <div class="col-lg-12">
        <nb-card class="nb-style">
            <nb-card-header class="nb-header">
                <div class="row">
                    <div class="col-md-5 col-6 display-flex-start max-width-device">
                        <ng-select class="btn btn-md" (change)="selectionChanges($event)" placeholder="Select">
                            <ng-option value="view">View Table</ng-option>
                            <ng-option value="add">Add Stock-batch</ng-option>
                            <ng-option value="view table">View Stock-batch</ng-option>
                            <ng-option value="job card">Job Card</ng-option>
                            <ng-option value="pending">Pending batches</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-md-7 col-6">
                        <h2 class="nb-text txt-ov-elips">Lot Return</h2>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-1">
                                    <label>Party</label>
                                    <ng-select name="partyId" [disabled]="disableFields" appendTo="body"
                                        [(ngModel)]='selectedParty' #partyId1="ngModel" (change)="enableQuality($event)"
                                        placeholder="Select Party">
                                        <ng-option disabled="true">
                                            <div class="row">
                                                <div class="col-md-6 col-6">
                                                    <div class="text-left txt-ov-elips">Party Name
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-6">
                                                    <div class="text-right txt-ov-elips">
                                                        Party Code</div>
                                                </div>
                                            </div>
                                        </ng-option>
                                        <ng-option *ngFor="let p of partyList" [value]="p.id">
                                            <div class="row">
                                                <div class="col-md-6 col-6">
                                                    <div class="text-left txt-ov-elips"> {{p.partyName}}</div>
                                                </div>
                                                <div class="col-md-6 col-6">
                                                    <div class="text-right txt-ov-elips"> {{p.partyCode}}</div>
                                                </div>
                                            </div>
                                        </ng-option>
                                    </ng-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                                    <label>Quality</label>
                                    <ng-select name="qualityId" [disabled]="disableFields" appendTo="body"
                                        [(ngModel)]='selectedQuality' #qualityId1="ngModel" placeholder="Select Quality"
                                        (change)="qualitySelected($event)">
                                        <ng-option *ngFor="let q of qualityList" [value]="q.id?q.id:q.qualityEntryId">
                                            {{q.qualityId}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                                    <label class="required">Delivery Person</label>
                                    <input class="form-control" name="broker" [(ngModel)]="broker" #broker1="ngModel"
                                        required placeholder="Enter delivery person"
                                        [ngClass]="{'is-invalid': (formSubmitted && broker1.invalid) || (broker1.invalid && broker1.touched)}">
                                    <div class="input-required"
                                        *ngIf="(formSubmitted && broker1.invalid) || (broker1.invalid && broker1.touched)">
                                        <span>Broker is required</span>
                                    </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                                    <label class="required">Tempo No</label>
                                    <input class="form-control" name="tempo" [(ngModel)]="tempoNo" #tempo="ngModel"
                                        required placeholder="Enter tempo no"
                                        [ngClass]="{'is-invalid': (formSubmitted && tempo.invalid) || (tempo.invalid && tempo.touched)}">
                                    <div class="input-required"
                                        *ngIf="(formSubmitted && tempo.invalid) || (tempo.invalid && tempo.touched)">
                                        <span>Tempo No is required</span>
                                    </div>
                        </div>
                    </div>
                    <div class="col-md-4"  style="margin: auto">
                        <div class="form-group">
                            <nb-checkbox class="user-all-check" [(ngModel)]="isDiffParty">
                                Is Delivery-Party Different
                            </nb-checkbox>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4" *ngIf="isDiffParty">
                        <div class="form-group">
                            <label class="required">Party Name</label>
                            <input class="form-control" name="diffPartyName" [(ngModel)]="diffPartyName"
                                #diffPartyName1="ngModel" required placeholder="Party Name"
                                [ngClass]="{'is-invalid': (formSubmitted && diffPartyName1.invalid) || (diffPartyName1.invalid && diffPartyName1.touched)}">
                            <div class="input-required"
                                *ngIf="(formSubmitted && diffPartyName1.invalid) || (diffPartyName1.invalid && diffPartyName1.touched)">
                                <span>Party name is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" *ngIf="isDiffParty">
                        <div class="form-group">
                            <label class="required">Party Address</label>
                            <input class="form-control" name="diffPartyAddr" [(ngModel)]="diffPartyAddr"
                                #diffPartyAddr1="ngModel" required placeholder="Party Name"
                                [ngClass]="{'is-invalid': (formSubmitted && diffPartyAddr1.invalid) || (diffPartyAddr1.invalid && diffPartyAddr1.touched)}">
                            <div class="input-required"
                                *ngIf="(formSubmitted && diffPartyAddr1.invalid) || (diffPartyAddr1.invalid && diffPartyAddr1.touched)">
                                <span>Party address is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" *ngIf="isDiffParty">
                        <div class="form-group">
                            <label>Gst</label>
                            <input class="form-control" name="diffPartyGst" [(ngModel)]="diffPartyGst"
                                #diffPartyGst1="ngModel" required placeholder="Gst">
                        </div>
                    </div>
                </div>



                <div class="col-md-12">
                    <div class="form-group mb-1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="batch-list-3line">
                                    <button type="button" style="z-index: 999;"
                                        [ngClass]="{'active-button' : (b.batchId == selectedBatch), 'inactive-button':(b.batchId != selectedBatch), 'disabled': b.productionPlanned}"
                                        nbButton size="small" *ngFor="let b of batchList"
                                        (click)="batchSelected(b.batchId)" class="p-badge-design"
                                        [disabled]="b.productionPlanned" [value]="b.batchId">
                                        {{b.batchId}} </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 pb-2" id="fmtr-table" style="border: 1px solid #c3c3c3;">
                        <ng-container>
                            <h5>GR List</h5>
                            <ngx-datatable [rows]="grList" [scrollbarV]="true"
                                class="material common-table datatable-auto-height fm-table-body-height"
                                style="height: 200px;" [selectionType]="'checkbox'" (select)="geSelected($event)"
                                [selected]="selectedGRListTemp">
                                <ngx-datatable-column name="Meter" prop="mtr" [headerCheckboxable]="true"
                                    [checkboxable]="true">
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Weight" prop="wt"></ngx-datatable-column>
                            </ngx-datatable>
                        </ng-container>
                    </div>
                    <div class="col-md-3 center">
                        <div class="">
                            <button type="button"
                                class="btn btn-primary btn-sm btn-design-save mob-stock button-base ripple"
                                (click)="onSelection()">Transfer -></button>
                        </div>
                    </div>
                    <div class="col-md-6 pb-2" id="fmtr-table" style="border: 1px solid #c3c3c3">
                        <ng-container>
                            <h5 class="required">Selected GR List</h5>
                            <ngx-datatable [rows]="selectedGRList" [scrollbarV]="true"
                                class="material common-table datatable-auto-height fm-table-body-height"
                                style="height: 200px;">
                                <ngx-datatable-column name="Action" sortable="false" [maxWidth]="100">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template
                                        let-rowIndex="rowIndex">
                                        <nb-icon icon="trash" status="danger"
                                            [options]="{ animation: { type: 'zoom' } }"
                                            (click)="removeFromSelectedGr(row.id)">
                                        </nb-icon>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Batch Id" prop="batchId"></ngx-datatable-column>
                                <ngx-datatable-column name="Meter" prop="mtr">
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Weight" prop="wt"></ngx-datatable-column>
                            </ngx-datatable>
                        </ng-container>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-md-12 text-btn-right">
                        <button type="button"
                            class="btn btn-primary btn-sm btn-design-save mob-stock button-base ripple"
                            (click)="saveReturnLot(false)">SAVE</button>
                        <button type="button"
                            class="btn btn-primary btn-sm btn-design-save mob-stock button-base ripple"
                            (click)="saveReturnLot(true)">SAVE AND PRINT</button>
                    </div>
                </div>


            </nb-card-body>
        </nb-card>
    </div>
</div>