.active-button {
  background-color: #274fc4 !important;
}

.inactive-button {
  background-color: #5e5b5e !important;
}

.disabled {
  background-color: #dad6da !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
