.required:after {
  content: " *";
  color: red;
}
.required-class{
  display: contents !important;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color:  #dc3545;
  border-color:  #dc3545 !important;
}