<ngx-loading [show]="loading"></ngx-loading>
<div class="row">
    <div class="col-lg-12">
        <nb-card class="nb-style">
            <nb-card-header class="nb-header">
                <div class="row">

                    <div class="col-md-1 col-3 display-flex-start">
                        <button class="btn btn-primary btn-md btn-design" [routerLink]="['/pages/stock-batch']"
                                [disabled]="disabled">ADD</button>
                    </div>
                    <div class="col-md-9 col-7">
                        <h2 class="nb-text">Stock-Batch</h2>
                    </div>
                    <div class="col-md-2 col-2 display-flex-start desktop-justify-flexend">
                        <button class="btn btn-primary btn-md btn-design" (click)="open()">EXPORT</button>
                    </div>


                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-6">
                        <nb-radio-group [(ngModel)]="radioSelect" class="nb-radio">
                            <nb-radio *ngFor="let radio of radioArray" [value]=radio.id [disabled]="radio.disabled"
                                      (valueChange)="onChange($event)">
                                {{radio.value}}</nb-radio>
                        </nb-radio-group>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                <div style="display: flex;">
                                    <p style="margin-top: 4px;margin-right: 2px;">OR</p>
                                    <nb-toggle status="primary" labelPosition="start" name="shift" [(ngModel)]="requestData.data.isAnd" (ngModelChange)="getStockBatchList()"></nb-toggle>
                                    <p style="margin-top: 4px;margin-left: 2px;">AND</p>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="d-flex">
                                    <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                                           aria-describedby="basic-addon1" [(ngModel)]="searchStr">
                                    <!-- <button nbButton [nbPopover]="templateRef">
                                        Filter
                                        <nb-icon icon="arrow-ios-downward-outline" pack="eva">
                                        </nb-icon>
                                    </button> -->

                                    <div *ngIf="requestData?.data?.parameters?.length > 0">
                                        <div class="chip" *ngFor="let parameter of requestData.data.parameters">
                                            <div class="chip-content">{{parameter.value}}</div>
                                            <div class="chip-close">
                                                <svg class="chip-svg" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                                                    <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ngx-datatable [rows]="stockList | searchInTable : searchStr : requestData.data.isAnd : tableHeaders" [ngClass]="tablestyle" [headerHeight]="31"
                               class="material  table-responsive" [footerHeight]="40"
                               [externalPaging]="true"
                               [count]="requestData.data.total"
                               [offset]="requestData.data.pageIndex"
                               [limit]="requestData.data.pageSize"
                               (page)="setPage($event)">
                    <ngx-datatable-column name="Actions" *ngIf="!hiddenEdit || !hidden" sortable="false" prop="id"
                                          [maxWidth]="90">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <nb-icon status="primary" [options]="{animation:{type:'zoom'}}" icon="edit"
                                     [hidden]="hiddenEdit" [routerLink]="['/pages/stock-batch/edit',row.id]"></nb-icon>
                            <nb-icon status="danger" [options]="{animation:{type:'zoom'}}" icon="trash"
                                     (click)="deleteStockBatch(row.id)" [hidden]="hidden || (row | disableStockBatchPipe)">
                            </nb-icon>
                            <nb-icon icon="clipboard" nbTooltip="Print" nbTooltipStatus="primary" status="danger" *ngIf="row.showPrint"
                                     (click)="printJobCard(row)" [hidden]="(row | disableStockBatchPipe)" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Stock In Type" props="stockInType" [maxWidth]="130">
                        <ng-template ngx-datatable-header-template let-value="value">Stock In Type
                            <div class="filter-icon" id="onclickFilter">
                                <nb-icon icon="menu-outline" class="nb-icon-filter" [nbPopover]="templateRef" (click)="onOpenFilter()"></nb-icon>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Party Name" props="partyName"></ngx-datatable-column>
                    <ngx-datatable-column name="Quality Name" props="qualityName"></ngx-datatable-column>
                    <ngx-datatable-column name="Batch" prop="batchList">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <ng-container *ngFor="let batch of row.batchList">
                                <span class="invpice-batch-style">{{batch.batchId}} </span>
                            </ng-container>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Chl No" props="chlNo" [maxWidth]="130"></ngx-datatable-column>

                </ngx-datatable>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<ng-template #templateRef>
    <div style="padding: 10px 15px; width: 300px;" id="filterDiv">
        <div class="row">
            <div class="col-md-12 mb-1">
                <ng-container>
                    <ng-select appendTo="body" class="popup-select" placeholder="Select Filter">
                        <ng-option [value]="1">Conatins</ng-option>
                        <ng-option [value]="2">Not Contains</ng-option>
                        <ng-option [value]="3">Equals</ng-option>
                        <ng-option [value]="4">Not Equals</ng-option>
                        <ng-option [value]="5">Starts With</ng-option>
                        <ng-option [value]="6">Ends With</ng-option>
                    </ng-select>
                </ng-container>
                <!-- <ng-container *ngIf="numberFlag">
                    <ng-select appendTo="body" class="popup-select" placeholder="Select Filter" (change)="onChangeFilterNumberSettings($event)" [(ngModel)]="selectedFilter2">
                        <ng-option [value]="1">Greater Than</ng-option>
                        <ng-option [value]="2">Less Than</ng-option>
                        <ng-option [value]="3">Equals</ng-option>
                        <ng-option [value]="4">Not Equals</ng-option>
                    </ng-select>
                </ng-container> -->
            </div>
            <div class="col-md-12 mb-1">
                <input type="text" class="form-control" placeholder="Quality Name" aria-label="Search" aria-describedby="basic-addon1" [(ngModel)]="filter.qualityName">
            </div>
            <div class="col-md-12 mb-3">
                <input type="text" class="form-control" placeholder="Chl No" aria-label="Search" aria-describedby="basic-addon1" [(ngModel)]="filter.chlNo">
            </div>
        </div>
        <button nbButton status="primary" style="margin-right: 5px;" (click)="onApplyFilter()">Apply</button>
        <button nbButton status="danger" (click)="onClearFilter()">Clear</button>
    </div>
</ng-template>

<!-- <div *ngIf="filterDivFlag" class="ng-filter-main-popup">

    <div class="popup-ng">
        <div class="popup-header text-center" (click)="outside()" y>
            <nb-icon icon="funnel-outline" class="nb-icon-fil"></nb-icon>
        </div>
        <div class="popup-body">
            <div class="section-1-popup">
                

                <div class="filter-input">
                    <input type="text" class="form-control" placeholder="Filter..." (keyup)="keyUpFilter($event.target.value)" [(ngModel)]="filterWord">
                </div>

                <div class="fil-border-top"></div>

                 <div *ngIf="filterAndOrFlag">
                                    <div class="radio-popup">
                                        <div class="rd-1">
                                            <input type="radio" id="and" name="select" class="radio-btn"><label for="and">AND</label>
                                        </div>
                                        <div class="rd-2">
                                            <input type="radio" id="or" name="select" class="radio-btn"><label for="or">OR</label>
                                        </div>
    
                                    </div>
    
                                    <ng-select appendTo="body" class="popup-select" placeholder="Select Filter">
                                        <ng-option [value]="1">Conatins</ng-option>
                                        <ng-option [value]="2">Not Contains</ng-option>
                                        <ng-option [value]="3">Equals</ng-option>
                                        <ng-option [value]="4">Not Equals</ng-option>
                                        <ng-option [value]="5">Starts With</ng-option>
                                        <ng-option [value]="6">Ends With</ng-option>
                                    </ng-select>    
    
                                    <div class="filter-input">
                                        <input type="text" class="form-control" placeholder="Filter...">
                                    </div>
                                </div>

            </div>


            <div class="section-1-popup">
                <div class="filter-input">
                    <input type="text" class="form-control" placeholder="Search..." (keyup)="searchFilterList($event.target.value)">
                </div>

            </div>
            <div class="list-popup">
                <ul class="list-type-none">
                    <li *ngFor="let list of columnFilter; let i = index" class="name">
                        <input type="checkbox" (change)="checked($event.target.checked,i)" class="in-checkbox selector" name="{{list}}" checked>{{list}}
                    </li>

                </ul>
            </div>
            <div class="col-md-12">
                <button (click)="outside()">
                    OK
                </button>
                <button (click)="clear()">
                    Clear All
                </button>
            </div>
        </div>
    </div>
</div> -->