<div class="row">
    <div class="col-lg-12">
        <nb-card class="nb-style">
            <nb-card-header class="nb-header">
                <div class="row">
                   
                    <div class="col-md-1 col-3 mobile-btn desktop-btn">
                        <button class="btn btn-primary btn-md btn-list" routerLink="add">ADD</button>
                    </div>
                    <div class="col-md-11 col-9">
                        <h2 class="nb-text">STOCK-BATCH</h2>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>

                <nb-radio-group style="display: flex;" [(ngModel)]="radioSelect" class="nb-radio">
                    <nb-radio *ngFor="let radio of radioArray" [value]=radio.id (valueChange)="onChange($event)">
                        {{radio.value}}</nb-radio>
                </nb-radio-group>

                <ngx-datatable [rows]="stockList" [ngClass]="tablestyle" [headerHeight]="31"
                    class="material  table-responsive" [footerHeight]="40">
                    <ngx-datatable-column name="Actions" sortable="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <nb-icon status="primary" [options]="{animation:{type:'zoom'}}" icon="edit"
                                [routerLink]="['edit',row.id]"></nb-icon>&nbsp;&nbsp;
                            <nb-icon status="danger" [options]="{animation:{type:'zoom'}}" icon="trash"
                                (click)="deleteStockBatch(row.id)"></nb-icon>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Stock In Type" props="stockInType"></ngx-datatable-column>
                    <ngx-datatable-column name="Party Name" props="partyName"></ngx-datatable-column>
                    <ngx-datatable-column name="Bill No" props="billNo"></ngx-datatable-column>
                    <ngx-datatable-column name="Bill Date" props="billDate"></ngx-datatable-column>
                    <ngx-datatable-column name="Chl No" props="chlNo"></ngx-datatable-column>
                    <ngx-datatable-column name="Chl Date" props="chlDate"></ngx-datatable-column>
                    
                </ngx-datatable>
            </nb-card-body>