<nb-card class="nb-style">
    <nb-card-header class="nb-header">
        <div class="row">
            <div class="col-md-7 col-6">
                <h2 class="nb-text">Add Shade</h2>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Added By</label>
                    <input type="text" name="addedBy" labColorNo1="ngModel" [(ngModel)]="addedBy"
                        class="form-control size-small" fieldsize="small" nbinput placeholder="Name" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Created By</label>
                    <input type="text" name="createdBy" labColorNo1="ngModel" [(ngModel)]="createdBy"
                        class="form-control size-small" fieldsize="small" nbinput placeholder="Name" />
                </div>
            </div>
        </div>
        <form #shadeForm="ngForm">
            <ngx-shade-child (selectedQualityId)="qualityId=$event" [addedBy]="addedBy" [createdBy]="createdBy"
                [shadeData]="shadeData" [formSubmitted]="formSubmitted">
            </ngx-shade-child>
            <ngx-shade-data-table [selectedQualityId]="qualityId" [addedBy]="addedBy" [createdBy]="createdBy"
                [shadeData]="shadeData" [formSubmitted]="formSubmitted">
            </ngx-shade-data-table>
            <div class="row">
                <div class="col-md-12 mobile-btn-center text-btn-right">
                    <div class="padding-bt-tp">
                        <button class="btn btn-primary btn-sm btn-design-cancel" type="button"
                            (click)="reset(shadeForm)">CANCEL</button>

                        <button type="button" class="btn btn-primary btn-sm btn-design-save button-base ripple"
                            (click)="addShade(shadeForm)">SAVE</button>
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>