<nb-card class="nb-style mb-0">
    <nb-card-header class="nb-header">
        <div class="modal-header purchase-popup">
            <h4 class="modal-title nb-text">Task View</h4>
            <button class="close btn-foucs-none" aria-label="Close">
                <span aria-hidden="true" class="close-icon">&times;</span>
            </button>
            <!-- <div class="col-md-11 col-10">
                <h2 class="nb-text">Task View</h2>
            </div>
            <div class="col-md-1 col-2">
                <div class="nb-icon-add">
                    <button type="button" class="close btn-foucs-none" aria-label="Close">
                        <span aria-hidden="true" class="close-icon">&times;</span>
                    </button>
                </div>
            </div> -->
        </div>
    </nb-card-header>
    <nb-card-body class="pd-normal">
        <div class="row">
            <div class="col-md-12 col-12 mobile-pd-0">
                <div class="mb-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-12 pd-0">
                                <div class="task-btn">
                                    <div class="task-email-btn">
                                        <nb-icon icon="email-outline" class="email-task-complete"></nb-icon>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="task-detail-dash task-popup popup-border-bottom">
                        <div class="task-main-1 border-bottom-color task-popup-bottom">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-12 pd-0">
                                        <div class="first-border-right first-border-popup task-pop-label">
                                            <div class="row">
                                                <div class="col-md-12 col-12">
                                                    <div class="user-task pd-rl mr-bt-0">

                                                        <span class="title-value">Bhautik Mehta</span>

                                                        <span class="title-value">Department A</span>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 col-12">
                                                    <div class="task-name mr-tb pd-rl">
                                                        <label class="task-label">NAME</label>
                                                        <span class="taske-date-vlue">Merged Batch in GFL</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-12">
                                                    <div class="task-name mr-tb pd-rl">
                                                        <label class="task-label">DETAIL</label>
                                                        <span class="taske-date-vlue">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12 pd-0">
                                        <div class="short-task-detail task-pop-label">

                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12 col-12 pd-0">
                                                        <div class="priority-dots mobile-left">
                                                            <span class="p-dots-color rd-p" title="P1"></span>
                                                            <span class="p-dots-color rd-o" title="P2"></span>
                                                            <span class="p-dots-color rd-y" title="P3"></span>
                                                            <span class="p-dots-color rd-g" title="P4"></span>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-4 col-3 pd-0">
                                                        <div class="type-task mr-tb">
                                                            <label class="task-label">TYPE</label>
                                                            <span class="taske-date-vlue">General</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-5 pd-0">
                                                        <div class="cd-task mr-tb">
                                                            <label class="task-label">COMPILING DAYS</label>
                                                            <span class="taske-date-vlue">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-4 pd-0">
                                                        <div class="st-date-task mr-tb">
                                                            <label class="task-label">START DATE</label>
                                                            <span class="taske-date-vlue">25/03/2021</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-4 pd-0">
                                                        <div class="end-date-task mr-tb">
                                                            <label class="task-label">END DATE</label>
                                                            <span class="taske-date-vlue">26/03/2021</span>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="task-main-1 border-bottom-color task-pop-label task-popup-bottom">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-12 pd-0">
                                        <div class="row">
                                            <div class="col-md-12 col-12">
                                                <div class="task-name mr-tb pd-rl pd-tp-5">
                                                    <label class="task-label">REPORT</label>
                                                    <span class="taske-date-vlue task-link"><a href="#">https://www.google.com</a> </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6 col-12 pd-0">
                                        <div class="first-border-left task-popup-left">
                                            <div class="row">
                                                <div class="col-md-12 col-12">
                                                    <div class="task-name mr-tb pd-rl pd-tp-5">
                                                        <label class="task-label">REMARK</label>
                                                        <span class="taske-date-vlue remark-ellips">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="task-main-1 task-pop-label">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-12 pd-0">

                                        <div class="row">
                                            <div class="col-md-12 col-12">
                                                <div class="task-name mr-tb pd-rl pd-tp-5">
                                                    <label class="task-label">ATTACHMENT</label>
                                                    <span class="taske-date-vlue task-link mt-img-3"> 
                                                        <div class="task-img">
                                                            <img src="../../../assets/scan/qr-code.png">
                                                        </div>
                                                        <div class="task-img">
                                                            <img src="../../../assets/scan/qr-code.png">
                                                        </div>
                                                        <div class="task-img">
                                                            <img src="../../../assets/scan/qr-code.png">
                                                        </div>
                                                        <div class="task-img">
                                                            <img src="../../../assets/scan/qr-code.png">
                                                        </div>
                                                        
    
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </nb-card-body>
</nb-card>