<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <h2 class="title">404 Page Not Found</h2>
          <small class="sub-title">The page you were looking for doesn't exist</small>
          <button nbButton fullWidth (click)="goToHome()" type="button" class="home-button">
            Take me home
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>



<div class="container">
   <input class="form-control mb-5" type="file" class="upload" (change)="changeListener($event.target.files)">

  <table class="table table-bordered table-dark mt-5">
    <thead>
      <tr>
        <th *ngFor="let item of lines[0]; let i = index">{{item}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of linesR[0]; let i = index">
        <td *ngFor="let itemm of lines[0]; let j = index">{{item[j]}}</td>
        
      </tr>
    </tbody>
  </table>
</div>

<div>
  <nb-card>
    <nb-card-body>

      <div class="example-container">
        <h2>To do</h2>


        
        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
          class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
        </div>
      </div>

      <div class="example-container">
        <h2>Done</h2>

        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
          class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
        </div>
      </div>

     
    </nb-card-body>

  </nb-card>
</div>