<nb-card class="nb-style">
  <nb-card-header class="nb-header">
    <div *ngIf="this.currentFinishedMeter == null; else updateP">
      <h2 class="nb-text">ADD PARTY</h2>
    </div>
    <ng-template #updateP>
      <h2 class="nb-text">UPDATE PARTY</h2>
    </ng-template>
  </nb-card-header>
  <nb-card-body>
    <div>
      <form>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="required">Master</label>
              <ng-select name="masterId" [(ngModel)]='finishedMeterForm.masterId' required #partyId1="ngModel"
                [ngClass]="{'is-invalid': formSubmitted && partyId1.invalid}" (change)="enableQuality($event)"
                placeholder="Select Master">
                <ng-option *ngFor="let p of partyList" [value]="p.id">{{p.partyName}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Party</label>
              <ng-select name="partyId" [(ngModel)]='finishedMeterForm.partyId' #partyId1="ngModel"
                (change)="enableQuality($event)" placeholder="Select Party">
                <ng-option *ngFor="let p of partyList" [value]="p.id">{{p.partyName}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Quality</label>
              <ng-select name="qualityId" [(ngModel)]='finishedMeterForm.qualityId' #qualityId1="ngModel"
                placeholder="Select Quality">
                <ng-option *ngFor="let q of qualityList" [value]="q.id">{{q.qualityId}}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mobile-btn-center">
            <div class="padding-bt-tp">
              <button *ngIf="this.currentFinishedMeter == null" type="button" class="btn btn-primary btn-sm btn-design"
                style="margin-right:20px" (click)="addFinishedMeter()">ADD</button>
              <button *ngIf="this.currentFinishedMeter != null" type="button" (click)="updateFinishedMeter()"
                class="btn btn-primary btn-sm btn-design" style="margin-right:20px">UPDATE</button>
              <button class="btn btn-primary btn-sm btn-design" type="button" routerLink="/pages/finishedMeter">CANCEL</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </nb-card-body>
</nb-card>