.capsule-list-container {
    border: 1px solid;
    overflow-y: scroll;
    height: 115px;
    max-height: 115px;
    width: 100% !important;
    margin-top: 10px !important;
    padding: 1px;
}
.capsule-data-container {
  border: 1px solid;
  height: 440px !important;
  max-height: 440px !important;
  width: 100% !important;
}

.cap-border{
  overflow-x: scroll;
  border: 1px solid !important;
}

.list-container {
    overflow-y: scroll;
    height: 130px;
}

.active-button, .active-button:active {
  box-shadow: 4px 7px 10px black !important;
  }
  
  .inactive-button {
    background-color: #5e5b5e !important;
  }
  
  .disabled {
    background-color: #dad6da !important;
  }


.add-icon {
  color: #ffffff !important;
  background-color: #5e5b5e;
  height: 32px !important;
  width: 32px !important;
  top: 0;
  padding: 4px;
  border-radius: 55px;
  cursor: pointer;
  margin-left: 0px !important;
  margin-right: 12px !important;
  margin-top: 5px !important;
}

.inside_value{
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.batchFont{
  font-size: 20px !important;
}

.iconSize{
  width: 20px !important;
  height: 20px !important;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}


tbody {
  display: block;
  height: 300px;
  overflow: auto;
}
thead, tfoot, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;/* even columns width , fix width of table too*/
}
