<ngx-loading [show]="loading"></ngx-loading>
<div id="target"></div>
<nb-card class="nb-style">
    <nb-card-header class="nb-header">

        <div class="row">
            <div class="col-md-12 col-6">
                <h2 class="nb-text txt-ov-elips">Stock In</h2>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div>
            <form #myForm="ngForm">

                <div class="row" style="margin: 3px 3px;">
                    <div class="col-md-7" id="fmtr-table">
                        <div class="capsule-data-container cap-border">
                            <div class="row">
                                <div class="col-md-6" style="padding-left: 60px;
                                margin-right: -15px;" *ngFor="let value of stockDataValues;let i = index">
                                    <div class="row" style="padding-left:20px;padding-top: 10px;">
                                        PChallan Ref: <b>{{value.pchallanRef}}</b>
                                    </div>

                                    <div>

                                        <table style="margin-top: 15px" class="table table-responsive table-striped">
                                            <thead>
                                                <tr>
                                                    <td style="font-size: 20px;font-weight: bold;text-align: center;">Sr
                                                        No.
                                                        <input style="height: 20px;width: 20px;" type="checkbox"
                                                            name="allCheckbox{{i}}" id="recordCheckbox{{i}}"
                                                            [(ngModel)]="value.allChecked"
                                                            (change)="allRecordChecked($event,i);$event.stopPropagation()">
                                                    </td>
                                                    <td style="font-size: 20px;font-weight: bold;text-align: center;">
                                                        Mtr</td>
                                                    <td style="font-size: 20px;font-weight: bold;text-align: center;">
                                                        Wt</td>
                                                    <!-- <td style="font-size: 20px;font-weight: bold;text-align: center;width: 45px;">
                                                        ...</td> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr [ngStyle]="{'background-color' : data.color}"
                                                    *ngFor="let data of value.batchMW;let rowIndex = index">
                                                    <td style="text-align: center;">
                                                        <span *ngIf="data.color" style="color: white;">{{rowIndex +
                                                            1}}</span>
                                                        <span *ngIf="!data.color">{{rowIndex + 1}}</span>
                                                        <input style="height: 20px;width: 20px;margin-left: 20px;" type="checkbox"
                                                            name="recordCheckbox-{{i}}-{{rowIndex}}"
                                                            id="recordCheckbox-{{i}}-{{rowIndex}}"[disabled]="data.color !== ''" [(ngModel)]="data.checked"
                                                            (change)="onRecodCheckboxChange($event,data)">
                                                    </td>
                                                    <td>
                                                        <div *ngIf="!data.color">
                                                            {{data.mtr}}
                                                        </div>
                                                        <div *ngIf="data.color" class="inside_value">
                                                            {{data.mtr}}
                                                        </div>

                                                    </td>
                                                    <td>
                                                        <div *ngIf="!data.color">
                                                            {{data.wt}}
                                                        </div>
                                                        <div *ngIf="data.color" class="inside_value">
                                                            {{data.wt}}
                                                        </div>
                                                    </td>
                                                    <!-- <td style="width: 45px;">
                                                        <input style="height: 20px;width: 20px;" type="checkbox"
                                                            name="filterRecordCheckbox-{{i}}-{{rowIndex}}"
                                                            id="filterRecordCheckbox-{{i}}-{{rowIndex}}" [disabled]="data.color !== ''" [(ngModel)]="data.filter"
                                                            (change)="onRecodCheckboxChangeFilter($event,data,value,rowIndex)">
                                                    </td> -->
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td>
                                                        <div class="toal-finish-mtr">
                                                            {{value.batchMW.length}}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="toal-finish-mtr">
                                                            {{value.totalMtr | number :
                                                            '1.2-2'}}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="toal-finish-mtr">
                                                            {{value.totalWt | number :
                                                            '1.2-2'}}
                                                        </div>
                                                    </td>
                                                    <!-- <td style="width: 45px;"></td> -->
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- <ng-container class="col-md-3" *ngFor="let value of stockDataValues"> -->

                            <!-- </ng-container> -->
                        </div>
                    </div>
                    <div class="col-md-5 mt-3">
                        <div class="row">
                            <button class="btn-primary btn-sm btn-design-save mob-stock button-base ripple"
                                (click)="transferClicked()">Transfer</button>
                        </div>
                        <div class="row">
                            <div class="capsule-list-container">
                                <nb-icon [options]="{animation:{type:'zoom'}}" (click)="addBatch($event)" icon="plus"
                                    class="add-icon" style="position: relative">
                                </nb-icon>
                                <button type="button" style="margin-top: 2px;"
                                    [ngClass]="{'active-button' : (b.batchId == selectedBatch)}"
                                    [ngStyle]="{'background-color' : b.backColor}" nbButton size="small"
                                    *ngFor="let b of finalStockDataValues; let i = index;"
                                    (click)="batchSelected(b.batchId, i)" class="badge-design-stock-in"
                                    [disabled]="b.productionPlanned" [value]="b.pchallanRef">
                                    <b
                                        [ngClass]="{'batchFont' : (totalObj[b.batchId] && b.batchId == selectedBatch)}">{{b.batchId}}</b>
                                    <nb-icon
                                        [ngClass]="{'iconSize' : (totalObj[b.batchId] && b.batchId == selectedBatch)}"
                                        class="icon-pposition" (click)="deleteBatch(b, i)" icon="close-circle-outline"
                                        *ngIf="!b.isProductionPlanned">
                                    </nb-icon>
                                    <div style="display: grid;font-size: 10.5px;"
                                        *ngIf="totalObj[b.batchId] && b.batchId == selectedBatch">
                                        <span>
                                            Mtr: {{totalObj[b.batchId].mtr | number : '1.2-2'}}
                                        </span>

                                        <span>
                                            Wt: {{totalObj[b.batchId].wt | number : '1.2-2'}}
                                        </span>

                                        <span>
                                            Pcs: {{totalObj[b.batchId].pcs}}
                                        </span>
                                    </div>

                                </button>
                            </div>
                            <div id="fmtr-table" style="width: 100%;">
                                <ng-container *ngIf="selectedBatchIndex > -1">
                                    <ngx-datatable [rows]="finalStockDataValues[selectedBatchIndex].batchMW"
                                        [scrollbarV]="true"
                                        class="material common-table datatable-auto-height fm-table-body-height"
                                        style="height: 242px;">
                                        <ngx-datatable-column name="PChallan" prop="pchallanRef">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Sr No." prop="sequence">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Mtr" prop="mtr">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Wt" prop="wt"></ngx-datatable-column>
                                        <ngx-datatable-column name="Action" prop="id">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template
                                                let-rowIndex="rowIndex">
                                                <nb-icon icon="trash" status="danger" [hidden]="row.isProductionPlanned"
                                                    [options]="{ animation: { type: 'zoom' } }"
                                                    (click)="removeItemFromBatchList(rowIndex)">
                                                </nb-icon>
                                            </ng-template>
                                        </ngx-datatable-column>

                                    </ngx-datatable>
                                </ng-container>
                            </div>
                        </div>
                    </div>



                </div>

                <!-- <div class="row">
                    <div class="col-md-5">

                    </div>

                    <div class="col-md-5">

                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-12 mobile-btn-center text-btn-right mt-50">
                        <button type="button"
                            class="btn btn-primary btn-sm btn-design-save mob-stock button-base ripple"
                            (click)="addUpdateStockBatch(myForm, false)" [disabled]="loading">SAVE</button>
                        <button type="button"
                            class="btn btn-primary btn-sm btn-design-save mob-stock button-base ripple"
                            (click)="addUpdateStockBatch(myForm, true)" [disabled]="loading">SAVE & PRINT</button>
                    </div>
                </div>
            </form>
        </div>
    </nb-card-body>
</nb-card>