<div id="target"></div>
<nb-card class="nb-style">
    <nb-card-header class="nb-header">

        <div class="row">
            <div class="col-md-5 col-6 display-flex-start max-width-device">
                <button class="btn btn-md btn-design" [routerLink]="['/pages/user/view']">View
                    Table</button>
            </div>
            <div class="col-md-7 col-6">
                <div *ngIf="this.currentUserId == null; else updateU">
                    <h2 class="nb-text">Add User</h2>
                </div>
                <ng-template #updateU>
                    <h2 class="nb-text">Update User</h2>
                </ng-template>
            </div>



        </div>
    </nb-card-header>
    <nb-card-body>
        <div>
            <form #myForm="ngForm">
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">First Name</label>
                            <input type="text" name="firstName" fieldsize="small" nbinput #firstName1="ngModel"
                                class="form-control size-small" [(ngModel)]="user.firstName"
                                [ngClass]="{'is-invalid': (firstName1.invalid)&&(formSubmitted  || firstName1.touched)}"
                                required>

                            <div class="input-required"
                                *ngIf="(firstName1.invalid)&&(formSubmitted  || firstName1.touched)">
                                <span>First name is required.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">Last Name</label>
                            <input name="lastName" fieldsize="small" nbinput class="form-control size-small"
                                [(ngModel)]="user.lastName" required #lastName1="ngModel"
                                [ngClass]="{'is-invalid': (lastName1.invalid)&&(formSubmitted || lastName1.touched)}" />

                            <div class="input-required"
                                *ngIf="(lastName1.invalid)&&(formSubmitted || lastName1.touched)">
                                <span>Last name is required.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">User Name</label>
                            <input name="userName" fieldsize="small" nbinput class="form-control size-small"
                                (change)="checkUserName()" [(ngModel)]="user.userName" required #userName1="ngModel"
                                [ngClass]="{'is-invalid': (userName1.invalid)&&(formSubmitted || userName1.touched)}" />
                            <div class="input-required" *ngIf="userNameExist">
                                <span>User Name is already Exist </span>
                            </div>


                            <div class="input-required"
                                *ngIf="(userName1.invalid)&&(formSubmitted || userName1.touched)">
                                <span>User name is required.</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Email</label>
                            <input name="email" fieldsize="small" nbinput class="form-control size-small"
                                [(ngModel)]="user.email" #email1="ngModel"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                [ngClass]="{'is-invalid': (email1.invalid)&&(formSubmitted || email1.touched)}" />

                            <div class="input-required" *ngIf="(email1.invalid)&&(formSubmitted || email1.touched)">
                                <span>Enter valid email.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">Mobile No.</label>
                            <input name="contact" class="form-control size-small" fieldsize="small" nbinput
                                (keypress)="checkIsDigit($event)" [(ngModel)]="user.contact" pattern="[6-9]{1}[0-9]{9}"
                                #contact1="ngModel"
                                [ngClass]="{'is-invalid': (contact1.invalid)&&(formSubmitted || contact1.touched)}"
                                onFocusout="" required />
                            <div class="input-required" *ngIf="(contact1.invalid)&&(formSubmitted || contact1.touched)">
                                <span>Mobile No of 10 digit is required.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" *ngIf="!this.currentUserId || isChangePass">
                        <div class="form-group">
                            <label class="required">Password</label>
                            <input type="password" name="password" class="form-control size-small" fieldsize="small"
                                nbinput [(ngModel)]="user.password" required #password1="ngModel"
                                [ngClass]="{'is-invalid': (password1.invalid)&&(formSubmitted || password1.touched)}" />

                            <div class="input-required"
                                *ngIf="(password1.invalid)&&(formSubmitted || password1.touched)">
                                <span>Password is required.</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">Company</label>
                            <ng-select name="company" appendTo="body" #company1="ngModel" [(ngModel)]="user.companyId"
                                [items]="companyList" bindLabel="name" bindValue="id" placeholder="Select Company"
                                required
                                [ngClass]="{'is-invalid': (company1.invalid)&&(formSubmitted || company1.touched)}"
                                class="required-error-dropdown dropdown-name">
                            </ng-select>
                            <div class="input-required" *ngIf="(company1.invalid)&&(formSubmitted || company1.touched)">
                                <span>Company is required.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">Department</label>
                            <ng-select name="departmenty" appendTo="body" #department1="ngModel"
                                [(ngModel)]="user.departmentId" [items]="departmentList" bindLabel="name" bindValue="id"
                                placeholder="Select Department" required (change)="departmentSelected($event)"
                                [ngClass]="{'is-invalid': (department1.invalid)&&(formSubmitted || department1.touched)}"
                                class="required-error-dropdown dropdown-name">
                            </ng-select>
                            <div class="input-required"
                                *ngIf="(department1.invalid)&&(formSubmitted || department1.touched)">
                                <span>Department is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">Designation</label>
                            <ng-select name="designation" appendTo="body" #designation1="ngModel"
                                [(ngModel)]="user.designationId" [disabled]="currentUserId"
                                [ngClass]="{'is-invalid': (designation1.invalid)&&(formSubmitted || designation1.touched)}"
                                placeholder="Select Designation" required class="required-error-dropdown dropdown-name"
                                (change)="designationSelected($event)">
                                <ng-option *ngFor="let dsgn of designationList | designationFilter: user.isMaster" [value]="dsgn.id">{{dsgn.designation}}
                                </ng-option>
                            </ng-select>
                            <div class="input-required"
                                *ngIf="(designation1.invalid)&&(formSubmitted || designation1.touched)">
                                <span>Designation is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!-- <div class="col-md-4">
                        <div class="form-group">
                            <label></label>
                            <nb-checkbox name="isMaster" [(ngModel)]="user.isMaster"
                            [disabled]="currentUserId || isLoggedInAsMaster"
                            class="form-control nb-check-user border-none">Is Master Group
                        </nb-checkbox>
                        </div>
                    </div>

                    <div class="col-md-4" *ngIf="!isMasterFlag && user.isMaster">
                        <div class="form-group">
                            <label></label>
                            <nb-checkbox name="assign" [(ngModel)]="user.isUserHead"
                                [disabled]="currentUserId || teamMemberFlag"
                                class="form-control nb-check-user border-none">Assign Under Group Head
                           </nb-checkbox>
                        </div>
                    </div>
                   
                    <div class="col-md-4" *ngIf="user.isUserHead && user.isMaster">
                        <div class="form-group">
                            <label class="required">User Head List</label>
                            <select name="userHeadId" class="form-control dropdown-name" #userHeadListValue="ngModel"
                                [(ngModel)]="user.userHeadId" required [disabled]="currentUserId"
                                [ngClass]="{'is-invalid': (userHeadListValue.invalid)&&(formSubmitted || userHeadListValue.touched)}">
                                <option *ngFor="let head of userHeadList" [ngValue]="head.id">{{head.userName}}
                                </option>
                            </select>
                            <div class="input-required"
                                *ngIf="(userHeadListValue.invalid)&&(formSubmitted || userHeadListValue.touched)">
                                <span>UserHead is required.</span>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-4" *ngIf="currentUserId">
                        <div class="form-group">
                            <nb-checkbox name="assign" [checked]="false" [(ngModel)]="isChangePass"
                                class="form-control nb-check-user border-none">Change Password
                            </nb-checkbox>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </nb-card-body>
</nb-card>

<nb-card class="nb-style">
    <nb-card-header class="nb-header">
        <div>
            <div class="row">
                <div class="col-md-11 col-10">
                    <h2 class="nb-text">User Permission</h2>
                </div>
                <div class="col-md-1 col-2 user-per-check-display">
                    <nb-checkbox (change)="selectAllPermissions($event)" class="user-all-check"
                        [(ngModel)]="allRightsFlag"></nb-checkbox>
                </div>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>

        <table class="user-per-table">
            <tr class="table-checkbox">
                <th>Forms</th>
                <th>Select All</th>
                <th *ngFor="let per of perName;let i=index;">{{per}}</th>
            </tr>

            <tr *ngFor="let perm of permissionArray;let i=index;" class="table-checkbox">
                <td>{{perm.module}}</td>
                <td>
                    <nb-checkbox [(ngModel)]="perm.selectAll" [name]="perm.module+'selectAll'"
                        (change)="checkUncheckAll(perm.module,$event)"></nb-checkbox>
                </td>
                <td>
                    <nb-checkbox [(ngModel)]="perm.view" [name]="perm.module+'view'"
                        (change)="checkUncheckSelectAll(perm.view,i,'view')"></nb-checkbox>
                </td>
                <td>
                    <nb-checkbox [(ngModel)]="perm.add" [name]="perm.module+'add'"
                        (change)="checkUncheckSelectAll(perm.add,i,'add')">
                    </nb-checkbox>
                </td>
                <td>
                    <nb-checkbox [(ngModel)]="perm.edit" [name]="perm.module+'edit'"
                        (change)="checkUncheckSelectAll(perm.edit,i,'edit')"></nb-checkbox>
                </td>
                <td>
                    <nb-checkbox [(ngModel)]="perm.delete" [name]="perm.module+'delete'"
                        (change)="checkUncheckSelectAll(perm.delete,i,'delete')"></nb-checkbox>
                </td>

                <td>
                    <nb-checkbox [(ngModel)]="perm.viewGroup" [name]="perm.module+'viewGroup'"
                        (change)="checkUncheckSelectAll(perm.viewGroup,i,'viewGroup')"></nb-checkbox>
                </td>
                <td>
                    <nb-checkbox [(ngModel)]="perm.viewAll" [name]="perm.module+'viewAll'"
                        (change)="checkUncheckSelectAll(perm.viewAll,i,'viewAll')"></nb-checkbox>
                </td>
                <td>
                    <nb-checkbox [(ngModel)]="perm.editGroup" [name]="perm.module+'editGroup'"
                        (change)="checkUncheckSelectAll(perm.editGroup,i,'editGroup')"></nb-checkbox>
                </td>
                <td>
                    <nb-checkbox [(ngModel)]="perm.editAll" [name]="perm.module+'editAll'"
                        (change)="checkUncheckSelectAll(perm.editAll,i,'editAll')"></nb-checkbox>
                </td>
                <td>
                    <nb-checkbox [(ngModel)]="perm.deleteGroup" [name]="perm.module+'deleteGroup'"
                        (change)="checkUncheckSelectAll(perm.deleteGroup,i,'deleteGroup')"></nb-checkbox>
                </td>
                <td>
                    <nb-checkbox [(ngModel)]="perm.deleteAll" [name]="perm.module+'deleteAll'"
                        (change)="checkUncheckSelectAll(perm.deleteAll,i,'deleteAll')"></nb-checkbox>
                </td>
            </tr>
        </table>

    </nb-card-body>
    <div class="nb-pd">

        <div class="row">
            <div class="col-md-12 mobile-btn-center text-btn-right">

                <button *ngIf="!this.currentUserId" class="btn btn-primary btn-sm btn-design-cancel" type="button"
                    (click)="reset(myForm)">CANCEL</button>

                <button *ngIf="this.currentUserId" class="btn btn-primary btn-sm btn-design-cancel" type="button"
                    [routerLink]="['/pages/user/view']">CANCEL</button>

                <button *ngIf="this.currentUserId" type="button"
                    class="btn btn-primary btn-sm btn-design-save button-base ripple" [disabled]="disableButton"
                    (click)=updateUser(myForm)>Update</button>

                <button *ngIf="!this.currentUserId" type="submit"
                    class="btn btn-primary btn-sm btn-design-save button-base ripple" (click)="addUser(myForm)"
                    [disabled]="disableButton">SAVE</button>

            </div>
        </div>