<nb-card class="nb-style pr-mr-0">
    <nb-card-header class="nb-header">
        <div class="row">
            <div class="col-md-11">
                <h2 class="nb-text">JOB CARD</h2>
            </div>
        </div>
    </nb-card-header>
    <div id="print-slip" class="jet-slip size-A5">
        <nb-card-body>

            <div class="container print-container mr-top-30 mr-bottom-30 border-style-solid pd-top-10">
                <div class="mb-1 print-text-center pd-bt-25">
                    <div class="row">
                        <div class="col-md-4 wth-50">
                            <label class="font-25">Party Name:</label> <span style="color: red !important;"
                                class="slip-value rd-color"></span>
                        </div>
                        <div class="col-md-8 wth-50">
                            <label class="font-25">Master Name:</label> <span style="color: red !important;"
                                class="slip-value rd-color"></span>
                        </div>
                    </div>
                </div>


                <div class="mb-1 print-text-center pd-bt-25">
                    <div class="row">
                        <div class="col-md-4 wth-50">
                            <label class="font-25">Pcs:</label> <span class="slip-value"></span>
                        </div>
                        <div class="col-md-8 wth-50">
                            <label class="font-25">Date:</label> <span class="slip-value"></span>
                        </div>
                    </div>
                </div>

                <div class="mb-1 print-text-center pd-bt-25">
                    <div class="row">
                        <div class="col-md-4 wth-50">
                            <label class="font-25">Greige Mtr:</label> <span
                                class="slip-value"></span>
                        </div>
                        <div class="col-md-8 wth-50">
                            <label class="font-25">Greige Wt:</label> <span
                                class="slip-value"></span>
                        </div>
                    </div>
                </div>

                <div class="mb-1 print-text-center pd-bt-25">
                    <div class="row">
                        <div class="col-md-4 wth-50">
                            <label class="font-25">Lot No:</label> <span
                                class="slip-value"></span>
                        </div>
                        <div class="col-md-8 wth-50">
                            <label class="font-25">P Chl No:</label> <span
                                class="slip-value"></span>
                        </div>
                    </div>
                </div>

                <div class="mb-1 print-text-center pd-bt-25">
                    <div class="row">
                        <div class="col-md-4 wth-50">
                            <label class="font-25">Quality Id:</label> <span
                                class="slip-value"></span>
                        </div>
                        <div class="col-md-8 wth-50">
                            <label class="font-25">Quality Name:</label> <span
                                class="slip-value"></span>
                        </div>
                    </div>
                </div>


            </div>
        </nb-card-body>
    </div>
    <div class="row main-invoice-row">
        <div class="col-md-3" >
            <div>

                <table class="table lot-border">
                    <tr>
                        <th><b>LOT NO: </b></th>
                    </tr>
                </table>


                <div id="invoice-table">
                    <table class="table print-invoice-table border-bootom-none table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" class="pd-top-bottom-2"><b>Cops</b></th>
                                <th scope="col" class="pd-top-bottom-2"><b>GryMtr</b></th>
                                <th scope="col" class="pd-top-bottom-2"><b>FinMtr</b></th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr >
                                <td class="pd-top-bottom-1"></td>
                                <td class="pd-top-bottom-1"></td>
                                <td class="pd-top-bottom-1"></td>
                            </tr>
                        </tbody>
                        <tfoot class="table-footer">
                            <tr>
                                <th class="pd-top-bottom-0"><b></b></th>
                                <th class="pd-top-bottom-0"><b></b></th>
                                <th class="pd-top-bottom-0"><b></b></th>

                            </tr>
                            
                        </tfoot>
                    </table>
                </div>


            </div>
        </div>

    </div>


</nb-card>