<nb-card class="nb-style pr-mr-0">
    <nb-card-header class="nb-header">
        <div class="row">
            <div class="col-md-11">
                <h2 class="nb-text">JOB CARD</h2>
            </div>
        </div>
    </nb-card-header>
    <div id="print-slip" class="jet-slip size-A5">
        <nb-card-body>
            
            <div class="container print-container mr-top-30 mr-bottom-30 pd-top-10">
                <div class="row">
                    <div class="title-job-card text-center">
                        <h1><strong>JOB CARD</strong></h1>
                    </div>
                </div>
                <div class="mb-1 print-text-center pd-bt-25">
                    <div class="row">
                        <div class="col-md-4 wth-50">
                            <label class="font-25">Party Name:</label> <span style="color: red !important;"
                                class="slip-value rd-color"></span>
                        </div>
                        <div class="col-md-8 wth-50">
                            <label class="font-25">Master Name:</label> <span style="color: red !important;"
                                class="slip-value rd-color"></span>
                        </div>
                    </div>
                </div>


                <div class="mb-1 print-text-center pd-bt-25">
                    <div class="row">
                        <div class="col-md-4 wth-50">
                            <label class="font-25">Pcs:</label> <span class="slip-value"></span>
                        </div>
                        <div class="col-md-8 wth-50">
                            <label class="font-25">Date:</label> <span class="slip-value"></span>
                        </div>
                    </div>
                </div>

                <div class="mb-1 print-text-center pd-bt-25">
                    <div class="row">
                        <div class="col-md-4 wth-50">
                            <label class="font-25">Greige Mtr:</label> <span
                                class="slip-value"></span>
                        </div>
                        <div class="col-md-8 wth-50">
                            <label class="font-25">Greige Wt:</label> <span
                                class="slip-value"></span>
                        </div>
                    </div>
                </div>

                <div class="mb-1 print-text-center pd-bt-25">
                    <div class="row">
                        <div class="col-md-4 wth-50">
                            <label class="font-25">Lot No:</label> <span
                                class="slip-value"></span>
                        </div>
                        <div class="col-md-8 wth-50">
                            <label class="font-25">P Chl No:</label> <span
                                class="slip-value"></span>
                        </div>
                    </div>
                </div>

                <div class="mb-1 print-text-center pd-bt-25">
                    <div class="row">
                        <div class="col-md-4 wth-50">
                            <label class="font-25">Quality Id:</label> <span
                                class="slip-value"></span>
                        </div>
                        <div class="col-md-8 wth-50">
                            <label class="font-25">Quality Name:</label> <span
                                class="slip-value"></span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="container">
                <div class="row main-invoice-row">
                    <div class="col-md-6 pd-lf-0">
                     
        
                        <div id="invoice-table">
                            <table class="table print-invoice-table border-bootom-none table-bordered lot-border">
                                <thead>
                                    <tr>
                                        <th scope="col" class="pd-top-bottom-2 width-15"><b>Sr</b></th>
                                        <th scope="col" class="pd-top-bottom-2 width-30" ><b>Grey Mtr</b></th>
                                        <th scope="col" class="pd-top-bottom-2 width-30"><b>Grey Wt</b></th>
                                        <th scope="col" class="pd-top-bottom-2 width-60"><b>Finish Mtr</b></th>
        
                                    </tr>
                                </thead>
                                <tbody>
        
                                    <tr >
                                        <td class="pd-top-bottom-1 width-15">1</td>
                                        <td class="pd-top-bottom-1 width-30">150.00</td>
                                        <td class="pd-top-bottom-1 width-30">14.70</td>
                                        <td class="pd-top-bottom-1 width-60"></td>
                                    </tr>
        
                                    
                                    
                                </tbody>
                                <tfoot class="table-footer">
                                    <tr>
                                        <th class="pd-top-bottom-0 width-15"><b>TTL</b></th>
                                        <th class="pd-top-bottom-0 width-30"><b>3,009.00</b></th>
                                        <th class="pd-top-bottom-0 width-30"><b>207.62</b></th>
                                        <th class="pd-top-bottom-0 width-60"><b></b></th>
                                    </tr>
                                    
                                </tfoot>
                            </table>
                        </div>
                
                
                    </div>
        
                    <div class="col-md-6 pd-right-0">
        
        
                        <div id="invoice-table">
                            <table class="table print-invoice-table border-bootom-none table-bordered lot-border">
                                <thead>
                                    <tr>
                                        <th scope="col" class="pd-top-bottom-2 width-15"><b>Sr</b></th>
                                        <th scope="col" class="pd-top-bottom-2 width-30"><b>Grey Mtr</b></th>
                                        <th scope="col" class="pd-top-bottom-2 width-30"><b>Grey Wt</b></th>
                                        <th scope="col" class="pd-top-bottom-2 width-60"><b>Finish Mtr</b></th>
        
                                    </tr>
                                </thead>
                                <tbody>
        
                                    <tr>
                                        <td class="pd-top-bottom-1 width-15">1</td>
                                        <td class="pd-top-bottom-1 width-30">150.00</td>
                                        <td class="pd-top-bottom-1 width-30">14.70</td>
                                        <td class="pd-top-bottom-1 width-60"></td>
                                    </tr>
                                    
                                </tbody>
                                <tfoot class="table-footer">
                                    <tr>
                                        <th class="pd-top-bottom-0 width-15"><b>TTL</b></th>
                                        <th class="pd-top-bottom-0 width-30"><b>3,009.00</b></th>
                                        <th class="pd-top-bottom-0 width-30"><b>207.62</b></th>
                                        <th class="pd-top-bottom-0 width-60"><b></b></th>
        
                                    </tr>
                                    
                                </tfoot>
                            </table>
                        </div>
                    </div>
                                       
                </div>
            </div>
        </nb-card-body>
        
    </div>
    


</nb-card>