<nb-card class="nb-style mr-0">
    <nb-card-header>
        <div class="modal-header nb-header">
            <h4 class="modal-title nb-text">Preview</h4>
            <button class="close btn-foucs-none" aria-label="Close" (click)="activeModal.close(false)">
                <span aria-hidden="true" class="close-icon">&times;</span>
            </button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div *ngIf="billList">

        <div *ngFor="let bill of billList | imagePreviewPipe : imageIndex; let i = index" class="text-center">
            <img [src]="bill.picUrl"  style="width: 425px; height: 425px;">
        </div>
        <div class="next-previous-btn">
            <div class="back-btn">
                <nb-icon icon="arrow-back-outline" (click)="previous('bill')"></nb-icon>
            </div>

            <div class="next-btn">
                <nb-icon icon="arrow-forward-outline" (click)="next('bill')"></nb-icon>
            </div>
        </div>

        <nb-card-footer>

        <div class="row text-center mt-3">
            <div class="col-md-12">
                {{imageIndex + 1}} / {{billList.length}}
            </div>
        </div>
         </nb-card-footer>


        </div>

        <div *ngIf="materialList">

            <div *ngFor="let material of materialList | imagePreviewPipe : imageIndex; let i = index" class="text-center">
                <img [src]="material.picUrl"  style="width: 425px; height: 425px;">
            </div>
            <div class="next-previous-btn">
                <div class="back-btn">
                    <nb-icon icon="arrow-back-outline" (click)="previous('material')"></nb-icon>
                </div>
    
                <div class="next-btn">
                    <nb-icon icon="arrow-forward-outline" (click)="next('material')"></nb-icon>
                </div>
            </div>

            <nb-card-footer>

            <div class="row text-center mt-3">
                <div class="col-md-12">
                    {{imageIndex + 1}} / {{materialList.length}}
                </div>
            </div>
            </nb-card-footer>
    
            </div>

    </nb-card-body>
</nb-card>