<nb-card class="nb-style mr-0">
    <nb-card-header class=" nb-header">
        <div class="modal-header purchase-popup">
            <h4 class="modal-title nb-text">Preview</h4>
            <button class="close btn-foucs-none" aria-label="Close" (click)="activeModal.close(false)">
                <span aria-hidden="true" class="close-icon">&times;</span>
            </button>
        </div>
    </nb-card-header>
    <nb-card-body class="pd-tp-low">
        <div *ngIf="billList">
            <div class="max-popup-purchase mobile-width-100">
                <div *ngFor="let bill of billList | imagePreviewPipe : imageIndex; let i = index" class="text-center mobile-100">
                    <img [src]="bill.picUrl">
                </div>
                <div class="next-previous-btn">
                    <div class="back-btn">
                        <nb-icon icon="arrow-back-outline" (click)="previous('bill')"></nb-icon>
                    </div>

                    <div class="next-btn">
                        <nb-icon icon="arrow-forward-outline" (click)="next('bill')"></nb-icon>
                    </div>
                </div>
            </div>
            <div>
                <div class="row text-center mt-3">
                    <div class="col-md-12">
                        <span class="bottom-count-img">
                        {{imageIndex + 1}} / {{billList.length}}
                       </span>
                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="materialList">

            <div class="max-popup-purchase">

                <div *ngFor="let material of materialList | imagePreviewPipe : imageIndex; let i = index" class="text-center">
                    <img [src]="material.picUrl" class="material-img">
                </div>
                <div class="next-previous-btn">
                    <div class="back-btn">
                        <nb-icon icon="arrow-back-outline" (click)="previous('material')"></nb-icon>
                    </div>

                    <div class="next-btn">
                        <nb-icon icon="arrow-forward-outline" (click)="next('material')"></nb-icon>
                    </div>
                </div>
            </div>
            <div>
                <div class="row text-center mt-3">
                    <div class="col-md-12">
                        {{imageIndex + 1}} / {{materialList.length}}
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>

</nb-card>