<div class="container">
    <nb-card class="nb-style">
        <nb-card-header class="nb-header">
            <h2 class="nb-text">Dynamic Process</h2>
        </nb-card-header>
        <nb-card-body>
            <form #myForm='ngForm'>
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label class="required">Process Name</label>
                            <input type="text" name="processName" class="form-control" #processName1="ngModel" [(ngModel)]='processValue.processName' required [ngClass]="{'is-invalid':(processName1.invalid)&&(formSubmitted || processName1.touched)}" placeholder="Process Name">
                            <div class="invalid-feedback" *ngIf="(processName1.invalid)&&(formSubmitted || processName1.touched)">
                                <span>Process name is required.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-8">
                        <div class="form-group">
                            <label class="required">Time(minutes)</label>
                            <input type="text" name="time" class="form-control" [(ngModel)]='processValue.time' required #time1="ngModel" [ngClass]="{'is-invalid':(time1.invalid)&&(formSubmitted  || time1.touched)}" (keypress)="numberOnly($event)" placeholder="Time(minutes)">
                            <div class="invalid-feedback" *ngIf="(time1.invalid)&&(formSubmitted  || time1.touched)">
                                <span>Time is required.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-4">
                        <div class="form-group text-right">
                            <nb-icon icon="plus-circle" status="primary" [options]="{ animation: { type: 'zoom' } }" (click)="onAddStep()" class="plus-add add-modal"></nb-icon>
                        </div>
                    </div>
                    <!-- {{stepList}} -->
                    <div class="col-md-12" *ngIf="stepList? stepList.length:stepList;">
                        <div cdkDropList (cdkDropListDropped)="drop($event)" class="acc-under-css">
                            <nb-accordion multi *ngFor="let step of stepList" cdkDrag class="acc-start">
                                <nb-accordion-item class="item accordian-process" #item (click)="onStepClick(step)">
                                    <nb-accordion-item-header class="item-header nb-accordian-fn-size nb-accordian" style="display: flex-end; justify-content: space-between;">
                                        <div class="">
                                            {{step.stepName}}
                                        </div>
                                        <div class="nb-action">
                                            <nb-icon icon="trash" status="danger" [options]="{ animation: { type: 'zoom' } }" (click)="onDeleteStep(step)" class="trash"></nb-icon>
                                            <nb-icon icon="edit" status="primary" [options]="{ animation: { type: 'zoom' } }" (click)="onEditStep(step)" class="edit"></nb-icon>
                                            <nb-icon icon="plus-circle" status="success" [options]="{ animation: { type: 'zoom' } }" (click)="onAddFunction(step)" class="plus-function-add add-process-icon"></nb-icon>
                                        </div>
                                    </nb-accordion-item-header>
                                    <nb-accordion-item-body class="nb-item-body">
                                        <div *ngIf="step.functionList && step.functionList.length">
                                            <nb-list cdkDropList (cdkDropListDropped)="dropFunction($event,step.stepNo)">
                                                <nb-list-item *ngFor="let func of step.functionList" cdkDrag class="acc-item">
                                                    <div class="acc-process border-acc">
                                                        <div class="row">
                                                            <div class="col-md-9 col-7">
                                                                <h6 style="text-transform:uppercase !important;" class="acc-text">
                                                                    {{func.funcName}}</h6>

                                                            </div>
                                                            <div class="col-md-3 col-5">
                                                                <nb-icon icon="trash" status="danger" [options]="{ animation: { type: 'zoom' } }" (click)="onDeleteFunction(func)" class="trash">
                                                                </nb-icon>
                                                                <nb-icon icon="edit" status="primary" [options]="{ animation: { type: 'zoom' } }" (click)="onEditFunction(func)" class="edit">
                                                                </nb-icon>

                                                            </div>

                                                            <div class="col-md-12">
                                                                <div *ngIf="func.funcValue==='temprature'">
                                                                    <table class="table table-sm table-bordered text-center table-hover table-responsive-sm table-responsive-md table-responsive-lg process-tb">
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col">SV (Set Value)(C)
                                                                                </th>
                                                                                <th scope="col">Rate of Rise (C/minute)</th>
                                                                                <th scope="col">Hold Time
                                                                                </th>

                                                                                <th scope="col">Pressure (Above 80 C)
                                                                                </th>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td> {{func.tempratureControlFunc.setValue}}
                                                                                </td>
                                                                                <td> {{func.tempratureControlFunc.rateOfRise}}
                                                                                </td>
                                                                                <td>{{func.tempratureControlFunc.holdTime}}
                                                                                </td>
                                                                                <td> {{func.tempratureControlFunc.pressure}}
                                                                                </td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                    <!-- <div class="row">

                                                                        <div class="col-md-4">
                                                                            <label class="main-process-box">
                                                                                <b class="title-acc-processs">
                                                                                    SV (Set
                                                                                    Value)(C):
                                                                                </b>
                                                                                <div class="data-process">
                                                                                    {{func.tempratureControlFunc.setValue}}
                                                                                </div>
                                                                            </label>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <label class="main-process-box">
                                                                                <b class="title-acc-processs">
                                                                                    Rate of Rise (C/minute):
                                                                                </b>
                                                                                <div class="data-process">
                                                                                    {{func.tempratureControlFunc.rateOfRise}}
                                                                                </div>
                                                                            </label>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <label class="main-process-box"><b
                                                                                    class="title-acc-processs">Hold
                                                                                    Time:</b>
                                                                                <div class="data-process">
                                                                                    {{func.tempratureControlFunc.holdTime}}
                                                                                </div>
                                                                            </label>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <label class="main-process-box"><b
                                                                                    class="title-acc-processs">Pressure
                                                                                    (Above 80 C):</b>
                                                                                <div class="data-process">
                                                                                    {{func.tempratureControlFunc.pressure}}
                                                                                </div>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <hr> -->
                                                                </div>


                                                                <!-- Pump -->
                                                                <div *ngIf="func.funcValue==='pump'">
                                                                    <div class="row">
                                                                        <div class="col-md-4">


                                                                            <table class="table table-sm table-bordered text-center table-hover table-responsive-sm table-responsive-md table-responsive-lg process-tb">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">Pump speed (%)
                                                                                        </th>


                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr>

                                                                                        <td> {{func.pumpControlFunc.pumpSpeed}}
                                                                                        </td>
                                                                                    </tr>

                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                </div>

                                                                <!-- water -->
                                                                <div *ngIf="func.funcValue==='water'">
                                                                    <div *ngIf="func.waterControlFunc.type !== 'water'">

                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <table class="table table-sm table-bordered text-center table-hover table-responsive-sm table-responsive-md table-responsive-lg process-tb">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th scope="col">Drain Type
                                                                                            </th>


                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>

                                                                                            <td> {{func.waterControlFunc.drainType}}
                                                                                            </td>
                                                                                        </tr>

                                                                                    </tbody>
                                                                                </table>
                                                                                <!-- <label><b>Drain Type</b>
                                                                                    <div>
                                                                                        {{func.waterControlFunc.drainType}}
                                                                                    </div>
                                                                                </label> -->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div *ngIf="func.waterControlFunc.type === 'water'">

                                                                        <table class="table table-sm table-bordered text-center table-hover table-responsive-sm table-responsive-md table-responsive-lg process-tb">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th scope="col">Water Type
                                                                                    </th>
                                                                                    <th scope="col">Fabric Ratio</th>
                                                                                    <th scope="col">Jet Level
                                                                                    </th>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td> {{func.waterControlFunc.waterType}}
                                                                                    </td>
                                                                                    <td> {{func.waterControlFunc.fabricRatio}}
                                                                                    </td>
                                                                                    <td>{{func.waterControlFunc.jetLevel}}
                                                                                    </td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>

                                                                        <!-- <div class="row">
                                                                            <div class="col-md-4">
                                                                                <label><b>Water Type:</b>
                                                                                    <div>
                                                                                        {{func.waterControlFunc.waterType}}
                                                                                    </div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <label><b>Fabric Ratio:</b>
                                                                                    <div>
                                                                                        {{func.waterControlFunc.fabricRatio}}
                                                                                    </div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <label><b>Jet Level:</b>
                                                                                    <div>
                                                                                        {{func.waterControlFunc.jetLevel}}
                                                                                    </div>
                                                                                </label>
                                                                            </div>
                                                                        </div> -->
                                                                    </div>
                                                                    <!-- <hr> -->
                                                                </div>

                                                                <!-- operator Message -->
                                                                <div *ngIf="func.funcValue==='operator'">



                                                                    <table class="table table-sm table-bordered text-center table-hover table-responsive-sm table-responsive-md table-responsive-lg process-tb">
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col">Operator Code
                                                                                </th>
                                                                                <th scope="col">Operator Message</th>
                                                                                <th scope="col">Start At Temp
                                                                                </th>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>

                                                                                <td>{{func.operatorMessageFunc.operatorCode}}
                                                                                </td>
                                                                                <td>{{func.operatorMessageFunc.operatorMessage}}
                                                                                </td>
                                                                                <td>{{func.operatorMessageFunc.startAtTemp}}
                                                                                </td>


                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                    <!-- <div class="row">
                                                                        <div class="col-md-4">
                                                                            <label><b>Operator Code</b>
                                                                                <div>
                                                                                    {{func.operatorMessageFunc.operatorCode}}
                                                                                </div>
                                                                            </label>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <label><b>Operator Message</b>
                                                                                <div>
                                                                                    {{func.operatorMessageFunc.operatorMessage}}
                                                                                </div>
                                                                            </label>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <label><b>Start At Temp</b>
                                                                                <div>
                                                                                    {{func.operatorMessageFunc.startAtTemp}}
                                                                                </div>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <hr> -->
                                                                </div>

                                                                <!-- dosing -->
                                                                <div *ngIf="func.funcValue==='dosing'">
                                                                    <!-- color -->
                                                                    <div class="table-design-head">
                                                                        <table class="table table-sm table-bordered text-center table-hover table-responsive-sm table-responsive-md table-responsive-lg process-tb">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th scope="col">Fill Side Tank
                                                                                    </th>
                                                                                    <th scope="col">Fill Side Tank (%)
                                                                                    </th>
                                                                                    <th scope="col">Dose at Temp
                                                                                    </th>
                                                                                    <th scope="col">Dose Type
                                                                                    </th>
                                                                                    <th scope="col">Dose while Heating
                                                                                    </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>

                                                                                    <td>{{func.dosingFunc.fillType}}
                                                                                    </td>
                                                                                    <td>{{func.dosingFunc.dosingPercentage}}
                                                                                    </td>
                                                                                    <td>{{func.dosingFunc.doseAtTemp}}
                                                                                    </td>

                                                                                    <td> {{func.dosingFunc.doseType}}
                                                                                    </td>

                                                                                    <td> {{func.dosingFunc.doseWhileHeating}}
                                                                                    </td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>

                                                                        <!-- <div class="row">
                                                                            <div class="col-md-4">
                                                                                <label class="main-process-box">
                                                                                    <b class="title-acc-processs">Fill
                                                                                        Side
                                                                                        Tank :</b>
                                                                                    <div class="data-process">
                                                                                        {{func.dosingFunc.fillType}}
                                                                                    </div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <label class="main-process-box"><b
                                                                                        class="title-acc-processs">Fill
                                                                                        Side
                                                                                        Tank (%) :</b>
                                                                                    <div class="data-process">
                                                                                        {{func.dosingFunc.dosingPercentage}}
                                                                                    </div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <label class="main-process-box"><b
                                                                                        class="title-acc-processs">Dose
                                                                                        at
                                                                                        Temp :</b>
                                                                                    <div class="data-process">
                                                                                        {{func.dosingFunc.doseAtTemp}}
                                                                                    </div>
                                                                                </label>
                                                                            </div>

                                                                            <div class="col-md-4">
                                                                                <label class="main-process-box"><b
                                                                                        class="title-acc-processs">Dose
                                                                                        Type
                                                                                        :</b>
                                                                                    <div class="data-process">
                                                                                        {{func.dosingFunc.doseType}}
                                                                                    </div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <label class="main-process-box"><b
                                                                                        class="title-acc-processs">Dose
                                                                                        while Heating :</b>
                                                                                    <div class="data-process">
                                                                                        {{func.dosingFunc.doseWhileHeating}}
                                                                                    </div>
                                                                                </label>
                                                                            </div>
                                                                        </div> -->
                                                                        <!-- <hr class="hr-acc-br"> -->
                                                                    </div>

                                                                    <!-- chemical -->
                                                                    <div *ngIf="func.dosingFunc.doseType != undefined && func.dosingFunc.doseType === 'chemical'">
                                                                        <div class="table-design-head">
                                                                            <div class="row">
                                                                                <div class="col-md-3 col-12">
                                                                                    <div class="tb-title-type">
                                                                                        <h4>Dose Type:
                                                                                            <p>{{func.dosingFunc.doseType}}
                                                                                            </p>
                                                                                        </h4>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-9 col-12">
                                                                                    <table class="table table-sm table-bordered text-center table-hover table-responsive-sm table-responsive-md table-responsive-lg process-tb">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th scope="col">Item Name
                                                                                                </th>
                                                                                                <th scope="col">Supplier Name
                                                                                                </th>
                                                                                                <th scope="col">
                                                                                                    Concentration
                                                                                                </th>
                                                                                                <th scope="col">
                                                                                                    LR/FabricWt
                                                                                                </th>

                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr *ngFor="let ch of func.dosingFunc.dosingChemical">

                                                                                                <td>{{ch.itemName}}</td>
                                                                                                <td>{{ch.supplierName}}
                                                                                                </td>
                                                                                                <td>{{ch.concentration}}
                                                                                                </td>

                                                                                                <td> {{ch.lrOrFabricWt}}
                                                                                                </td>


                                                                                            </tr>

                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>


                                                                            <!-- <div class="col-md-4">
                                                                                <label class="main-process-box"><b
                                                                                        class="title-acc-processs">Item
                                                                                        Name
                                                                                        :</b>
                                                                                    <div class="data-process">
                                                                                        {{ch.itemName}}
                                                                                    </div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <label class="main-process-box"><b
                                                                                        class="title-acc-processs">Supplier
                                                                                        Name :</b>
                                                                                    <div class="data-process">
                                                                                        {{ch.supplierName}}
                                                                                    </div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <label class="main-process-box"><b
                                                                                        class="title-acc-processs">Concentration
                                                                                        :</b>
                                                                                    <div class="data-process">
                                                                                        {{ch.concentration}}
                                                                                    </div>
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <label class="main-process-box"><b
                                                                                        class="title-acc-processs">LR/FabricWt
                                                                                        :</b>
                                                                                    <div class="data-process">
                                                                                        {{ch.lrOrFabricWt}}
                                                                                    </div>
                                                                                </label>
                                                                            </div> -->

                                                                        </div>
                                                                        <!-- <div class="row"
                                                                            *ngFor="let ch of func.dosingFunc.dosingChemical">
                                                                            <div class="col-md-3">{{ch.itemName}}</div>
                                                                            <div class="col-md-3">{{ch.supplierName}}
                                                                            </div>
                                                                            <div class="col-md-3">{{ch.concentration}}
                                                                            </div>
                                                                            <div class="col-md-3">{{ch.lrOrFabricWt}}
                                                                            </div>
                                                                            
                                                                        </div> -->

                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </nb-list-item>
                                            </nb-list>
                                        </div>
                                    </nb-accordion-item-body>
                                </nb-accordion-item>
                            </nb-accordion>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="row">
                    <div class="col-md-12 mobile-btn-center text-btn-right">
                        <div class="padding-bt-tp">
                            <button type="button" class="btn btn-primary btn-sm btn-design" style="margin-right:20px" routerLink='/pages/process'>CANCEL</button>
                            <button type="button" class="btn btn-primary btn-sm btn-design" style="margin-right:20px" (click)="addProcess(myForm)">SAVE</button>
                        </div>
                    </div>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>