.plus-add{
    color:#0e82f5;
    font-size:40px;
    margin: 23px;
}
.plus-function-add{
    color:green;
    font-size:25px;
    float: right;
    margin-right: 10px;
}
.edit{
    color:#4ca6ff;
    font-size:25px;
    float: right;
    margin-right: 9px;
}
.trash{
    color:red;
    font-size:25px;
    float: right;
    margin-right: 8px;
}
.nb-theme-default nb-accordion {
    display: block;
    box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
    border-radius: 0.25rem;
    
}
.card-height{
    height: 45px !important;
}