<div class="container">
    <nb-card>
        <nb-card-header>
            <h2>DYNAMIC PROCESS</h2>
        </nb-card-header>
        <nb-card-body>
            <form #myForm>
                <div class="row">
                    <div class="col-md-3">
                        <label class="required">Process Name:</label>
                        <input type="text" name="processName" class="form-control"
                        #processName1="ngModel"
                        [(ngModel)]='formValues.processName'
                        required 
                        [ngClass]="{'is-invalid': formSubmitted && processName1.invalid}">
                        <div class="invalid-feedback"
                            *ngIf="formSubmitted && (processName1.invalid || processName1.dirty || processName1.touched)">
                            <span>Process name is required.</span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="required">Time(minutes):</label>
                        <input type="text" name="time" class="form-control" [(ngModel)]='formValues.time' required 
                            #time1="ngModel" [ngClass]="{'is-invalid': formSubmitted && time1.invalid}"
                            (keypress)="numberOnly($event)">
                        <div class="invalid-feedback"
                            *ngIf="formSubmitted && (time1.invalid || time1.dirty || time1.touched)">
                            <span>Time is required.</span>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <i _ngcontent-c18="" class="form-control fa fa-plus-circle mr-2" 
                        (click)="onAddStep()"
                            style="border:none;color:#0e82f5;font-size:25px;cursor: pointer;margin: 23px;"></i>
                    </div>

                    <br>
                  
                    <!-- <div class="col-md-12" *ngIf="stepList.length"> 
                        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                          <nb-accordion *ngFor="let step of stepList" cdkDragLockAxis="y" cdkDrag>
                                <nb-accordion-item #item (click)="onStepClick(step)">
                                    <nb-accordion-item-header class="item-header">
                                            {{step.stepName}}
                                            <i class="fa fa-plus-circle" style="color:green;font-size:25px;cursor: pointer;margin-right: 69px;"
                                            (click)="onAddFunction(step)"></i>
                                            <i class="ft-edit-2 font-medium-1" style="color:#4ca6ff;margin-right: 41px;" (click)="onEditStep(step)">
                                            </i>
                                            <i class="ft-trash font-medium-1" style="color:red;margin-right: 17px;" (click)="onDeleteStep(step)">
                                            </i>
                                    </nb-accordion-item-header>
                                </nb-accordion-item>
                            </nb-accordion>
                        </div>
                    </div>-->
                    <br> 
                </div>
                <br><br>
                <div class="row">
                    <button type="button" class="btn btn-primary"
                    style="margin-right:20px">ADD</button>
                    <button type="button" class="btn btn-primary"
                    style="margin-right:20px" [routerLink]="['pages/process']">CANCEL</button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>