<div class="container">
<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-md-9">
                <h2>PROGRAM</h2>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary  btn-sm" style="float: right;" routerLink="add">ADD</button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <nb-radio-group style="display: flex;" [(ngModel)]="radioSelect">
            <nb-radio *ngFor="let radio of radioArray" [value]=radio.id (valueChange)="onChange($event)">{{radio.value}}</nb-radio>
        </nb-radio-group>
        
        <ngx-datatable class="bootstrap" [rows]="programList" [ngClass]="tableStyle" [headerHeight]="50" 
        [columnMode]="'force'" [limit]="10" [headerHeight]="40" [footerHeight]="40" [rowHeight]="40"
        class="material" style="text-align: justify;">
            <ngx-datatable-column name="Party name" prop="partyName"></ngx-datatable-column>
            <ngx-datatable-column name="Program By" prop="programGivenBy"></ngx-datatable-column>
            <ngx-datatable-column name="Quality Id" prop="qualityId"></ngx-datatable-column>
            <ngx-datatable-column name="Quality Name" prop="qualityName"></ngx-datatable-column>
            <ngx-datatable-column name="Quality Type" prop="qualityType"></ngx-datatable-column>
            <ngx-datatable-column name="Priority" prop="priority"></ngx-datatable-column>
            <ngx-datatable-column name="Action" sortable="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <nb-icon ngbTooltip="Tooltip on bottom"  status="primary" [options]="{animation:{type:'zoom'}}" [routerLink]="['edit',row.id]" icon="edit"></nb-icon>&nbsp;&nbsp;&nbsp;
                        <nb-icon icon="trash" status="danger" [options]="{animation:{type:'zoom'}}"  (click)="deleteProgram(row.id)"></nb-icon>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </nb-card-body>
</nb-card>
</div>