<nb-card>
  <nb-card-header style="font-size: medium;">
    <div *ngIf="this.currentPartyId == null; else updateP">
      <h2>ADD PARTY</h2>
    </div>
    <ng-template #updateP>
      <h2>UPDATE PARTY</h2>
    </ng-template>
  </nb-card-header>
  <nb-card-body>
    <div class="container">
      <form [formGroup]="partyForm" >

        <div class="row">
          <div class="form-group col-md-4">
            <label class="required">Party Name</label>
            <input type="text" id="partyName" class="form-control" formControlName="partyName"
              placeholder="Enter party name"
              [ngClass]="{'is-invalid':formSubmitted && (partyForm.get('partyName').invalid )}">
             
            <div class="invalid-feedback"
              *ngIf="partyForm.get('partyName').errors?.required ">
              <span>Party Name is required</span>
            </div>
            <div class="invalid-feedback" *ngIf=" partyForm.get('partyName').errors?.pattern">
              <span>Please enter valid Party Name </span>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label class="required">Address 1</label>
            <textarea class="form-control" id=" partyAddress1" nbinput fullwidth formControlName="partyAddress1"
              placeholder="Enter Address 1"
              [ngClass]="{'is-invalid':formSubmitted && (partyForm.get('partyAddress1').invalid )}">
              </textarea>
            <div class="invalid-feedback"
              *ngIf="formSubmitted && (partyForm.get('partyAddress1').invalid || (partyForm.get('partyAddress1').dirty || partyForm.get('partyAddress1').untouched) )">
              <span>Address is required</span>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Address 2</label>
            <textarea class="form-control" nbinput fullwidth formControlName="partyAddress2"
              placeholder="Enter Address 2"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-4">
            <label class="required">City</label>
            <input type="text" id="city" class="form-control" nbinput fullwidth fieldsize="small" formControlName="city"
              placeholder="Enter city"
              [ngClass]="{'is-invalid':formSubmitted && (partyForm.get('city').invalid )}">
            <div class="invalid-feedback"
            *ngIf="partyForm.get('city').errors?.required ">
              <span>City is required</span>
            </div>
            <div class="invalid-feedback" *ngIf="partyForm.get('city').errors?.pattern">
              <span>Please enter valid City</span>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label class="required">State</label>
            <input type="text" id="state" class="form-control" nbinput fullwidth fieldsize="small"
              formControlName="state" placeholder="Enter state"
              [ngClass]="{'is-invalid':formSubmitted && (partyForm.get('state').invalid )}">
            <div class="invalid-feedback"
            *ngIf="partyForm.get('state').errors?.required ">
              <span>State is required</span>
            </div>
            <div class="invalid-feedback" *ngIf="partyForm.get('state').errors?.pattern">
              <span>Please enter valid State</span>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label class="required">Pin</label>
            <input type="text" ng-pattern-restrict="/^[A-Za-z]*$/" id="pincode" class="form-control" nbinput fullwidth fieldsize="small"
              formControlName="pincode" placeholder="Enter pin code"
              [ngClass]="{'is-invalid':formSubmitted && (partyForm.get('pincode').invalid )}">
            <div class="invalid-feedback"
            *ngIf="partyForm.get('pincode').errors?.required ">
              <span>Pin number is required</span>
            </div>

            <div class="invalid-feedback" *ngIf="partyForm.get('pincode').errors?.pattern">
              <span>Please enter 6 digit pin</span>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4 mb-3">
            <label class="required">Contact No</label>
            <input type="text" ng-pattern-restrict="[A-Za-z]" id="contactNo" class="form-control" nbinput fullwidth fieldsize="small"
              formControlName="contactNo" placeholder="Enter contact no"
              [ngClass]="{'is-invalid':formSubmitted && partyForm.get('contactNo').invalid}">
            <div class="invalid-feedback"
              *ngIf="partyForm.get('contactNo').errors?.required">
              <span>Contact is required</span>
            </div>
            <div class="invalid-feedback" *ngIf="partyForm.get('contactNo').errors?.pattern">
              <span>Please enter 10 digit contact</span>
            </div>
          </div>

            <div class="form-group col-md-4">
              <label class="required">GSTIN</label>
              <input type="text" id="gst" class="form-control" nbinput fullwidth fieldsize="small"
                formControlName="gstin" placeholder="Enter gst"
                [ngClass]="{'is-invalid':formSubmitted && partyForm.get('gstin').invalid}">
              <div class="invalid-feedback"
                *ngIf="formSubmitted &&(partyForm.get('gstin').invalid || (partyForm.get('gstin').dirty || partyForm.get('gstin').touched) )">
                <span>Gst is required</span>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label class="required">Email</label>
              <input type="text" id="mailId" class="form-control" nbinput fullwidth fieldsize="small"
                formControlName="mailId" placeholder="Enter email"
                [ngClass]="{'is-invalid':(partyForm.get('mailId').invalid ) && formSubmitted}">
              <div class="invalid-feedback"
                *ngIf="partyForm.get('mailId').errors?.required">
                <span>Email is required</span>
              </div>
              <div class="invalid-feedback" *ngIf="partyForm.get('mailId').errors?.pattern ">
                <span>Please enter valid Email</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label class="required">Master Name</label>
                <select  name="userHeadId" id="userHeadId" formControlName="userHeadId" class="form-control" required
                [ngClass]="{'is-invalid':formSubmitted && (partyForm.get('userHeadId').invalid )}">
                    <option *ngFor="let m of master" [value]="m.id">{{m.firstName}}</option>
                </select>
            </div>
            <div class="invalid-feedback" *ngIf="formSubmitted && (partyForm.get('userHeadId').invalid || (partyForm.get('userHeadId').dirty || partyForm.get('userHeadId').untouched) )">
              <span>Master Name is required</span>
            </div>
          </div>

          <br>

          <div >
            <nb-checkbox class="status-basic nb-transition"  id="creditor" 
            formControlName="creditor" (checkedChange)="setCheckedStatusCreditor($event)"  
            [ngClass]="{'is-invalid':formSubmitted && creditor==false && debtor==false}">
              <span class="text">Creditors</span>
            </nb-checkbox>

            <nb-checkbox class="status-basic nb-transition" style="margin-left: 50px;" 
            (checkedChange)="setCheckedStatusDebtor($event)" type="checkbox" id="debtor" 
            formControlName="debtor" [ngClass]="{'is-invalid':formSubmitted==true && creditor==false && debtor==false}">

              <span class="text">Debitors</span>
            </nb-checkbox>
          </div>
          <div class="inline-feedback" *ngIf="formSubmitted==true && creditor==false && debtor==false">
            <span style="color: red; font-size: smaller;">Select Creditor or Debitor</span>
          </div>

          <br><br>
          <div class="row">
            <button *ngIf="this.currentPartyId == null" type="button" class="btn btn-primary"
              style="margin-right:20px" (click)="addParty()" >ADD</button>
            <button *ngIf="this.currentPartyId != null" type="button" (click)="updateParty()" class="btn btn-primary"
              style="margin-right:20px">UPDATE</button>
            <button class="btn btn-primary" type="button" (click)="goBackToPreviousPage()">CANCEL</button>
          </div>
      </form>
    </div>
  </nb-card-body>
</nb-card>