<ngx-loading [show]="loading"></ngx-loading>
<nb-card class="nb-style">
    <nb-card-header class="nb-header">
        <div class="row">
            <div class="col-md-10 col-6">
                <div *ngIf="this.currentPartyId == null; else updateP">
                    <h2 class="nb-text">Add Party</h2>
                </div>
                <ng-template #updateP>
                    <h2 class="nb-text">Update Party</h2>
                </ng-template>
            </div>


            <div class="col-md-2 col-6 display-flex-start desktop-justify-flexend">
                <button class="btn btn-md btn-design" [routerLink]="['/pages/party/view']">View
                    Table</button>
            </div>

        </div>




    </nb-card-header>
    <nb-card-body>
        <div>
            <form [formGroup]="partyForm">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="required">Party Name</label>
                        <input type="text" id="partyName" nbinput fieldsize="small" class="form-control size-small" formControlName="partyName" placeholder="Party Name" [ngClass]="{'is-invalid':(partyForm.get('partyName').invalid)&&(formSubmitted || partyForm.get('partyName').touched)}"
                        />

                        <div class="input-required" *ngIf="partyForm.get('partyName').errors?.required ">
                            <span>Party Name is required</span>
                        </div>
                        <div class="input-required" *ngIf=" partyForm.get('partyName').errors?.pattern">
                            <span>Please enter valid Party Name </span>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="required">Party Code</label>
                        <input type="text" id="partyCode" nbinput fieldsize="small" class="form-control size-small" formControlName="partyCode" placeholder="Party Code" (change)="checkPartyCode()" (keypress)="resetFlag($event)" required [ngClass]="{'is-invalid':(partyForm.get('partyCode').invalid)&&(formSubmitted || partyForm.get('partyCode').touched)}"
                        />
                        <div class="text-danger" *ngIf="!partyCodeExist">
                            <span>Party Code is already Exist </span>
                        </div>
                        <div class="input-required" *ngIf="partyForm.get('partyCode').errors?.required ">
                            <span>Party Code is required</span>
                        </div>
                        <div class="input-required" *ngIf=" partyForm.get('partyCode').errors?.pattern">
                            <span>Please enter valid 4 digit Party Code </span>
                        </div>

                    </div>

                    <div class="form-group col-md-4">
                        <label>Email</label>
                        <input type="text" id="mailId" nbinput fieldsize="small" class="form-control size-small" fullwidth formControlName="mailId" placeholder="Email" [ngClass]="{'is-invalid':(partyForm.get('mailId').invalid)&&(formSubmitted || partyForm.get('mailId').touched)}"
                        />
                        <div class="invalid-feedback" *ngIf="partyForm.get('mailId').errors?.required">
                            <span>Email is required</span>
                        </div>
                        <div class="invalid-feedback" *ngIf="partyForm.get('mailId').errors?.pattern ">
                            <span>Please enter valid Email.</span>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label>GSTIN</label>
                        <input type="text" id="gst" class="form-control size-small" nbinput fullwidth fieldsize="small" formControlName="gstin" placeholder="GSTIN" pattern="^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$" (input)="setState()" />
                        <div class="invalid-feedback" *ngIf="partyForm.get('gstin').errors?.pattern">
                            <span>Please enter valid GSTIN</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="required">City</label>
                        <input type="text" id="city" patter="^[a-zA-z]$" class="form-control size-small" nbinput fullwidth fieldsize="small" formControlName="city" placeholder="City" [ngClass]="{'is-invalid':(partyForm.get('city').invalid)&&(formSubmitted || partyForm.get('city').touched )}"
                        />
                        <div class="input-required" *ngIf="(partyForm.get('city').errors?.required) ">
                            <span>City is required</span>
                        </div>
                        <div class="input-required" *ngIf="partyForm.get('city').errors?.pattern">
                            <span>Please enter valid City</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="required">State</label>
                        <ng-select name="state" id="state" formControlName="state" [ngClass]="{'is-invalid':(partyForm.get('state').invalid)&&(formSubmitted || partyForm.get('state').touched )}" placeholder="Select State" class="dropdown-name" required [items]="stateList" bindLabel="name"
                            bindValue="name">
                        </ng-select>
                        <div class="input-required" *ngIf="(partyForm.get('state').invalid)&&(formSubmitted || partyForm.get('state').touched ) ">
                            <span>State is required</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="required">Pin Code</label>
                        <input type="number" ng-pattern-restrict="/^[A-Za-z]*$/" id="pincode" class="form-control size-small" nbinput fullwidth fieldsize="small" formControlName="pincode" placeholder="Pin Code" [ngClass]="{'is-invalid':(partyForm.get('pincode').invalid)&&(formSubmitted || partyForm.get('pincode').touched)}"
                        />
                        <div class="input-required" *ngIf="partyForm.get('pincode').errors?.required ">
                            <span>Pin number is required</span>
                        </div>

                        <div class="input-required" *ngIf="partyForm.get('pincode').errors?.pattern">
                            <span>Please enter 6 digit pin</span>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="required">Contact No</label>
                        <input type="text" ng-pattern-restrict="[A-Za-z]" id="contactNo" class="form-control size-small" nbinput fullwidth fieldsize="small" formControlName="contactNo" placeholder="Contact No" pattern="[6-9]{1}[0-9]{9}" [ngClass]="{'is-invalid':(partyForm.get('contactNo').invalid)&&(formSubmitted || partyForm.get('contactNo').touched)}"
                        />
                        <div class="input-required" *ngIf="partyForm.get('contactNo').errors?.required">
                            <span>Contact is required</span>
                        </div>
                        <div class="input-required" *ngIf="partyForm.get('contactNo').errors?.pattern">
                            <span>Please enter valid 10 digit contact</span>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Address 1</label>
                        <textarea class="form-control address-area" id=" partyAddress1" nbinput fullwidth formControlName="partyAddress1" placeholder="Address 1" (change)="checkAddress()" [ngClass]="{'is-invalid':(formSubmitted && partyAdressSetFlag) && !partyForm.get('partyAddress1').value }">
                                                    </textarea>

                        <div class="input-required" *ngIf="(formSubmitted && partyAdressSetFlag) && !partyForm.get('partyAddress1').value ">

                            <span>Address is required</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Address 2</label>
                        <textarea class="form-control address-area" nbinput fullwidth formControlName="partyAddress2" placeholder="Address 2"></textarea>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="required">Master Name</label>
                        <ng-select name="userHeadId" id="userHeadId" formControlName="userHeadId" required [ngClass]="{'is-invalid':(partyForm.get('userHeadId').invalid)&&(formSubmitted || partyForm.get('userHeadId').touched)}" placeholder="Select Master Name" class="dropdown-name required-error-dropdown">
                            <div *ngIf="adminFlag">
                                <ng-option *ngFor="let m of master" [value]="m.id">{{m.firstName}}</ng-option>
                            </div>
                            <div *ngIf="masterFlag || operatorFlag">
                                <ng-option *ngFor="let m of master" [value]="m.id">{{m}}</ng-option>
                            </div>
                        </ng-select>
                        <div class="input-required" *ngIf="(partyForm.get('userHeadId').invalid)&&(formSubmitted || partyForm.get('userHeadId').touched)">
                            <span>Master Name is required</span>
                        </div>
                    </div>
                </div>

                <div class="creditors-debitors">
                    <nb-checkbox class="status-basic nb-transition" id="creditor" formControlName="creditor" (checkedChange)="setCheckedStatusCreditor($event)" [ngClass]="{'is-invalid':formSubmitted && creditor==false && debtor==false}">
                        <span class="text cr-txt">Creditors</span>
                    </nb-checkbox>

                    <nb-checkbox class="status-basic nb-transition" style="margin-left: 50px;" (checkedChange)="setCheckedStatusDebtor($event)" type="checkbox" id="debtor" formControlName="debtor" [ngClass]="{'is-invalid':formSubmitted==true && creditor==false && debtor==false}">
                        <span class="text dr-txt">Debitors</span>
                    </nb-checkbox>
                    <div class="invalid-feedback" *ngIf="formSubmitted==true && creditor==false && debtor==false">
                        <span style="color: red; font-size: smaller;">Select Creditor or Debitor</span>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12 mobile-btn-center text-btn-right">

                        <button *ngIf="!this.currentPartyId" class="btn btn-primary btn-sm btn-design-cancel" type="button" (click)="reset()">CANCEL</button>
                        <button *ngIf="this.currentPartyId" class="btn btn-primary btn-sm btn-design-cancel" type="button" [routerLink]="['/pages/party/view']">CANCEL</button>
                        <button *ngIf="this.currentPartyId" type="button" (click)="updateParty()" class="btn btn-primary btn-sm btn-design button-base ripple" style="margin-right:20px" [disabled]="disableButton">UPDATE</button>

                        <button *ngIf="this.currentPartyId == null" type="button" class="btn btn-primary btn-sm btn-design button-base ripple" style="margin-right:20px" [disabled]="disableButton" (click)="addParty()">SAVE</button>
                    </div>
                </div>
            </form>
        </div>
    </nb-card-body>
</nb-card>