<div class="row">
    <div class="col-lg-12">
        <nb-card class="nb-style">
            <nb-card-header class="nb-header">
                <div class="row">

                    <div class="col-md-1 col-3 mobile-btn desktop-btn">
                        <button class="btn btn-primary btn-md btn-design" routerLink="add-dynamic-process" [disabled]="addButtonDisabled">Add</button>
                    </div>
                    <div class="col-md-9 col-7">
                        <h2 class="nb-text">Process</h2>
                    </div>
                    <div class="col-md-2 col-2 mobile-btn desktop-btn dek-jus">
                        <button class="btn btn-primary btn-md btn-design" (click)="open()">EXPORT</button>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <ngx-datatable [rows]="processList" [ngClass]="tablestyle" [rowHeight]="'auto'" [headerHeight]="31" class="material">
                    <ngx-datatable-column name="Actions" sortable="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <nb-icon status="primary" [options]="{animation:{type:'zoom'}}" icon="edit" [routerLink]="['/pages/process/edit',row.id]" [hidden]="hiddenEdit"></nb-icon>
                            <nb-icon status="danger" [options]="{animation:{type:'zoom'}}" (click)="deleteProcess(row.id)" icon="trash" [hidden]="hiddenDelete"></nb-icon>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Name" props="name"></ngx-datatable-column>
                    <!-- <ngx-datatable-column name="Party Name" props="partyName"></ngx-datatable-column> -->

                </ngx-datatable>
            </nb-card-body>