<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>
                <div class="row">
                    <div class="col-md-11">
                        <h2>PROCESS</h2>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary btn-md" routerLink="add-dynamic-process">Add</button>        
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <ngx-datatable [rows]="processList" [ngClass]="tablestyle" [rowHeight]="'auto'" [headerHeight]="50"
                    [columnMode]="'force'" class="material" style="text-align: justify">
                    <ngx-datatable-column name="Stock In" props="stockInType"></ngx-datatable-column>
                    <ngx-datatable-column name="Party Name" props="partyName"></ngx-datatable-column>
                    <ngx-datatable-column name="Bill No" props="billNo"></ngx-datatable-column>
                    <ngx-datatable-column name="Bill Date" props="billDate"></ngx-datatable-column>
                    <ngx-datatable-column name="Chl No" props="chlNo"></ngx-datatable-column>
                    <ngx-datatable-column name="Chl Date" props="chlDate"></ngx-datatable-column>
                    <ngx-datatable-column name="Batch" props="batch"></ngx-datatable-column>
                    <ngx-datatable-column name="Record Count" props="recordCount"></ngx-datatable-column>
                    <ngx-datatable-column name="Actions" sortable="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <nb-icon status="primary" [options]="{animation:{type:'zoom'}}" icon="edit" [routerLink]="['/pages/process/edit',row.id]"></nb-icon>
                            <nb-icon status="danger" [options]="{animation:{type:'zoom'}}" icon="trash"></nb-icon>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </nb-card-body>