<div class="modal-header nb-header">
    <h4 *ngIf="!title" class="modal-title nb-text">Credit Limit Crossed</h4>
    <h4 *ngIf="title" class="modal-title nb-text">{{title}}</h4>
    <button class="close btn-foucs-none" aria-label="Close" (click)="activeModal.close(false)">
        <span aria-hidden="true" class="close-icon">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="password">PassWord:</label>
        </div>
        <div class="form-group col-md-6">
            <input id="password" type="password" class="form-control" placeholder="Enter Password"
                [(ngModel)]="passwordForInvoice.password">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button *ngIf="!title" type="button" class="btn btn-primary btn-sm btn-design-save" (click)="generate()">Generate</button>
    <button *ngIf="title" type="button" class="btn btn-primary btn-sm btn-design-save" (click)="generate()">Delete</button>
    <button type="button" class="btn btn-primary btn-sm btn-design-cancel"
        (click)="activeModal.close()">Close</button>
</div>