<!-- <table>
  <thead><tr><td>
    <div class="header-space"></div>
  </td></tr></thead>
  <tbody><tr><td>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </td></tr></tbody>
  <tfoot><tr><td>
    <div class="footer-space"></div>
  </td></tr></tfoot>
</table> -->
<!-- <hr> -->
<section class="printpage" id="printpdf" >
    <div class="border">
      <div>
        <div class="border text-center">
          <div class="col-sm-12">
            <div class="content-header">
              SUBJECT TO SURAT JURISDICTION</div>
          </div>
        </div>
        <!-- <hr> -->
        <div class="border">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="card-block">
                  <div class="row">
                    <p class="col-sm-12 text-center"><b>GLORY FAB LLP</b></p>
                  </div>
                  <div class="row">
                    <p class="text-center col-sm-12"><b>201,ROAD NO 2,GIDC,SACHIN-394230 SURAT</b></p>
                  </div>
                  <div class="row">
                    <p class="text-center col-sm-12"><b>Mo.9375252244 , 8128023332 E-Mail : gloryfab2016@gmail.com</b></p>
                  </div>
                  <div class="row">
                    <p class="text-center col-sm-12"><b>GSTIN :- 24AAPFG4395K1ZU Place Of Supply : Surat</b></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <hr> -->
        <div class="border">
          <p class="col-sm-12 text-center"><b>TAX INVOICE</b></p>
        </div>
        <!-- <hr> -->
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </section>
  
  <!-- <div class="header">COOL HEADER</div>
  <div class="footer">AWESOME FOOTER</div> -->