
<section class="printpage" id="printpdf" >
    <div class="border">
      <div>
        <div class="border text-center">
          <div class="col-sm-12">
            <div class="content-header">
              TAX INVOICE CUM DELIVERY CHALLAN</div>
          </div>
        </div>
        <!-- <hr> -->
        <div class="border row">
          <div class="col-sm-9">
            <div class="card">
              <div class="card-body">
                <div class="card-block">
                  <div class="row">
                    <p class="col-sm-12 text-center" style="font-size: 30px;"><b> MUKESH PROCESSORS PVT. LTD.</b></p>
                  </div>
                  <div class="row">
                    <p class="text-center col-sm-12"><b>A-31, Eco Textile Park, (Kala Ghoda), Palsana, Surat E-Mail : varun@gloryfab.com</b></p>
                  </div>
                  <div class="row">
                    <p class="text-center col-sm-12"><b>GSTIN :- 24AAFCM5028A1Z1 Place Of Supply : Surat</b></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="invoice-logo" style="background-image: url('../../../../assets/glory_invoice.PNG');">
              <!-- <img src="../../../../assets/glory_invoice.PNG" alt="No Img"> -->
            </div>
          </div>
        </div>
        <!-- <hr> -->
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class="row col-sm-12">
      <div class="col-sm-7">
        <div class="row border">
          <div class="col-sm-12 row">
            <div class="col-sm-4">
              BANK NAME
            </div>
            <div class="col-sm-8">
              :- TAMILNAD MERCHANTILE BANK LTD.
            </div>
          </div>
          <div class="col-sm-12 row">
            <div class="col-sm-4">
              A/c No.
            </div>
            <div class="col-sm-8">
              :- 192700150950474
            </div>
          </div>
          <div class="col-sm-12 row">
            <div class="col-sm-4">
              Branch IFS Code
            </div>
            <div class="col-sm-8">
              :- TMBL0000192 RING ROAD , SURAT
            </div>
          </div>
        </div>
        <div class="row border">
          <div class="col-sm-12">
            <b>TERMS CONDITION :</b>
          </div>
          <div class="col-sm-12">
            1 . Goods once sold will not be taken back .
          </div>
          <div class="col-sm-12">
            2 . Our responsibility ceases once the goods is delivered to the carrier.
          </div>
          <div class="col-sm-12">
            3. GST Payable on Reverse Charge : No
          </div>
          <div class="col-sm-12 row"></div>
        </div>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-3">
        <div style="padding:5% 0% 15% 0%;"><strong>MUKESH PROCESSSSOORS PVT LTD.</strong></div>
        <div style="padding:15% 0% 5% 0%">Authorised Signatory</div>
      </div>
    </div>
  </section>
  
  <!-- <div class="header">COOL HEADER</div>
  <div class="footer">AWESOME FOOTER</div> -->