<ngx-loading [show]="loading"></ngx-loading>
<div class="row">
    <div class="col-lg-12">
        <nb-card class="nb-style">
            <nb-card-header class="nb-header">
                <div class="row">
                    <div class="col-md-5 col-5 display-flex-start max-width-device">
                        <ng-select class="btn btn-md" style="width: 170px;" (change)="setViewJobValue($event)"
                            placeholder="Select">
                            <ng-option value="view table">View Table</ng-option>
                            <ng-option value="add">Add Stock-batch</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-md-2 col-2 display-flex-start">
                        <button class="btn btn-primary btn-md btn-design" [routerLink]="['/pages/stock-batch']"
                            [disabled]="disabled">ADD</button>
                    </div>
                    <div class="col-md-5 col-5">
                        <h2 class="nb-text">Pending Stock-Batch</h2>
                    </div>

                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-6">
                        <nb-radio-group [(ngModel)]="radioSelect" class="nb-radio">
                            <nb-radio *ngFor="let radio of radioArray" [value]=radio.id [disabled]="radio.disabled"
                                (valueChange)="onChange($event)">
                                {{radio.value}}</nb-radio>
                        </nb-radio-group>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                            aria-describedby="basic-addon1" (keyup)="filter($event.target.value)">
                    </div>
                </div>
                <ngx-datatable [rows]="stockList" [ngClass]="tablestyle" [headerHeight]="31"
                    class="material  table-responsive" [footerHeight]="40">
                    <ngx-datatable-column name="Actions" *ngIf="!hiddenEdit || !hidden" sortable="false" prop="id"
                        [maxWidth]="90">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <nb-icon status="primary" [options]="{animation:{type:'zoom'}}" icon="edit"
                                [hidden]="hiddenEdit" [routerLink]="['/pages/stock-batch/edit',row.id]"></nb-icon>
                            <nb-icon status="danger" [options]="{animation:{type:'zoom'}}" icon="trash"
                                (click)="deleteStockBatch(row.id)" [hidden]="hidden || (row | disableStockBatchPipe)">
                            </nb-icon>
                            <nb-icon icon="clipboard" nbTooltip="Print" nbTooltipStatus="primary" status="danger"
                                (click)="printJobCard(row)" [hidden]="(row | disableStockBatchPipe)" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Stock In Type" props="stockInType" [maxWidth]="130">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Party Name" props="partyName"></ngx-datatable-column>
                    <ngx-datatable-column name="Quality Name" props="qualityName"></ngx-datatable-column>
                    <ngx-datatable-column name="Batch" prop="batchList">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <ng-container *ngFor="let batch of row.batchList">
                                <span class="invpice-batch-style">{{batch.batchId}} </span>
                            </ng-container>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Chl No" props="chlNo" [maxWidth]="130"></ngx-datatable-column>

                </ngx-datatable>
            </nb-card-body>
        </nb-card>
    </div>
</div>