<ngx-loading [show]="loading"></ngx-loading>
<nb-card class="nb-style">
    <nb-card-header class="nb-header">
        <div class="row">
            <div class="col-md-1 col-3 display-flex-start">
                <button class="btn btn-primary btn-md btn-design" [disabled]="hiddenAdd" [routerLink]="['/pages/purchase']">ADD</button>
            </div>
            <div class="col-md-9 col-7">
                <h2 class="nb-text">Purchase</h2>
            </div>

        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-4">
                <div style="display: flex;">
                    <p style="margin-top: 4px;margin-right: 2px;">OR</p>
                    <nb-toggle status="primary" labelPosition="start" name="shift" [(ngModel)]="searchANDCondition"></nb-toggle>
                    <p style="margin-top: 4px;margin-left: 2px;">AND</p>
                </div>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search"
            aria-describedby="basic-addon1" [(ngModel)]="searchStr">
            </div>
        </div>
        <!--  ngx- DataTable -->
        <ngx-datatable [rows]="purchaseArray | searchInTable : searchStr : searchANDCondition : tableHeaders" [ngClass]="tableStyle" [headerHeight]="31" class="material" [footerHeight]="40">
            <ngx-datatable-column name="Action" sortable="false" prop="id" [maxWidth]="90">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <nb-icon icon="edit" status="primary" [options]="{ animation: { type: 'zoom' } }" [routerLink]="['/pages/purchase/edit',row.id]" [hidden]="row.checked || hiddenEdit"></nb-icon>&nbsp;&nbsp;
                    <nb-icon icon="trash" status="danger" [options]="{animation:{type:'zoom'}}" (click)="deletePurchase(row.id)" [hidden]="row.checked || hiddenDelete"></nb-icon>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Amount" prop="amt" [maxWidth]="120"></ngx-datatable-column>
            <ngx-datatable-column name="Approve By" prop="approvedName" [maxWidth]="310"></ngx-datatable-column>
            <ngx-datatable-column name="Department" prop="departmentName" [maxWidth]="210"></ngx-datatable-column>
            <ngx-datatable-column name="Received By" prop="receiverName" [maxWidth]="120"></ngx-datatable-column>

        </ngx-datatable>

    </nb-card-body>
</nb-card>