@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

// themes - our custom or/and out of the box themes
@import "themes";

//for ng-select dropdown
@import "~@ng-select/ng-select/themes/default.theme.css";

// framework component themes (styles tied to theme variables)
@import "~@nebular/theme/styles/globals";
@import "~@nebular/auth/styles/all";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";


@import "~ng-pick-datetime/assets/style/picker.min.css";

// loading progress bar theme
@import "./pace.theme";

@import "./layout";
@import "./overrides";

// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
} ;


@media print {
  .isPrinting>* {
      display: none;
  }
  .menu-sidebar{
    display: none;
  }

  .isPrinting app-print-layout {
      display: block;
  }
}



@media print {
  .imp {
      background-color: yellow;
  }

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
      float: left;
  }

  .col-sm-12 {
      width: 100%;
  }

  .col-sm-11 {
      width: 91.66666666666666%;
  }

  .col-sm-10 {
      width: 83.33333333333334%;
  }

  .col-sm-9 {
      width: 75%;
  }

  .col-sm-8 {
      width: 66.66666666666666%;
  }

  .col-sm-7 {
      width: 58.333333333333336%;
  }

  .col-sm-6 {
      width: 50%;
  }

  .col-sm-5 {
      width: 41.66666666666667%;
  }

  .col-sm-4 {
      width: 33.33333333333333%;
  }

  .col-sm-3 {
      width: 25%;
  }

  .col-sm-2 {
      width: 16.666666666666664%;
  }

  .col-sm-1 {
      width: 8.333333333333332%;
  }
}

.padding-box{
  padding: 1.7rem;
  margin-bottom: 30px;
  border-radius: 0!important;
  padding-bottom: 17px;
}
.padding-btn-box{
  padding: 1.0rem;
  padding-top: 0;
}
.btn-design{
  margin: 0;
  padding: 6px 20px;
  background-color: #5e5b5e;
  border-color: #5e5b5e;
  border-radius: 0;
  font-weight: 700;
  margin-right: 20px;
}
.datatable-icon-up::before{
  content: none;
}
.nb-header{
  padding: 0.4rem 1.2rem !important;
  background-color: #aa3634;
  border-radius: 0!important;
}
.nb-text{
  font-size: 1.3rem !important;
  color: #ffffff !important;
}
.nb-style{
  border-radius: 0;
}
.display-inline{
  display: inline-block;
}
.form-group label{
  font-weight: 600;
  color: #5e5b5e;
}
.required:after {
  content: " *";
  color: #aa3634;
}
input:focus, textarea:focus, select:focus{
  outline: none !important;
  border-color: unset;
  box-shadow: none!important;
  border-color: #bd3634!important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.batch-header{
  background-color: #aa3634;
  padding: 0 19px;
}
.nb-icon-add{
  position: relative;
}
.batch-header h2{
  margin: 0;
  font-size: 18px;
  color: #fff;
}
.batch-heading{
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}
.add-icon{
  position: absolute;
  color: #aa3634 !important;
  height: 22px !important;
  width: 29px !important;
  bottom: 4px;
  right: 0;
}
.batch-body{
  margin: 30px 0;
}
.datatable-header-cell-label{
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.datatable-header, .datatable-header-cell, .nb-theme-default nb-radio.status-basic .native-input:enabled:checked ~ .inner-circle{
  background-color: #5e5b5e!important
}
.page-count{
  color: #5e5b5e;
}
.datatable-header-cell-template-wrap{
  text-align: center;
}
.box-shadow-none{
  box-shadow: none!important;
  border: 1px solid #e0e0e0;
}
.box-mr-bt{
  margin-bottom: 15px;
}
.datatable-icon-sort-unset{
  display: none!important;
}
.batch-card-margin{
  margin: 32px 0;
}
.datatable-header-cell{
  padding: 0.3rem 1.2rem !important;
  border-right: 1px solid #fff;
  width: 100%!important;
}
.delete-icon{
  margin-left: 0px;
  padding: 7px 0;
}
.datatable-body-cell-label{
  text-align: center;
}
.ngx-datatable .datatable-footer{
  overflow: hidden!important;
}
.ngx-datatable.material .datatable-header .resize-handle{
  border-right: none!important;
}
.btn-list{
  color: #5e5b5e;
  background: #fff;
  border-radius: 0;
  border-color: #fff;
  padding: 1px 9px !important;
  font-size: 15px !important;
  font-weight: 700;
}
.ngx-datatable{
  box-shadow: none!important;
  margin-top: 12px;
}
.nb-radio{
  margin: 0 0 16px;
}
.desktop-btn {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column{
  padding: 1.4rem!important;
}
.nb-theme-default nb-layout-header nav{
  height: 4.65rem;
}
.scrollable{
  padding-top: 1.0rem!important;
}
// module color
.nb-theme-default nb-menu .menu-item a:hover .menu-icon, .nb-theme-default nb-menu .menu-item a.active .menu-icon{
  color: #ffffff!important;
}
.nb-theme-default nb-menu .menu-item a:hover, .menu-item .ng-star-inserted.active {
  background-color: #aa3634!important;
  color: #ffffff!important;
  transition: .4s;
}
.nb-theme-default nb-menu .menu-item .menu-icon{
  color: #aa3634!important;
}
.nb-theme-default nb-checkbox.status-basic .text, .nb-theme-default nb-radio.status-basic .text{
  color: #5e5b5e!important;
}
.tableForm{
  border-bottom: 1px solid #5e5b5ecc;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}
.menu-title{
  color: #5e5b5e;
}
.nb-theme-default nb-menu .menu-item a:hover .menu-title{
  color: #fff!important;
}
.ng-star-inserted.active .menu-title{
  color: #fff!important;
}
.form-control::placeholder{
  font-size: 15px!important;
}
.dr-txt, .cr-txt{
  padding: 0!important;
  color: #aa3634!important;
}
.btn-design:hover{
  border-color: #aa3634;
  background-color: #aa3634;
}
.creditors-debitors{
  margin: 15px 0 25px 0;
}
.nb-theme-default nb-card-body{
  padding: 1.5rem!important;
}
.nb-theme-default nb-checkbox.status-basic .custom-checkbox.checked, .nb-theme-default nb-checkbox.status-basic .native-input:enabled:active + .custom-checkbox.indeterminate, .nb-theme-default nb-checkbox.status-basic .native-input:enabled:active + .custom-checkbox.checked{
  background-color: #aa3634!important;
  border-color: #aa3634!important;
}
.nb-theme-default nb-checkbox.status-basic .custom-checkbox{
  border-radius: 0;
}
.address-area, .remark-resize{
  resize: none;
}
.padding-bt-tp{
  padding: 17px 0 0;
}
.nb-check-user{
  padding-left: 0!important;
}
.add-modal{
  color: #aa3634!important;
  margin-right: 0;
}
.close-icon{
  color: #fff!important;
}
.btn-foucs-none:focus{
  outline: none!important;
}
.modal-content{
  border-radius: 0!important;
}
.nb-badges{
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 13px!important;
  margin: 0 10px;
  background: #5e5b5e;
  color: #fff!important;
  display: inline;
  margin-left: 0;
}
.nb-table-num{
  font-weight: 700;
}
.list-step{
  margin-top: 15px;
}
// process accordian
.nb-accordian{
  background-color: #aa363412!important;
}
.nb-item-body{
  background-color: #eaeaea45!important;
}
.nb-theme-default nb-accordion{
  box-shadow: none!important;
}
.nb-action{
  margin-right: 24px!important;
}
.nb-accordian-fn-size{
  font-size: 18px !important;
  padding: 13px 20px!important;
}
.nb-p-text {
  color: #5e5b5e!important;
  font-weight: 600!important;
}
.status-basic label{
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.outer-circle{
  border-color: #5e5b5e !important
}
.nb-mr-0{
  margin: 0;  
}
.nb-dis-flx{
  display: flex;
  align-items: center;
}
.desktop-btn .btn-list:hover, .desktop-btn .btn-list:focus, .desktop-btn .btn-list:active{
  color: #fff;
  background-color: #5e5b5e!important;
  border-color: #5e5b5e!important;
  outline: none!important;
  box-shadow: none!important;
}
.datatable-header-cell:last-child {
  border-right: none;
}
.ngx-datatable .datatable-header .datatable-header-cell .sort-btn{
  color: #fff;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell{
  padding: 0.5rem 1.2rem!important;
  width: 100% !important;
  // height: 50px!important;
  overflow: hidden;
}
.btn-listing-action{
  padding: 6px 0.5625rem!important;
}
.nb-pd{
  padding: 1.5rem;
}
.datatable-header-cell-template-wrap{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
}
.nb-theme-default nb-sidebar.compacted nb-menu .menu-item a.active::before{
  background: #5e5b5e!important;
}
.ngx-datatable .datatable-body .datatable-row-wrapper{
  height: 39px;
}
.datatable-body-row{
  height: 50px!important;
}
.datatable-row-wrapper:nth-child(even) { 
  background-color: #5e5b5e21; 
} 
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover, .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group{
  background-color: transparent!important;
}
.nb-theme-default nb-icon.status-danger{
    color: #aa3634!important;
}
.nb-theme-default nb-icon.status-primary{
  color: #5e5b5e!important;
}
.mr-0{
  margin: 0;
}
.nb-theme-default nb-action nb-icon{
  color: #aa3634;
}

// export btn 
.dek-jus{
  justify-content: flex-end!important;
}
@media (max-width: 767px){
  .nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column{
    padding: 15px 0!important;
  }
  .container {
    max-width: 100%;
  }
  .mobile-mr-bt{
    margin-bottom: 1rem;
  }
  .nb-text{
    font-size: 18px!important;
  }
  .btn-list{
    color: #5e5b5e;
    background: #fff;
    border-radius: 0;
    border-color: #fff;
    padding: 1px 10px!important;
    font-size: 14px!important;
  }
  .mobile-btn{
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }
  .nb-radio{
    justify-content: space-between;
  }
  .status-basic label{
    padding-right: 14px!important;
  }
  .columns{
    overflow: hidden;
  }
  .mobile-btn-center{
    text-align: center;
  }
  .nb-style, .mr-bt-0{
    margin-bottom: 0!important;
  }
  // party page
  .creditors-debitors{
    display: flex;
    justify-content: space-around;
  }
  .datatable-row-wrapper, .datatable-row-center{
    width: 100%!important;
  }
  .datatable-scroll.ng-star-inserted{
    width: unset!important;
  }

}
@media (min-width: 1024px){
  .datatable-header-inner, .datatable-row-center.ng-star-inserted{
    width: 100%!important;
  }
  .datatable-scroll.ng-star-inserted, .datatable-body, .datatable-body-row {
    width: 100%!important;
  }
}
// ngx-table
@media (max-width: 1023px){
   .visible{
    overflow-x: scroll;
  }
  .ngx-datatable .datatable-header{
    overflow: unset!important;
  }

}
@media (min-width: 768px) and (max-width: 992px){
  .nb-text{
    margin-left: 21px!important;
  }
}