<ngx-loading [show]="loading"></ngx-loading>
<nb-card class="nb-style">
    <nb-card-header class="nb-header">
        <div class="row">
            <div class="col-md-1 col-3 display-flex-start">
                <button class="btn btn-primary btn-md btn-design" [routerLink]="['/pages/merge-batch']"
                [disabled]="hiddenAdd" >ADD</button>
            </div>
            <div class="col-md-9 col-7">
                <h2 class="nb-text">Merge-Batch</h2>
            </div>

        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                    aria-describedby="basic-addon1" (keyup)="filter($event.target.value)">
            </div>
        </div>
        <!--  ngx- DataTable -->
        <ngx-datatable [rows]="mergeList" [ngClass]="tableStyle" [headerHeight]="31" class="material"
            [footerHeight]="40">
            <ngx-datatable-column name="Action"  sortable="false" prop="id"
                [maxWidth]="90">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <nb-icon icon="edit" status="primary" [options]="{ animation: { type: 'zoom' } }"
                         [routerLink]="['/pages/merge-batch/edit',row.mergeBatchId]" [hidden]="hiddenEdit"></nb-icon>&nbsp;&nbsp;
                    <nb-icon icon="trash" status="danger" [options]="{animation:{type:'zoom'}}" 
                        (click)="deleteMergeBatch(row.mergeBatchId)" [hidden]="hiddenDelete"></nb-icon>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Mergeed Batch Id" prop="mergeBatchId"></ngx-datatable-column>
            <ngx-datatable-column name="Party Name" prop="partyName" ></ngx-datatable-column>
            <ngx-datatable-column name="Quality Name" prop="qualityName"></ngx-datatable-column>
            <ngx-datatable-column name="Batch Id" prop="batchId"></ngx-datatable-column>
            
        </ngx-datatable>

    </nb-card-body>
</nb-card>