<nb-card class="nb-style">
    <nb-card-header class="nb-header">
        <div class="row">
            <!-- <div class="col-md-2 col-5 mobile-btn desktop-btn">
                <button routerLink='add' style="float:right" class="btn btn-primary btn-md btn-list txt-ov-elips">Generate
                    Invoice</button>
            </div> -->
            <div class="col-md-9 col-4">
                <h2 class="nb-text txt-ov-elips">Bill Payment</h2>
            </div>
            <!-- <div class="col-md-1 col-3 mobile-btn desktop-btn dek-jus">
                <button style="float:right;" class="btn btn-primary btn-md btn-list">PRINT</button>
            </div> -->
        </div>
    </nb-card-header>
    <nb-card-body>
        <form #paymentForm="ngForm">
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">Party Name</label>
                            <ng-select name="partyId" [(ngModel)]='paymentValues.partyId' required #partyId1="ngModel" [ngClass]="{'is-invalid': (partyId1.invalid)&&(formSubmitted || partyId1.touched)}" (change)="partySelected($event)" placeholder="Party Name" class="required-error-dropdown"
                                [readonly]="currentPaymentId != null">
                                <ng-option *ngFor="let p of party" [value]="p.id">{{p.partyName}}</ng-option>
                            </ng-select>

                            <div class="required-class" *ngIf="(formSubmitted && partyId1.invalid) || (partyId1.invalid && partyId1.touched)">
                                <span>Party name is required</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Pending Invoices:</label>
                            <ngx-datatable [rows]="invoiceList" class="material" [headerHeight]="31" [footerHeight]="31" [selectionType]="'checkbox'" (select)="invoiceSelected($event)">
                                <ngx-datatable-column name="Action" sortable="false" [headerCheckboxable]="true" [checkboxable]="true">
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Invoice No" prop="invoicNo">
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Amount" prop="amt"></ngx-datatable-column>
                                <ngx-datatable-column name="Date" prop="date"></ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>

                </div>

            </div>
            <div class="mb-3">
                <div class="row main-input-sm">

                    <div class="col-md-4">
                        <div class="mb-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group center-txt-title">
                                        <label>Bill Total:</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group center-txt-title">
                                        <input type="number" name="billTotal" class="form-control" [(ngModel)]='paymentValues.totalBill' required placeholder="Bill Total">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group center-txt-title">
                                        <label>Gst Amount:</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group center-txt-title">
                                        <input type="number" name="gstAmount" class="form-control" [(ngModel)]='paymentValues.gstAmt' required placeholder="Gst Amount" (keyup)="gstSelected($event)">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group center-txt-title">
                                        <label>RD Amount:</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group center-txt-title">
                                        <input type="number" name="rdAmt" class="form-control" [(ngModel)]='paymentValues.rdAmt' required placeholder="RD Amount" (keyup)="cdSelected($event)">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group center-txt-title">
                                        <label>RD Details:</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group center-txt-title">
                                        <textarea type="text" name="rdDetail" class="form-control" [(ngModel)]='paymentValues.rdDetail' required placeholder="RD Details"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="border-top-mob"></div>
                    <div class="col-md-4 dis-fl-right">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="mb-4">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group center-txt-title">
                                                <label>Credit Amount:</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group center-txt-title">
                                                <input type="number" name="totalCredit" class="form-control" [(ngModel)]="totalCredit" required placeholder="Total Credit">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-4">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group center-txt-title">
                                                <label>CD Details:</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group center-txt-title">
                                                <textarea type="text" name="cdDetail" class="form-control" [(ngModel)]='paymentValues.cdDetail' required placeholder="CD Details"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="border-top-mob"></div>
                    <div class="col-md-4 dis-fl-right">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-4">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group center-txt-title">
                                                <label>Other Diff:</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group center-txt-title">
                                                <input type="number" name="otherDiff" class="form-control" [(ngModel)]='paymentValues.otherDiff' required placeholder="Other Diff" (keyup)="cdSelected($event)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-4">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group center-txt-title">
                                                <label>Other Details:</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group center-txt-title">
                                                <textarea type="text" name="diffDetail" class="form-control" [(ngModel)]='paymentValues.diffDetail' required placeholder="Other Details"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Gst Amount:</label>
                        <input type="number" name="gstAmount" class="form-control" [(ngModel)]='paymentValues.gstAmt' required placeholder="Gst Amount" (keyup)="gstSelected($event)">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Credit Amount:</label>
                        <input type="number" name="totalCredit" class="form-control" [(ngModel)]="totalCredit" required placeholder="Total Credit">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>RD Amount:</label>
                        <input type="number" name="rdAmt" class="form-control" [(ngModel)]='paymentValues.rdAmt' required placeholder="RD Amount" (keyup)="cdSelected($event)">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Invoice Total:</label>
                        <input type="number" name="invoiceTotal" class="form-control" [(ngModel)]='totalInvoice' required placeholder="Invoice Total">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>RD Details:</label>
                        <input type="text" name="rdDetail" class="form-control" [(ngModel)]='paymentValues.rdDetail' required placeholder="RD Details">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>CD Amount:</label>
                        <input type="number" name="cdAmt" class="form-control" [(ngModel)]='paymentValues.cdAmt' required placeholder="CD Amount" (keyup)="cdSelected($event)">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>CD Details:</label>
                        <input type="text" name="cdDetail" class="form-control" [(ngModel)]='paymentValues.cdDetail' required placeholder="CD Details">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Other Diff:</label>
                        <input type="number" name="otherDiff" class="form-control" [(ngModel)]='paymentValues.otherDiff' required placeholder="Other Diff" (keyup)="cdSelected($event)">
                    </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Other Details:</label>
                        <input type="text" name="diffDetail" class="form-control" [(ngModel)]='paymentValues.diffDetail' required placeholder="Other Details">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Amount to pay:</label>
                        <input type="number" name="amtToPay" class="form-control" [(ngModel)]='paymentValues.amtToPay' required placeholder="Amount to pay">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Amount paid:</label>
                        <input type="number" name="amtPaid" class="form-control" [(ngModel)]='paymentValues.amtPaid' required placeholder="Amount Paid">
                    </div>
                </div>
            </div> -->
            <!-- <div class="row">


                <div class="col-md-3">
                    <div class="form-group">
                        <label>Current Payment Total:</label>
                        <input type="number" name="totalCurrentPayment" class="form-control" [(ngModel)]="totalCurrentPayment" required placeholder="Total Current Payment">
                    </div>
                </div>
            </div> -->
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Advance Payments:</label>
                            <ngx-datatable [rows]="advancePaymentList" class="material" [headerHeight]="31" [footerHeight]="31" [selectionType]="'checkbox'" (select)="advancePaymentSelected($event)">
                                <ngx-datatable-column name="Action" sortable="false" [headerCheckboxable]="true" [checkboxable]="true" [width]="5">
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Amount" prop="amt" [width]="30"></ngx-datatable-column>
                                <ngx-datatable-column name="Type" prop="payType" [width]="30"></ngx-datatable-column>
                                <ngx-datatable-column name="Date" prop="date" [width]="30"></ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Payment Details:</label>
                        <ngx-datatable #table class="material common-table datatable-auto-height" [rows]="paymentValues.paymentData" [headerHeight]="31" [footerHeight]="31">
                            <ngx-datatable-column name="Action" [sortable]="false" [width]="300">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <nb-icon icon="trash" status="danger" [options]="{ animation: { type: 'zoom' } }" (click)="removeItem(rowIndex)"></nb-icon>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Type" prop="payType" [sortable]="false" [width]="300">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <select (change)="typeSelected(rowIndex,row)" #payType1="ngModel" name='payType{{rowIndex}}' class="tableForm" id="payType" [(ngModel)]="row.payTypeId" required (keyup)="onKeyUp($event,rowIndex,0,'payType')" [id]="'paymentDetailsList'+rowIndex+'-0'">
                                        <option *ngFor="let type of paymentTypeList" [value]="type.id">
                                            {{type.paymentType}}</option>
                                    </select>
                                    <div class="invalid-feedback" *ngIf="formSubmitted && (payType1.invalid)" style="display: inline-block;">
                                        <span>Required</span>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Amount" [sortable]="false" [width]="300" prop="payAmt">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <input type="number" #payAmt1="ngModel" name='payAmt{{rowIndex}}' class="tableForm" id="payAmt" [(ngModel)]="row.payAmt" (keyup)="onKeyUp($event,rowIndex,1,'payAmt')" [id]="'paymentDetailsList'+rowIndex+'-1'" min="0" (keyup)="currentPaymentAdded($event)">
                                    <div class="invalid-feedback" *ngIf="formSubmitted && (payAmt1.invalid)" style="display: inline-block;">
                                        <span>Required</span>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Date" prop="chequeDate" [sortable]="false" [width]="300">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <input class="tableForm" type="text" #chequeDate1="ngModel" name='chequeDate{{rowIndex}}' [(ngModel)]="row.chequeDate" (keyup)="onKeyUp($event,rowIndex,2,'chequeDate')" [id]="'paymentDetailsList'+rowIndex+'-2'">
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Cheque No." prop="chequeNo" [sortable]="false" [width]="300">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <input class="tableForm" type="text" #chequeNo1="ngModel" name='chequeNo{{rowIndex}}' [(ngModel)]="row.chequeNo" (keyup)="onKeyUp($event,rowIndex,3,'chequeNo')" [id]="'paymentDetailsList'+rowIndex+'-3'">
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Bank" prop="bank" [sortable]="false" [width]="300">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <input class="tableForm" type="text" #bank1="ngModel" name='bank{{rowIndex}}' [(ngModel)]="row.bank" (keyup)="onKeyUp($event,rowIndex,3,'bank')" [id]="'paymentDetailsList'+rowIndex+'-4'">
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Remark" prop="remark" [sortable]="false" [width]="300">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <input class="tableForm" type="text" #remark1="ngModel" name='remark{{rowIndex}}' [(ngModel)]="row.remark" (keyup)="onKeyUp($event,rowIndex,3,'remark')" [id]="'paymentDetailsList'+rowIndex+'-5'">
                                </ng-template>
                            </ngx-datatable-column>

                        </ngx-datatable>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group center-txt-title">
                                        <label>Amount to pay:</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group center-txt-title">
                                        <input type="number" name="amtToPay" class="form-control" [(ngModel)]='paymentValues.amtToPay' required placeholder="Amount to pay">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group center-txt-title">
                                        <label>Amount paid:</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group center-txt-title">
                                        <input type="number" name="amtPaid" class="form-control" [(ngModel)]='paymentValues.amtPaid' required placeholder="Amount Paid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group center-txt-title">
                                        <label>Current Payment Total:</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group center-txt-title">
                                        <input type="number" name="totalCurrentPayment" class="form-control" [(ngModel)]="totalCurrentPayment" required placeholder="Total Current Payment">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <div class="row">
                <div class="col-md-12 mobile-btn-center text-btn-right">
                    <div class="padding-bt-tp">

                        <!-- <button *ngIf="this.currentProgramId != null" type="button" (click)="updateProgram(myForm)"
                            class="btn btn-primary btn-sm btn-design" style="margin-right:20px" [disabled]="disableButton">UPDATE</button> -->
                        <button type="button" class="btn btn-primary btn-sm btn-design-cancel" routerLink="/pages/payment">CANCEL</button>
                        <button *ngIf="this.currentPaymentId == null" type="button" class="btn btn-primary btn-sm btn-design button-base ripple" (click)="onAddPayment()">SAVE</button>
                    </div>

                </div>
            </div>

        </form>
    </nb-card-body>
</nb-card>