<nb-card class="nb-style">
    <nb-card-header class="nb-header">
        <div class="row">
            <!-- <div class="col-md-2 col-5 mobile-btn desktop-btn">
                <button routerLink='add' style="float:right" class="btn btn-primary btn-md btn-list txt-ov-elips">Generate
                    Invoice</button>
            </div> -->
            <div class="col-md-9 col-4">
                <h2 class="nb-text txt-ov-elips">Bill Payment</h2>
            </div>
            <!-- <div class="col-md-1 col-3 mobile-btn desktop-btn dek-jus">
                <button style="float:right;" class="btn btn-primary btn-md btn-list">PRINT</button>
            </div> -->
        </div>
    </nb-card-header>
    <nb-card-body>
        <form #paymentForm="ngForm">
            <div class="row" class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="required">Party Name</label>
                        <ng-select name="partyId" [(ngModel)]='paymentValues.partyId' required #partyId1="ngModel"
                            [ngClass]="{'is-invalid': (partyId1.invalid)&&(formSubmitted || partyId1.touched)}"
                            (change)="getPendingInvoices($event)" placeholder="Party Name" class="required-error-dropdown"
                            [readonly]="currentPaymentId != null">
                            <ng-option *ngFor="let p of party" [value]="p.id">{{p.partyName}}</ng-option>
                        </ng-select>

                        <div class="required-class"
                            *ngIf="(formSubmitted && partyId1.invalid) || (partyId1.invalid && partyId1.touched)">
                            <span>Party name is required</span>
                        </div>
                    </div>
                </div>
            </div>
       
        <ngx-datatable [rows]="paymentList" class="material"    [headerHeight]="31" [footerHeight]="31"
        [selectionType]="'checkbox'" (select)="invoiceSelected($event)">
        <ngx-datatable-column name="Action"  sortable="false"  [headerCheckboxable]="true" [checkboxable]="true">
        </ngx-datatable-column>
        <ngx-datatable-column name="Invoice No" prop="invoicNo">
        </ngx-datatable-column>
        <ngx-datatable-column name="Amount" prop="amt"></ngx-datatable-column>
        <ngx-datatable-column name="Date" prop="date"></ngx-datatable-column>
    </ngx-datatable>
    <div class="row" class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label  >Total:</label>
                <input type="text" name="total" class="form-control" [(ngModel)]="total"
                 readonly required placeholder="Total">
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label  >Advance Payments:</label>
                <ngx-datatable [rows]="advancePaymentList" class="material"    [headerHeight]="31" [footerHeight]="31"
                [selectionType]="'checkbox'">
                <ngx-datatable-column name="Action"  sortable="false"  [headerCheckboxable]="true" [checkboxable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column name="Amount" prop="amt"></ngx-datatable-column>
                <ngx-datatable-column name="Date" prop="date"></ngx-datatable-column>
                <ngx-datatable-column name="Remark" prop="remark"></ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
    </form>
    </nb-card-body>
</nb-card>