<nb-card class="nb-style">
    <nb-card-header class="nb-header">
        <div class="row">
            <div class="col-md-2 col-3 display-flex-start max-width-device">
                <button [routerLink]="['/pages/generate_invoice']"
                    class="btn btn-primary btn-md btn-design txt-ov-elips">Generate
                    Invoice</button>
            </div>
            <div class="col-md-8 col-3">
                <h2 class="nb-text txt-ov-elips">Generate Invoice</h2>
            </div>
            <div class="col-md-1 col-2 display-flex-start desktop-justify-flexend mobile-pd-0">
                <button class="btn btn-primary btn-md btn-design" (click)="goToReport()">REPORT</button>
            </div>
            <div class="col-md-1 col-2 display-flex-start desktop-justify-flexend mobile-pd-0">
                <button class="btn btn-primary btn-md btn-design" (click)="print()">PRINT</button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <div style="display: flex;">
                            <p style="margin-top: 4px;margin-right: 2px;">OR</p>
                            <nb-toggle status="primary" labelPosition="start" name="shift"
                            (checkedChange)="getAllInvoice()" [(ngModel)]="requestData.data.isAnd"></nb-toggle>
                            <p style="margin-top: 4px;margin-left: 2px;">AND</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                            aria-describedby="basic-addon1" [(ngModel)]="searchStr">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <ng-container *ngIf="requestData.data.parameters && requestData.data.parameters.length">
                <div class="filter-by-row">
                    <label for="">Filter By : </label>
                    <div class="filter-by-col">
                        <div class="tag-style-con">
                            <div class="tag-style" *ngFor="let field of requestData.data.parameters">
                                <span class="filter-by-title">{{field.field[0]}}</span> :
                                <span class="filter-by-val">{{field.value}}</span>
                                <span (click)="onClear(field.field[0])" style="cursor: pointer;">
                                    <strong>x</strong>
                                </span>
                            </div>
                            <div class="filter-by-clear-all" (click)="onClearFilter()">Clear All</div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <ngx-datatable [rows]="InvoiceList | searchInTable : searchStr : requestData.data.isAnd : tableHeaders"
            [ngClass]="'bootstrap'" [headerHeight]="31" class="material  table-responsive" [footerHeight]="40"
            [externalPaging]="true" [count]="requestData.data.total" [offset]="requestData.data.pageIndex"
            [limit]="requestData.data.pageSize" (page)="setPage($event)">
            <ngx-datatable-column name="Action" sortable="false" [headerCheckboxable]="true" [checkboxable]="true"
                prop="id" [maxWidth]="110">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <nb-icon icon="clipboard" nbTooltip="Print" nbTooltipStatus="primary" status="danger"
                        (click)="printCurrentInvoice($event, row)" [options]="{ animation: { type: 'zoom' } }">
                    </nb-icon>
                    <nb-icon icon="edit" *ngIf="!row.signByParty" status="primary"
                        [options]="{ animation: { type: 'zoom' } }"
                        [routerLink]="['/pages/generate_invoice/edit',row.invoiceNo]"></nb-icon>
                    <nb-icon status="danger" [options]="{animation:{type:'zoom'}}" icon="trash"
                        (click)="deleteInvoice(row.invoiceNo)"></nb-icon>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Invoice No" prop="invoiceNo" [maxWidth]="110">
                <ng-template ngx-datatable-header-template let-value="value">Invoice No
                    <div class="filter-icon">
                        <nb-icon icon="menu-outline" (click)="onOpenFilter('invoiceNo')"
                            class="nb-icon-filter" [nbPopover]="templateRef" nbPopoverTrigger="noop"></nb-icon>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Party Name" prop="partyName" [maxWidth]="500">
                <ng-template ngx-datatable-header-template let-value="value">Party Name
                    <div class="filter-icon">
                        <nb-icon icon="menu-outline" (click)="onOpenFilter('partyName')"
                            class="nb-icon-filter" [nbPopover]="templateRef" nbPopoverTrigger="noop"></nb-icon>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Batch" prop="batchList" [maxWidth]="200">
                <ng-template ngx-datatable-header-template let-value="value">Batch
                    <div class="filter-icon">
                        <nb-icon icon="menu-outline" (click)="onOpenFilter('batchList')" class="nb-icon-filter"
                            [nbPopover]="templateRef" nbPopoverTrigger="noop"></nb-icon>
                    </div>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <ng-container *ngFor="let batch of row.batchList">
                        <span class="invpice-batch-style">{{batch.batchId}} </span>
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Total Mtr" prop="totalMtr" [maxWidth]="500">
                <ng-template ngx-datatable-header-template let-value="value">Total Mtr
                    <div class="filter-icon">
                        <nb-icon icon="menu-outline" (click)="onOpenFilter('totalMtr')"
                            class="nb-icon-filter" [nbPopover]="templateRef" nbPopoverTrigger="noop"></nb-icon>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Total Finish Mtr" prop="finishMtr" [maxWidth]="500">
                <ng-template ngx-datatable-header-template let-value="value">Total Finish Mtr
                    <div class="filter-icon">
                        <nb-icon icon="menu-outline" (click)="onOpenFilter('finishMtr')"
                            class="nb-icon-filter" [nbPopover]="templateRef" nbPopoverTrigger="noop"></nb-icon>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Net Amt" prop="netAmt" [maxWidth]="500">
                <ng-template ngx-datatable-header-template let-value="value">Net Amt
                    <div class="filter-icon">
                        <nb-icon icon="menu-outline" (click)="onOpenFilter('netAmt')"
                            class="nb-icon-filter" [nbPopover]="templateRef" nbPopoverTrigger="noop"></nb-icon>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Created Date" prop="date" [maxWidth]="200">
                <ng-template ngx-datatable-header-template let-value="value">Created Date
                    <div class="filter-icon">
                        <nb-icon icon="menu-outline" (click)="onOpenFilter('date')"
                            class="nb-icon-filter" [nbPopover]="templateRef" nbPopoverTrigger="noop"></nb-icon>
                    </div>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row.date | date:'fullDate'}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
        <div class="page-sizer d-flex">
            <span>Page Size: </span>
            <select name="pageSizer" [(ngModel)]="selectedPageSize" (change)="pageSizeChanged()">
                <option *ngFor="let size of pageSizes" [value]="size">{{size}}</option>
            </select>
        </div>
    </nb-card-body>
</nb-card>

<ng-template #templateRef>
    <div id="filterDiv" style="padding: 2px 14px; width: 250px;">
        <div class="row" style="background-color: #aa3634;">
            <div class="col-md-10">
                <span style="color: white;">Filter</span>
            </div>
            <div class="col-md-2" style="margin-top: 3px;color: white;">
                <div (click)="closeFilterPopover()" style="cursor: pointer;text-align: center;">
                    <strong>X</strong>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 8px;">

            <div class="col-md-12 mb-1">
                <ng-container *ngIf="stringFlag">
                    <ng-select [(ngModel)]="operatorSelected" appendTo="body" class="popup-select"
                        placeholder="Select Filter">
                        <ng-option value="LIKE">Conatins</ng-option>
                        <!-- <ng-option value="NOT_CONTAINS">Not Contains</ng-option> -->
                        <ng-option value="EQUALS">Equals</ng-option>
                        <ng-option value="NOT_EQUALS">Not Equals</ng-option>
                        <ng-option value="START_WITH">Starts With</ng-option>
                        <ng-option value="END_WITH">Ends With</ng-option>
                    </ng-select>
                </ng-container>
                <ng-container *ngIf="numberFlag">
                    <ng-select appendTo="body" class="popup-select" placeholder="Select Filter"
                        [(ngModel)]="operatorSelected">
                        <!-- (change)="onChangeFilterNumberSettings($event)"  -->
                        <ng-option value="GREATER_THAN">Greater Than</ng-option>
                        <ng-option value="LESS_THAN">Less Than</ng-option>
                        <ng-option value="EQUALS">Equals</ng-option>
                        <ng-option value="NOT_EQUALS">Not Equals</ng-option>
                    </ng-select>
                </ng-container>

            </div>
            <div class="col-md-12 mb-1">
                <input type="text" class="form-control" placeholder="Filter..." [(ngModel)]="filterWord">
            </div>
        </div>
        <button nbButton status="primary" style="margin-right: 5px;" (click)="onApplyFilter()">Apply</button>
        <button nbButton status="danger" (click)="closeFilterPopover()">Close</button>
    </div>
</ng-template>