<div class="container">
    <nb-card class="nb-style">
        <nb-card-header class="nb-header">
            <div class="row">
                <div class="col-md-11 col-8">
                    <h2 class="nb-text">SHADE</h2>
                </div>
                <div class="col-md-5">
                    <button style="float:right; "  class="btn btn-primary btn-sm" >EXPORT</button>
                </div>
                <div class="col-md-1 col-4 mobile-btn desktop-btn">
                    <button class="btn btn-primary btn-md btn-list" routerLink='/pages/shade/add'>Add</button>  
                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <nb-radio-group style="display: flex;" [(ngModel)]="radioSelect" class="nb-radio">
                <nb-radio *ngFor="let radio of radioArray" [value]=radio.id (valueChange)="onChange($event)">{{radio.value}}</nb-radio>
            </nb-radio-group>

            <!--  ngx- DataTable  -->
            <ngx-datatable [rows]="shadeList" [ngClass]="tableStyle" [headerHeight]="50" [columnMode]="'force'" class="material" style="text-align: justify;" 
            [limit]="10" [headerHeight]="40" [footerHeight]="40" [rowHeight]="40">
                <ngx-datatable-column name="Party Shade No." prop="partyShadeNo"></ngx-datatable-column>
                <ngx-datatable-column name="Process Name" prop="processId"></ngx-datatable-column>
                <ngx-datatable-column name="Quality ID" prop="qualityId"></ngx-datatable-column>
                <ngx-datatable-column name="Quality Name" prop="qualityName"></ngx-datatable-column>
                <ngx-datatable-column name="Party Name" prop="partyId"></ngx-datatable-column>
                <ngx-datatable-column name="Color Tone " prop="colorTone"></ngx-datatable-column>
                <ngx-datatable-column name="Action" sortable="false">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                        <nb-icon icon="edit" status="primary" [options]="{ animation: { type: 'zoom' } }" [routerLink]="['/pages/shade/edit',row.id]"></nb-icon>
                        <nb-icon icon="trash" status="danger" [options]="{animation:{type:'zoom'}}"  (click)="deleteShade(row.id)"></nb-icon>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>

        </nb-card-body>
    </nb-card>
</div>