<ngx-loading [show]="loading"></ngx-loading>
<div class="row">
    <div class="col-lg-12">
        <nb-card class="nb-style">
            <nb-card-header class="nb-header">
                <div class="row">
                    <div class="col-md-1 col-3 display-flex-start max-width-device">
                        <button [routerLink]="['/pages/registration']" [disabled]="hiddenAdd" class="btn btn-md btn-design">ADD</button>
                    </div>
                    
                    <div class="col-md-9 col-7">
                        <h2 class="nb-text">Employee</h2>
                    </div>


                </div>
            </nb-card-header>
            <nb-card-body>

                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" (keyup)="filter($event.target.value)">
                </div>

                <ngx-datatable [rows]="empData" [ngClass]="tablestyle" class="material" [headerHeight]="31" [footerHeight]="31">
                    <ngx-datatable-column name="Actions" sortable="false" props="id" [maxWidth]="90" *ngIf="!hiddenEdit || !hiddenDelete">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

                            <nb-icon status="primary" [options]="{animation:{type:'zoom'}}" icon="edit" [hidden]="hiddenEdit" [routerLink]="['/pages/registration/edit',row.id]"></nb-icon>&nbsp;&nbsp;
                            <nb-icon status="danger" [options]="{animation:{type:'zoom'}}" icon="trash" [hidden]="hiddenDelete" (click)="deleteEmp(row.id)"></nb-icon>
                            <nb-icon icon="camera-outline" nbTooltip="QR" nbTooltipStatus="primary" status="danger" (click)="generateQR($event,row)" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Employee Id" prop="empId" [maxWidth]="200"></ngx-datatable-column>

                    <ngx-datatable-column name="Name" prop="name" [maxWidth]="300">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div class="row width-100">
                                <div class="col-md-3 col-3">
                                    <ng-container *ngFor="let ele of row.employeeDocumentList">
                                        <span *ngIf="ele.type == 'profile'" class="ngx-profile-table">
                                            <img [src]="ele.url" class="imageURL" >
                                        </span>
                                    </ng-container>

                                </div>
                                <div class="col-md-9 col-9">
                                    <span>{{row.name}}</span>
                                </div>
                            </div>

                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Contact" prop="contact" [maxWidth]="200"></ngx-datatable-column>
                    <ngx-datatable-column name="Aadhar No." prop="aadhaar" [maxWidth]="200"></ngx-datatable-column>



                </ngx-datatable>

                <div *ngIf="qrFlag">
                    

                    <ngx-qrcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel" [value]="value" cssClass="bshadow" class="text-center"></ngx-qrcode>
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="text-center">
                                <span class="scan-id-style">{{emp_id}}</span>
                                <div class="qr-share-opt display-qr-evenly">
                                    <div class="download-qr">
                                        <a [href]="href" (click)="downloadImage()" download>
                                            <nb-icon icon="cloud-download-outline" class="icon-qr-wd-height"></nb-icon>
                                        </a>

                                    </div>
                                    <div class="share-qr">
                                        <nb-icon icon="share-outline" class="icon-qr-wd-height" (click)="shareImage()"></nb-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </nb-card-body>
        </nb-card>
    </div>
</div>
