<ngx-loading [show]="loading"></ngx-loading>
<div class="row">
    <div class="col-lg-12">
        <nb-card class="nb-style">
            <nb-card-header class="nb-header">
                <div class="row">
                    <div class="col-md-1 col-3 display-flex-start">
                        <button [routerLink]="['/pages/registration']" [disabled]="hiddenAdd" class="btn btn-md btn-design">ADD</button>
                    </div>
                    <!-- <div class="col-md-1 col-3 display-flex-start">
                        <button [routerLink]="['/pages/registration/scan']" class="btn btn-md btn-design">Scan</button>
                    </div> -->
                    <div class="col-md-9 col-7">
                        <h2 class="nb-text">Employee</h2>
                    </div>


                </div>
            </nb-card-header>
            <nb-card-body>

                <ngx-datatable [rows]="empData" [ngClass]="tablestyle" class="material" [headerHeight]="31" [footerHeight]="31">
                    <ngx-datatable-column name="Actions" sortable="false" props="id" [maxWidth]="90" *ngIf="!hiddenEdit || !hiddenDelete">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

                            <nb-icon status="primary" [options]="{animation:{type:'zoom'}}" icon="edit" [hidden]="hiddenEdit" [routerLink]="['/pages/registration/edit',row.id]"></nb-icon>&nbsp;&nbsp;
                            <nb-icon status="danger" [options]="{animation:{type:'zoom'}}" icon="trash" [hidden]="hiddenDelete" (click)="deleteEmp(row.id)"></nb-icon>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Employee Id" prop="id" [maxWidth]="200"></ngx-datatable-column>

                    <ngx-datatable-column name="Name" prop="name" [maxWidth]="300">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div class="row width-100">
                                <div class="col-md-3">
                                    <ng-container *ngFor="let ele of row.employeeDocumentList">
                                        <span *ngIf="ele.type == 'profile'" class="ngx-profile-table">
                                            <img [src]="ele.url" class="imageURL" >
                                        </span>
                                    </ng-container>

                                </div>
                                <div class="col-md-9">
                                    <span>{{row.name}}</span>
                                </div>
                            </div>

                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Contact" prop="contact" [maxWidth]="200"></ngx-datatable-column>
                    <ngx-datatable-column name="Aadhar No." prop="aadhaar" [maxWidth]="200"></ngx-datatable-column>



                </ngx-datatable>

            </nb-card-body>
        </nb-card>
    </div>
</div>