<div class="container">
    <nb-card class="nb-style">
        <nb-card-header class="nb-header">
            <div *ngIf="currentStockBatch == null; else updateS">
                <h2 class="nb-text">ADD STOCK-BATCH</h2>
            </div>
            <ng-template #updateS>
                <h2 class="nb-text">UPDATE STOCK-BATCH</h2>
            </ng-template>
        </nb-card-header>
        <nb-card-body>
            <div>
                <form #myForm="ngForm">
                    <div class="form-group">

                        <div class="row">
                            <div class="col-md-4 mobile-mr-bt">
                                <label class="required">Stock In Type</label>
                                <input type="text" name="stockInType" #stockInType1="ngModel" class="form-control"
                                    [(ngModel)]='stockBatch.stockInType' required readonly>
                            </div>
                            <div class="col-md-4 mobile-mr-bt">
                                <label class="required">Party Name</label>
                                <ng-select name="partyId" [(ngModel)]='stockBatch.partyId' #partyId1="ngModel"
                                    [ngClass]="{'is-invalid': formSubmitted && partyId1.invalid}" required>
                                    <ng-option *ngFor="let p of party" [value]="p.id">{{p.partyName}}</ng-option>
                                </ng-select>
                                <div class="required-class" *ngIf="formSubmitted && (partyId1.invalid)">
                                    <span>Party name is required</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="required">Quality:</label>
                                <ng-select name="partyId" [(ngModel)]='stockBatch.qualityId' required
                                    #qualityId1="ngModel"
                                    [ngClass]="{'is-invalid': formSubmitted && qualityId1.invalid}"
                                    (change)="getUnit()">
                                    <ng-option *ngFor="let q of qualityList" [value]="q.id">
                                        {{q.qualityId}}-{{q.qualityName}}</ng-option>
                                </ng-select>
                                <div class="required-class" *ngIf="formSubmitted && qualityId1.invalid ">
                                    <span>Quality is required.</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 mobile-mr-bt">
                                <label class="required">Bill No</label>
                                <input type="number" name="billNo" class="form-control" #billNo1="ngModel"
                                    [(ngModel)]='stockBatch.billNo' required
                                    [ngClass]="{'is-invalid': formSubmitted && billNo1.invalid}" min="0">
                                <div class="invalid-feedback"
                                    *ngIf="formSubmitted && (billNo1.invalid || billNo1.dirty || billNo1.touched)">
                                    <span>Bill no. is required</span>
                                </div>
                            </div>
                            <div class="col-md-4 mobile-mr-bt">
                                <label class="required">Bill Date:</label>
                                <input type="date" name="billDate" class="form-control" #billDate1="ngModel"
                                    [(ngModel)]='stockBatch.billDate' ngbDatepicker #dp="ngbDatepicker" required
                                    [ngClass]="{'is-invalid': formSubmitted && billDate1.invalid}">
                                <div class="required-class" *ngIf="formSubmitted && (billDate1.invalid)">
                                    <span>Bill date is required</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="required">Challan No</label>
                                <input type="number" name="chlNo" class="form-control" #chlNo1="ngModel"
                                    [(ngModel)]='stockBatch.chlNo' required
                                    [ngClass]="{'is-invalid': formSubmitted && chlNo1.invalid}" min="0">
                                <div class="invalid-feedback"
                                    *ngIf="formSubmitted && (chlNo1.invalid || chlNo1.dirty || chlNo1.touched)">
                                    <span>Challan no. is required</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 mobile-mr-bt">
                                <label class="required">Challan Date:</label>
                                <input type="date" name="chlDate" class="form-control" #chlDate1="ngModel"
                                    [(ngModel)]='stockBatch.chlDate' ngbDatepicker #dp="ngbDatepicker" required
                                    [ngClass]="{'is-invalid': formSubmitted && chlDate1.invalid}">
                                <div class="required-class" *ngIf="formSubmitted && (chlDate1.invalid)">
                                    <span>Challan date is required</span>
                                </div>
                            </div>
                            <div class="col-md-4 mobile-mr-bt">
                                <label>Unit:</label>
                                <input type="text" name="unit" class="form-control" readonly #unit1="ngModel"
                                    [(ngModel)]='stockBatch.unit'>

                            </div>
                            <div class="col-md-4">
                                <label>Remark</label>
                                <input type="text" name="remark" class="form-control" #remark1="ngModel"
                                    [(ngModel)]='stockBatch.remark'>
                            </div>
                        </div>
                    </div>
                    <div class="batch-body">
                        <header class="batch-header">
                            <h2 class="batch-heading display-inline">BATCH</h2>

                        </header>
                        <div *ngIf="stockDataValues[0].batchId != null || addFlag">
                            <div [attr.id]="'repeat'+i" *ngFor="let block of stockDataValues; let i=index "
                                class="batch-card-margin">
                                <nb-card [attr.id]="'new'+i" class="padding-box">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4 col-8">
                                                <label style="float: left;">Batch No</label>
                                                <input [attr.id]="'batchNo'+i" type="number" [(ngModel)]='block.batchId' [disabled]="flag"
                                                    class="form-control" name="batchNo{{i}}" min="0" (click)="batchInsertCheck()">
                                            </div>
                                            <div class="col-md-8 col-4">
                                                <nb-icon status="danger" style="float: right;margin-right: 10px;;"
                                                    [options]="{animation:{type:'zoom'}}" icon="trash"
                                                    (click)="removeCard($event,i);"></nb-icon>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <ngx-datatable #table
                                                    class="material common-table datatable-auto-height box-shadow-none"
                                                    [rows]="block.batchMW" [headerHeight]="35" [footerHeight]="35"
                                                    [rowHeight]="'auto'" [columnMode]="'force'">

                                                    <ngx-datatable-column name="Meter" prop="mtr" [sortable]="false"
                                                        [width]="300" class="table-row">
                                                        <ng-template let-row="row" ngx-datatable-cell-template
                                                            let-rowIndex="rowIndex">
                                                            <input class="tableForm form-control" type="number"
                                                                (keyup)="onKeyUp($event,rowIndex,0,'mtr',i)"
                                                                 [(ngModel)]="row.mtr" [id]="'grData'+rowIndex +'-0'+i"
                                                                #meter1="ngModel" name="mtr{{rowIndex}}{{i}}" required
                                                                (input)="calculateWt(meter1.value,i,rowIndex,0);"
                                                                [ngClass]="{'is-invalid': formSubmitted && meter1.invalid}"
                                                                min="0" [disabled]="flag">
                                                            <div class="invalid-feedback"
                                                                *ngIf="formSubmitted && (meter1.invalid)"
                                                                style="display: inline-block;" min="0">
                                                                <span>Required</span>
                                                            </div>
                                                        </ng-template>
                                                    </ngx-datatable-column>

                                                    <ngx-datatable-column name="Weight" prop="wt" [sortable]="false"
                                                        [width]="300">
                                                        <ng-template let-row="row" ngx-datatable-cell-template
                                                            let-rowIndex="rowIndex">
                                                            <input class="tableForm form-control" type="number"
                                                                #weight1="ngModel" name="wt{{rowIndex}}{{i}}"
                                                                [(ngModel)]="row.wt"
                                                                (keyup)="onKeyUp($event,rowIndex,1,'wt',i)" required
                                                                [id]="'grData'+rowIndex+'-1'+i"
                                                                (input)="calculateMtr(weight1.value,i,rowIndex,1);"
                                                                [ngClass]="{'is-invalid': formSubmitted && weight1.invalid}"
                                                                min="0" [disabled]="flag">
                                                            <div class="invalid-feedback"
                                                                *ngIf="formSubmitted && (weight1.invalid)"
                                                                style="display: inline-block;" min="0">
                                                                <span>Required</span>
                                                            </div>
                                                        </ng-template>
                                                    </ngx-datatable-column>

                                                    <ngx-datatable-column name="Action" sortable="false">
                                                        <ng-template let-row="row" let-value="value"
                                                            ngx-datatable-cell-template let-rowIndex="rowIndex">
                                                            <nb-icon icon="trash" status="danger"
                                                                [options]="{ animation: { type: 'zoom' } }"
                                                                (click)="removeItem(rowIndex,i)" class="delete-icon">
                                                            </nb-icon>
                                                        </ng-template>
                                                    </ngx-datatable-column>

                                                </ngx-datatable>
                                            </div>
                                        </div>
                                    </div>
                                </nb-card>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="nb-icon-add">
                                <nb-icon status="primary" [options]="{animation:{type:'zoom'}}"
                                    (click)="addNew($event,myForm);" icon="plus" class="add-icon display-inline">
                                </nb-icon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mobile-btn-center">
                                <div class="padding-btn-box">
                                    <button *ngIf="currentStockBatch == null" type="button"
                                        class="btn btn-primary btn-sm btn-design"
                                        (click)="addStockBatch(myForm)">ADD</button>&nbsp;&nbsp;&nbsp;

                                    <button *ngIf="currentStockBatch != null" type="button"
                                        (click)="updateStockBatch(myForm)" class="btn btn-primary btn-sm btn-design"
                                        style="margin-right:20px">UPDATE</button>&nbsp;&nbsp;&nbsp;

                                    <button type="button" class="btn btn-primary btn-sm btn-design"
                                        routerLink="/pages/stock-batch">CANCEL</button>&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-primary btn-sm btn-design" *ngIf="addFlag" (click)="rearrangeBatchNo()">Rearrange Batch No.</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </nb-card-body>
    </nb-card>
</div>