.display {
  border-color: transparent;
}
.required-class{
  display: contents !important;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545
}
.required:after {
  content:" *";
  color: red;
}
.padding-box{
padding: 1.7rem;
margin-bottom: 30px;
}
.padding-btn-box{
  padding: 1.0rem;
  padding-top: 0;
}
.btn-design{
  margin: 0;
  padding: 6px 16px;
}
.datatable-icon-up::before{
  content: none;
}
span.datatable-header-cell-label{
  color: #000;
    font-size: 15px;
}