<ngx-loading [show]="loading"></ngx-loading>
<div id="target"></div>
<nb-card class="nb-style">
    <nb-card-header class="nb-header">

        <div class="row">
            <div class="col-md-5 col-6 display-flex-start max-width-device">
                <ng-select class="btn btn-md" (change)="setViewJobValue($event)"
                    placeholder="Select" [(ngModel)]="selectedTableChange">
                    <!-- <ng-option value="select">Select</ng-option> -->
                    <ng-option value="view table">View Table</ng-option>
                    <ng-option value="job card">Job Card</ng-option>
                </ng-select>
                <!-- <button class="btn btn-md btn-design" [routerLink]="['/pages/stock-batch/view']">View
                    Table</button> -->
            </div>
            <div class="col-md-7 col-6">
                <div *ngIf="addFlag">
                    <h2 class="nb-text txt-ov-elips">Add Stock-Batch</h2>
                </div>
                <div *ngIf="!addFlag">
                    <h2 class="nb-text txt-ov-elips">Update Stock-Batch</h2>
                </div>
            </div>



        </div>
    </nb-card-header>
    <nb-card-body>
        <div>
            <form #myForm="ngForm">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4 mobile-mr-bt">
                            <label class="required">Stock In Type</label>
                            <input type="text" name="stockInType"
                                class="form-control size-small" fieldsize="small" nbinput
                                 value="Fabric" required readonly>
                        </div>
                        <div class="col-md-4 mobile-mr-bt">
                            <label class="required">Party Name</label>
                            <ng-select name="partyId" [(ngModel)]='stockBatch.partyId' #partyId1="ngModel"
                                [ngClass]="{'is-invalid':(partyId1.invalid)&&(formSubmitted || partyId1.touched) }"
                                (change)="setQualityByParty($event)" required
                                [disabled]="stockDataValues && stockDataValues[0]">
                                <ng-option disabled="true">
                                    <div class="row">
                                        <div class="col-md-6 col-6">
                                            <div class="text-left txt-ov-elips">Party Name
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="text-right txt-ov-elips">
                                                Party Code</div>
                                        </div>
                                    </div>
                                </ng-option>
                                <ng-option *ngFor="let party of partyList" [value]="party.id">
                                    <div class="row">
                                        <div class="col-md-6 col-6">
                                            <div class="text-left txt-ov-elips"> {{party.partyName}}</div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="text-right txt-ov-elips"> {{party.partyCode}}</div>
                                        </div>
                                    </div>
                                </ng-option>
                            </ng-select>
                            <div class="input-required" *ngIf="(partyId1.invalid)&&(formSubmitted || partyId1.touched)">
                                <span>Party name is required</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="required">Quality:</label>
                            <ng-select name="qualityId" [(ngModel)]='stockBatch.qualityId' required
                                #qualityId1="ngModel"
                                [ngClass]="{'is-invalid':(qualityId1.invalid)&&(formSubmitted || qualityId1.touched)}"
                                (change)="getUnit($event)" class="required-error-dropdown dropdown-name"
                                [disabled]="stockDataValues && stockDataValues[0]">
                                <ng-option disabled="true">
                                    <div class="row">
                                        <div class="col-md-6 col-6">
                                            <div class="text-left txt-ov-elips">Quality Id</div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="text-right txt-ov-elips">Quality Name</div>
                                        </div>
                                    </div>
                                </ng-option>
                                <ng-option *ngFor="let q of qualityList" [value]="q.id?q.id:q.qualityEntryId">
                                    <div class="row">
                                        <div class="col-md-6 col-6">
                                            <div class="text-left txt-ov-elips"> {{q.qualityId}}</div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="text-right txt-ov-elips"> {{q.qualityName}}</div>
                                        </div>
                                    </div>
                                </ng-option>
                            </ng-select>
                            <div class="input-required"
                                *ngIf="(qualityId1.invalid)&&(formSubmitted || qualityId1.touched)">
                                <span>Quality is required.</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4 mobile-mr-bt">
                            <label class="required">Receive Date:</label>
                            <input name="receiveDate" class="form-control size-small" fieldsize="small" nbinput
                                #receiveDate1="ngModel" [(ngModel)]='stockBatch.receiveDate' [owlDateTimeTrigger]="dt2"
                                [owlDateTime]="dt2" required [max]="maxDate" placeholder="MM-DD-YYYY"
                                [ngClass]="{'is-invalid': (formSubmitted && receiveDate1.invalid) || (receiveDate1.invalid && receiveDate1.touched)}">
                            <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>

                            <div class="input-required"
                                *ngIf="(formSubmitted && receiveDate1.invalid) || (receiveDate1.invalid && receiveDate1.touched)">
                                <span>Receive date is required</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="required">Challan No</label>
                            <input type="text" name="chlNo" class="form-control size-small" fieldsize="small" nbinput
                                #chlNo1="ngModel" [(ngModel)]='stockBatch.chlNo' required
                                [ngClass]="{'is-invalid': (formSubmitted && chlNo1.invalid) || (chlNo1.invalid && chlNo1.touched)}"
                                min="0">
                            <div class="input-required"
                                *ngIf="(formSubmitted && chlNo1.invalid) || (chlNo1.invalid && chlNo1.touched)">
                                <span>Challan no. is required</span>
                            </div>
                        </div>

                        <div class="col-md-4 mobile-mr-bt">
                            <label class="required">Challan Date:</label>
                            <input name="chlDate" class="form-control size-small" fieldsize="small" fullwidth nbinput
                                #chlDate1="ngModel" [(ngModel)]='stockBatch.chlDate' [owlDateTimeTrigger]="dt1"
                                [owlDateTime]="dt1" required [max]="maxDate" placeholder="MM-DD-YYYY"
                                [ngClass]="{'is-invalid': (formSubmitted && chlDate1.invalid) || (chlDate1.invalid && chlDate1.touched)}">
                            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>

                            <div class="input-required"
                                *ngIf="(formSubmitted && chlDate1.invalid) || (chlDate1.invalid && chlDate1.touched)">
                                <span>Challan date is required</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4 mobile-mr-bt">
                            <label>Unit:</label>
                            <input type="text" name="unit" class="form-control size-small" fieldsize="small" nbinput
                                readonly #unit1="ngModel" [(ngModel)]='stockBatch.unit'>

                        </div>
                        <div class="col-md-4 mobile-mr-bt">
                            <label>Wt / 100 mtrs:</label>
                            <input type="text" name="wtPer100M" class="form-control size-small" fieldsize="small"
                                nbinput #wtPer100M1="ngModel" [(ngModel)]='stockBatch.wtPer100m' [readOnly]="stockDataValues && stockDataValues[0]">

                        </div>
                        <div class="col-md-4">
                            <label>Remark</label>
                            <input type="text" name="remark" class="form-control" #remark1="ngModel"
                                [(ngModel)]='stockBatch.remark'>
                        </div>
                    </div>
                </div>
                <div>
                    <header class="batch-header batch-card-margin">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="batch-heading display-inline">BATCH</h2>
                            </div>
                            <div class="col-md-6">
                                <div class="row totals">
                                    <div class="col-md-4 pt-2" >
                                        <h6 style="color: white;">Total Mtr: {{totalMeters}}</h6>
                                    </div>
                                    <div class="col-md-4 pt-2">
                                        <h6 style="color: white;">Total Wt : {{totalWeights}}</h6>
                                    </div>
                                    <div class="col-md-4 pt-2">
                                        <h6 style="color: white;">Total Gr : {{totalGrs}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </header>
                    <div class="row">
                        <div *ngFor="let block of stockDataValues; let i=index " [attr.id]="'repeat'+i"
                            class="col-md-6">
                            <fieldset [disabled]="production_flag[i]">
                                <nb-card [attr.id]="'new'+i" class="padding-box">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6 col-8">
                                                <label>Batch No</label>
                                                <input [attr.id]="'batchNo'+i" required type="number"
                                                    [(ngModel)]='block.batchId' [disabled]="true"
                                                    class="form-control size-small" fieldsize="small" nbinput
                                                    name="batchNo{{i}}" min="0" (click)="batchInsertCheck()">
                                                <div class="input-required" style="display: block !important;"
                                                    *ngIf="block.isNotUnique">
                                                    <span>Batch id already exists</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-4 display-flex-end" *ngIf="!production_flag[i]">
                                                <nb-icon status="danger" [options]="{animation:{type:'zoom'}}"
                                                    icon="trash" (click)="removeBatch(i);"></nb-icon>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mr-0">
                                        <div class="row">
                                            <div class="col-md-12 col-12">
                                                <div>
                                                    <fieldset [disabled]="!stockBatch.qualityId">
                                                        <ngx-datatable #table
                                                            class="material common-table datatable-auto-height box-shadow-none box-mr-bt stock-table-body-height"
                                                            [rows]="block.batchMW" [headerHeight]="31"
                                                            [footerHeight]="50" [scrollbarV]="true">

                                                            <ngx-datatable-column name="Meter" prop="mtr"
                                                                [sortable]="false" [width]="300" class="table-row">
                                                                <ng-template let-row="row" ngx-datatable-cell-template
                                                                    let-rowIndex="rowIndex">
                                                                    <input class="tableForm" type="number"
                                                                        (keyup)="onKeyUp($event,rowIndex,0,'mtr',i)"
                                                                        [(ngModel)]="row.mtr"
                                                                        [id]="'grData'+rowIndex+'-0'+i" #forFocus
                                                                        #meter1="ngModel" name="mtr{{rowIndex}}{{i}}"
                                                                        required
                                                                        (input)="calculateWt(meter1.value,i,rowIndex,0);"
                                                                        [ngClass]="{'is-invalid': formSubmitted && meter1.invalid}"
                                                                        min="0"
                                                                        [disabled]="flag || row.isProductionPlanned || weightFlag">
                                                                    <div class="input-required display-inlineblock"
                                                                        *ngIf="formSubmitted && (meter1.invalid)"
                                                                        min="0">
                                                                        <span>Required</span>
                                                                    </div>
                                                                </ng-template>
                                                            </ngx-datatable-column>

                                                            <ngx-datatable-column name="Weight" prop="wt"
                                                                [sortable]="false" [width]="300">
                                                                <ng-template let-row="row" ngx-datatable-cell-template
                                                                    let-rowIndex="rowIndex">
                                                                    <input class="tableForm" type="number"
                                                                        #weight1="ngModel" name="wt{{rowIndex}}{{i}}"
                                                                        [(ngModel)]="row.wt"
                                                                        (keyup)="onKeyUp($event,rowIndex,1,'wt',i)"
                                                                        required [id]="'grData'+rowIndex+'-1'+i"
                                                                        (input)="calculateMtr(weight1.value,i,rowIndex,1);"
                                                                        [ngClass]="{'is-invalid': formSubmitted && weight1.invalid}"
                                                                        min="0"
                                                                        [disabled]="flag || row.isProductionPlanned || !weightFlag">
                                                                    <div class="input-required display-inlineblock"
                                                                        *ngIf="formSubmitted && (weight1.invalid)"
                                                                        min="0">
                                                                        <span>Required</span>
                                                                    </div>
                                                                </ng-template>
                                                            </ngx-datatable-column>

                                                            <ngx-datatable-column name="Action" sortable="false">
                                                                <ng-template let-row="row" let-value="value"
                                                                    ngx-datatable-cell-template let-rowIndex="rowIndex">
                                                                    <nb-icon icon="trash" status="danger"
                                                                        [hidden]=" flag || row.isProductionPlanned"
                                                                        [options]="{ animation: { type: 'zoom' } }"
                                                                        (click)="removeItem(rowIndex,i)">
                                                                    </nb-icon>
                                                                </ng-template>
                                                            </ngx-datatable-column>
                                                            <ngx-datatable-footer>
                                                                <ng-template ngx-datatable-footer-template
                                                                    let-rowCount="rowCount" let-row="row">
                                                                    <div class="col-md-4">
                                                                        <div class="toal-finish-mtr">
                                                                            Total mtr: {{block.totalMt | number :
                                                                            '1.2-2'}}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="toal-finish-mtr">
                                                                            Total wt: {{block.totalWt | number :
                                                                            '1.2-2'}}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="toal-finish-mtr">
                                                                            Total GR: {{rowCount}}
                                                                        </div>
                                                                    </div>
                                                                </ng-template>
                                                            </ngx-datatable-footer>
                                                        </ngx-datatable>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nb-card>
                            </fieldset>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="nb-icon-add">
                                <a class="link-fab linkedin" media="Linkedin">
                                    <div class="tooltip">Add Batch</div>
                                    <nb-icon [options]="{animation:{type:'zoom'}}" (click)="addNewBatch($event);"
                                        icon="plus" class="add-icon display-inline">
                                    </nb-icon>
                                </a>

                            </div>
                        </div>
                        <div class="col-md-9 mobile-btn-center text-btn-right mt-50">


                            <button *ngIf="addFlag" class="btn btn-primary btn-sm btn-design-cancel" type="button"
                                (click)="reset(myForm)">CANCEL</button>

                            <button *ngIf="!addFlag" class="btn btn-primary btn-sm btn-design-cancel" type="button"
                                [routerLink]="['/pages/stock-batch/view']">CANCEL</button>

                            <button *ngIf="addFlag" type="button"
                                class="btn btn-primary btn-sm btn-design-save mob-stock button-base ripple"
                                (click)="addUpdateStockBatch(myForm, false)" [disabled]="disableButton">SAVE</button>
                            <button *ngIf="!addFlag" type="button"
                                class="btn btn-primary btn-sm btn-design-save button-base ripple"
                                (click)="addUpdateStockBatch(myForm, false)" [disabled]="disableButton">UPDATE</button>
                            <button type="button"
                                class="btn btn-primary btn-sm btn-design-save mob-stock button-base ripple"
                                (click)="addUpdateStockBatch(myForm, true)" [disabled]="disableButton">SAVE &
                                PRINT</button>


                        </div>

                    </div>
                </div>

            </form>
        </div>
    </nb-card-body>
</nb-card>
