<ngx-loading [show]="loading"></ngx-loading>
<div id="target">
</div>
<nb-card class="nb-style">
    <nb-card-header class="nb-header">
        <div *ngIf="this.currentShadeId == null; else updateS">
            <h2 class="nb-text">Add Shade</h2>
        </div>
        <ng-template #updateS>
            <h2 class="nb-text">Update Shade</h2>
        </ng-template>
    </nb-card-header>
    <nb-card-body>
        <div>
            <form #shadeForm="ngForm" (keydown.enter)="$event.preventDefault()">
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Party Name</label>
                            <ng-select name="partyName" partyName1="ngModel" [(ngModel)]="shades.partyId" #partyName1="ngModel" required (change)="getQualityFromParty($event)" [ngClass]="{'is-invalid':(partyName1.invalid )&&(formSubmitted  || partyName1.touched) }" class="required-error-dropdown">
                                <ng-option *ngFor="let p of partyList" [value]="p.id" placeholder="Party Name">
                                    {{p.partyName}}
                                </ng-option>
                            </ng-select>
                            <div class="required-class" *ngIf="(partyName1.invalid )&&(formSubmitted  || partyName1.touched)">
                                <span>Party Name is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">Party Shade No</label>
                            <input type="text" class="form-control size-small" fieldsize="small" nbinput [(ngModel)]="shades.partyShadeNo" #partyShadeNo1="ngModel" name="partyShadeNo" required [ngClass]="{'is-invalid':(partyShadeNo1.invalid)&&(formSubmitted ||  partyShadeNo1.touched)}"
                                placeholder="Party Shade No">
                            <div class="invalid-feedback" *ngIf="(partyShadeNo1.invalid)&&(formSubmitted ||  partyShadeNo1.touched)">

                                <span>Party Shade No is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">Process Name</label>
                            <ng-select aria-placeholder="Select process name" [(ngModel)]="shades.processId" (change)="setProcessName(shades.processId)" #processName1="ngModel" name="processName" required [ngClass]="{'is-invalid':(processName1.invalid)&&(formSubmitted   || processName1.touched) }"
                                placeholder="Process Name" class="required-error-dropdown">
                                <ng-option *ngFor="let p of processList" [value]="p.id">
                                    {{p.dyeingProcessName}}
                                </ng-option>
                            </ng-select>
                            <div class="required-class" *ngIf="(processName1.invalid)&&(formSubmitted   || processName1.touched)">
                                <span>Process Name is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">Quality Id</label>
                            <ng-select placeholder="Select Quality Id" [(ngModel)]="shades.qualityId" #qualityId1="ngModel" name="qualityId" (change)="qualityIdSelected($event)" required [ngClass]="{'is-invalid':(qualityId1.invalid)&&(formSubmitted ||  qualityId1.touched)}" class="required-error-dropdown">
                                <ng-option disabled="true">
                                    <div class="row">
                                        <div class="col-md-6 col-6">
                                            <div class="text-left txt-ov-elips" style="font-weight:bold;font-size: large;">Quality Id</div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="text-right txt-ov-elips" style="font-weight:bold;font-size: large;">Party Name</div>
                                        </div>
                                    </div>
                                </ng-option>
                                <ng-option *ngFor="let q of quality;let rowIndex = row;" [value]="q.qualityId">
                                    <div class="row">
                                        <div class="col-md-6 col-6">
                                            <div class="text-left txt-ov-elips">{{q.qualityId}}</div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="text-right txt-ov-elips">{{q.partyName}}</div>
                                        </div>
                                    </div>
                                </ng-option>
                            </ng-select>
                            <div class="required-class" *ngIf="(qualityId1.invalid)&&(formSubmitted ||  qualityId1.touched)">
                                <span>Quality id is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Quality Name</label>
                            <input type="text" name="qualityName" #qualityName1="ngModel" [(ngModel)]="shades.qualityName" readonly class="form-control size-small" fieldsize="small" nbinput placeholder="Quality Name">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Quality Type</label>
                            <input type="text" name="qualityType" readonly #qualityType1="ngModel" [(ngModel)]="shades.qualityType" class="form-control size-small" fieldsize="small" nbinput placeholder="Quality Type">
                        </div>
                    </div>



                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">Color Tone</label>
                            <input class="form-control size-small" fieldsize="small" nbinput [(colorPicker)]="color" [style.background]="color" [value]="color" (colorPickerChange)="updateColor()" placeholder="Color Tone" />
                        </div>
                        <!--<div class="invalid-feedback"
                        *ngIf="formSubmitted && (color1.invalid || (color1.dirty || color1.untouched) )">
                    
                    <span>Color tone  is required</span></div>-->
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Lab Color No</label>
                            <input type="text" name="labColorNo" labColorNo1="ngModel" [(ngModel)]="shades.labColorNo" class="form-control size-small" fieldsize="small" nbinput placeholder="Lab Color No">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Category</label>
                            <ng-select name="category" category1="ngModel" [(ngModel)]="shades.category" placeholder="Category" class="required-error-dropdown">
                                <ng-option *ngFor="let c of categoryList" [value]="c.name">
                                    {{c.name}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Remark</label>
                            <textarea name="remark" remark1="ngModel" [(ngModel)]="shades.remark" class="form-control remark-resize"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <ngx-datatable #table class="material common-table datatable-auto-height" [rows]="shades.shadeDataList" [headerHeight]="31" [footerHeight]="31">
                            <ngx-datatable-column name="Action" [sortable]="false" [width]="300">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <nb-icon icon="trash" status="danger" [options]="{ animation: { type: 'zoom' } }" (click)="removeItem(rowIndex)"></nb-icon>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Item Name" prop="shades.itemName" [sortable]="false" [width]="300">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <ng-select (change)="itemSelected(rowIndex,row)" #itemName1="ngModel" name='itemName{{rowIndex}}' class="tableForm" id="itemName" [(ngModel)]="row.itemName" required (keyup)="onKeyUp($event,rowIndex,0,'itemName')" [id]="'supplierList'+rowIndex+'-0'" appendTo="body"
                                        class="ng-select-br-none">
                                        <ng-option *ngFor="let s of (supplierList | filterOutSelectedShade : shades.shadeDataList)" [value]="s.itemName">{{s.itemName}} - {{s.supplierName}}
                                        </ng-option>
                                    </ng-select>
                                    <div class="invalid-feedback" *ngIf="formSubmitted && (itemName1.invalid)" style="display: inline-block;">
                                        <span>Required</span>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Concentration" [sortable]="false" [width]="300" prop="shades.concentration">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <input type="number" #concentration1="ngModel" name='concentration{{rowIndex}}' class="tableForm line-height-subtable" id="concentration" [(ngModel)]="row.concentration" (input)="calculateAmount(rowIndex)" (keyup)="onKeyUp($event,rowIndex,1,'concentration')"
                                        [id]="'supplierList'+rowIndex+'-1'" min="0">
                                    <div class="invalid-feedback" *ngIf="formSubmitted && (concentration1.invalid)" style="display: inline-block;">
                                        <span>Required</span>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Supplier Name" prop="supplierId" [sortable]="false" [width]="300">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <input class="tableForm line-height-subtable" type="text" #supplierName1="ngModel" name='supplierName{{rowIndex}}' [(ngModel)]="row.supplierName" (keyup)="onKeyUp($event,rowIndex,2,'supplierName')" [id]="'supplierList'+rowIndex+'-2'" readonly>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Rate" prop="rate" [sortable]="false" [width]="300">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <input class="tableForm line-height-subtable" type="text" #rate1="ngModel" name='rate{{rowIndex}}' [(ngModel)]="row.rate" (keyup)="onKeyUp($event,rowIndex,3,'rate')" [id]="'supplierList'+rowIndex+'-3'" readonly>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Amount" prop="amount" [sortable]="false" [width]="300">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <input class="tableForm line-height-subtable" type="text" #rate1="ngModel" name='amount{{rowIndex}}' [(ngModel)]="row.amount" (keyup)="onKeyUp($event,rowIndex,4,'amount')" [id]="'supplierList'+rowIndex+'-4'" readonly>
                                </ng-template>
                            </ngx-datatable-column>


                        </ngx-datatable>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mobile-btn-center text-btn-right">
                        <div class="padding-bt-tp">
                            <button class="btn btn-primary btn-sm btn-design-cancel" routerLink='/pages/shade'>CANCEL</button>
                            <button *ngIf="this.currentShadeId != null" type="button" (click)="updateShade(shadeForm)" class="btn btn-primary btn-sm btn-design button-base ripple" style="margin-right:20px" [disabled]="disableButton">UPDATE</button>

                            <button *ngIf="this.currentShadeId == null" type="button" class="btn btn-primary btn-sm btn-design button-base ripple" style="margin-right:20px" (click)="addShade(shadeForm)" [disabled]="disableButton">SAVE</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </nb-card-body>
</nb-card>