<ngx-loading [show]="loading"></ngx-loading>
<div id="target"></div>
<nb-card class="nb-style">
    <nb-card-header class="nb-header">

        <div class="row">
            <div class="col-md-10 col-6">
                <div *ngIf="this.currentShadeId == null; else updateS">
                    <h2 class="nb-text">Add Shade</h2>
                </div>
                <ng-template #updateS>
                    <h2 class="nb-text">Update Shade</h2>
                </ng-template>
            </div>
            <div *ngIf = "!apcFlag" class="col-md-2 col-6 display-flex-start desktop-justify-flexend">
                <button class="btn btn-md btn-design" [routerLink]="['/pages/shade/view']">View
                    Table</button>
            </div>
            <div  #updateS *ngIf = "apcFlag" class="col-md-2 col-6 display-flex-start desktop-justify-flexend">
                <button class="btn btn-md btn-design" [routerLink]="['/pages/shade/pending-apc']">View
                    Table</button>
            </div>
        </div>

    </nb-card-header>
    <nb-card-body>
        <div>
            <form #shadeForm="ngForm" (keydown.enter)="$event.preventDefault()">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">Party Name</label>
                            <ng-select placeholder="Select Party Name" name="partyName" partyName1="ngModel" [(ngModel)]="shadeObj.partyId" #partyName1="ngModel" required (change)="getQualityFromParty($event)" [ngClass]="{
                                'is-invalid':
                                partyName1.invalid &&
                                (formSubmitted || partyName1.touched) &&
                                !shadeObj.pending
                                }" class="required-error-dropdown dropdown-name">
                                <ng-option disabled="true">
                                    <div class="row">
                                        <div class="col-md-6 col-6">
                                            <div class="text-left txt-ov-elips">
                                                Party Name
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="text-right txt-ov-elips">
                                                Party Code
                                            </div>
                                        </div>
                                    </div>
                                </ng-option>
                                <ng-option *ngFor="let p of partyList" [value]="p.id">
                                    <div class="row">
                                        <div class="col-md-6 col-6">
                                            <div class="text-left txt-ov-elips">
                                                {{ p.partyName }}
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="text-right
                                                txt-ov-elips">
                                                {{ p.partyCode }}
                                            </div>
                                        </div>
                                    </div>
                                </ng-option>
                            </ng-select>

                            <div class="input-required" *ngIf="partyName1.invalid
                                &&
                                !shadeObj.pending &&
                                (formSubmitted || partyName1.touched)">
                                <span>Party Name is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">Party Shade No</label>
                            <input type="text" class="form-control size-small" fieldsize="small" nbinput name="partyShadeNo" [(ngModel)]="shadeObj.partyShadeNo" #partyShadeNo1="ngModel" required [ngClass]="{
                                'is-invalid':
                                partyShadeNo1.invalid &&
                                (formSubmitted || partyShadeNo1.touched) &&
                                !shadeObj.pending
                                }" placeholder="Party Shade No" />

                            <div class="input-required" *ngIf="partyShadeNo1.invalid
                                &&
                                !shadeObj.pending &&
                                (formSubmitted || partyShadeNo1.touched)">
                                <span>Party Shade No is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">Process Name</label>
                            <ng-select aria-placeholder="Select process name" name="process_name" [(ngModel)]="shadeObj.processId" (change)="setProcessName(shadeObj.processId)" #processName1="ngModel" name="processName" required [ngClass]="{
                                'is-invalid':
                                processName1.invalid &&
                                (formSubmitted || processName1.touched)
                                }" placeholder="Process Name" class="required-error-dropdown dropdown-name">
                                <ng-option *ngFor="let p of processList" [value]="p.id">
                                    {{ p.dyeingProcessName }}
                                </ng-option>
                            </ng-select>

                            <div class="input-required" *ngIf="processName1.invalid
                                &&
                                (formSubmitted || processName1.touched)">
                                <span>Process Name is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label [ngClass]="{ required: !shadeObj.pending }">Quality
                                Id</label>
                            <ng-select placeholder="Select Quality Id" name="qualityId" [(ngModel)]="shadeObj.qualityId" #qualityId1="ngModel" (change)="qualityIdSelected($event)" required [ngClass]="{
                                'is-invalid':
                                qualityId1.invalid &&
                                (formSubmitted || qualityId1.touched) &&
                                !shadeObj.pending
                                }" class="required-error-dropdown dropdown-name">
                                <ng-option disabled="true">
                                    <div class="row">
                                        <div class="col-md-6 col-6">
                                            <div class="text-left txt-ov-elips">
                                                Quality Id
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="text-right txt-ov-elips">
                                                Party Name
                                            </div>
                                        </div>
                                    </div>
                                </ng-option>
                                <ng-option *ngFor="let q of qualityList" [value]="q.qualityId">
                                    <div class="row">
                                        <div class="col-md-6 col-6">
                                            <div class="text-left txt-ov-elips">
                                                {{ q.qualityId }}
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="text-right
                                                txt-ov-elips">
                                                {{ q.partyName }}
                                            </div>
                                        </div>
                                    </div>
                                </ng-option>
                            </ng-select>

                            <div class="input-required" *ngIf="qualityId1.invalid
                                &&
                                !shadeObj.pending &&
                                (formSubmitted || qualityId1.touched)">
                                <span>Quality id is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Quality Name</label>
                            <input type="text" name="qualityName" #qualityName1="ngModel" [(ngModel)]="shadeObj.qualityName" readonly class="form-control size-small" fieldsize="small" nbinput placeholder="Quality Name" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Quality Type</label>
                            <input type="text" name="qualityType" readonly #qualityType1="ngModel" [(ngModel)]="shadeObj.qualityType" class="form-control size-small" fieldsize="small" nbinput placeholder="Quality Type" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">Color Tone</label>
                            <input class="form-control size-small" fieldsize="small" nbinput [(colorPicker)]="color" [style.background]="color" [value]="color" (colorPickerChange)="updateColor()" placeholder="Color Tone" />
                        </div>
                        <!--<div class="invalid-feedback"
                        *ngIf="formSubmitted && (color1.invalid || (color1.dirty || color1.untouched) )">
                    
                    <span>Color tone  is required</span></div>-->
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Lab Color No</label>
                            <input type="text" name="labColorNo" labColorNo1="ngModel" [(ngModel)]="shadeObj.labColorNo" class="form-control size-small" fieldsize="small" nbinput placeholder="Lab Color No" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Category</label>
                            <ng-select name="category" category1="ngModel" [(ngModel)]="shadeObj.category" placeholder="Select Category" class="required-error-dropdown">
                                <ng-option *ngFor="let c of categoryList" [value]="c.name">
                                    {{ c.name }}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Remark</label>
                            <textarea name="remark" remark1="ngModel" [(ngModel)]="shadeObj.remark" class="form-control remark-resize"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4 desktop-btn">
                        <div class="form-group">
                            <!-- <label class="required">Pending</label> -->
                            <nb-checkbox class="status-basic nb-transition" id="pending" name="pending" [(ngModel)]="shadeObj.pending" [checked]="shadeObj.pending" (checkedChange)="shadeObj.pending=
                                !shadeObj.pending">
                                <span class="text cr-txt">Pending</span>
                            </nb-checkbox>
                        </div>
                    </div>
                    <!-- <div class="col-md-4" *ngIf="shadeObj.pending">
                        <div class="form-group">
                            <label [ngClass]="{'required':shadeObj.pending }">APC No</label>
                            <input type="text" class="form-control size-small" fieldsize="small" nbinput name="apc"
                                [(ngModel)]="shadeObj.apcNo" #apcNo1="ngModel" required
                                [ngClass]="{'is-invalid':(apcNo1.invalid)&&(formSubmitted ||  apcNo1.touched)&&(shadeObj.pending)}"
                                placeholder="APC No">


                            <div class="invalid-feedback"
                                *ngIf="(apcNo1.invalid) && shadeObj.pending &&(formSubmitted ||  apcNo1.touched)">

                                <span>APC No is required</span>
                            </div>

                        </div>
                    </div> -->
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <ngx-datatable #table class="material common-table
                            datatable-auto-height" [rows]="shadeObj.shadeDataList" [headerHeight]="31" [footerHeight]="31">
                            <ngx-datatable-column name="Action" [sortable]="false" [width]="300">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <nb-icon icon="trash" status="danger" [options]="{ animation: { type: 'zoom' }
                                        }" (click)="removeItem(rowIndex)"></nb-icon>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Item Name" prop="shadeObj.supplierItemId" [sortable]="false" [width]="300">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <ng-select #data (change)="itemSelected(rowIndex, row, $event)" #itemName1="ngModel" name="itemName{{ rowIndex }}" class="tableForm" id="itemName" [(ngModel)]="row.supplierItemId" required (keyup)="onKeyUp($event, rowIndex, 0,
                                        'itemName')" [id]="'supplierList' + rowIndex + '-0'" appendTo="body" class="ng-select-br-none dropdown-name" [disabled]="shadeObj.pending">
                                        <ng-option *ngFor="let s of supplierList
                                            | filterOutSelectedShade
                                            : shadeObj.shadeDataList
                                            : refreshFlag" [value]="s.id">{{ s.itemName }} - {{ s.supplierName }}
                                        </ng-option>
                                    </ng-select>
                                    <div [ngClass]="{ required:
                                        !shadeObj.pending }">
                                        <div class="input-required display-inlineblock" *ngIf="formSubmitted &&
                                            itemName1.invalid">
                                            <span>Required</span>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Concentration" [sortable]="false" [width]="300" prop="shadeObj.concentration">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <input type="number" #concentration1="ngModel" name="concentration{{ rowIndex }}" class="tableForm line-height-subtable" id="concentration" [(ngModel)]="row.concentration" (keypress)="checkQualitySelected()" (input)="calculateAmount(rowIndex)" (keyup)="onKeyUp($event, rowIndex, 1,
                                        'concentration')" [id]="'supplierList' + rowIndex +
                                        '-concentration'" min="0" [disabled]="shadeObj.pending" />

                                    <div [ngClass]="{ required:
                                        !shadeObj.pending }">
                                        <div class="input-required display-inlineblock" *ngIf="formSubmitted &&
                                            concentration1.invalid">
                                            <span>Required</span>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Supplier Name" prop="supplierId" [sortable]="false" [width]="300">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <input class="tableForm
                                        line-height-subtable" type="text" #supplierName1="ngModel" name="supplierName{{ rowIndex }}" [(ngModel)]="row.supplierName" (keyup)="onKeyUp($event, rowIndex, 2,
                                        'supplierName')" [id]="'supplierList' + rowIndex +
                                        '-supplierName'" readonly />
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Rate" prop="rate" [sortable]="false" [width]="300">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <input class="tableForm
                                        line-height-subtable" type="text" #rate1="ngModel" name="rate{{ rowIndex }}" [(ngModel)]="row.rate" (keyup)="onKeyUp($event, rowIndex, 3,
                                        'rate')" [id]="'supplierList' + rowIndex +
                                        '-rate'" readonly />
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Amount" prop="amount" [sortable]="false" [width]="300">
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <input class="tableForm
                                        line-height-subtable" type="text" #rate1="ngModel" name="amount{{ rowIndex }}" [(ngModel)]="row.amount" (keyup)="onKeyUp($event, rowIndex, 4,
                                        'amount')" [id]="'supplierList' + rowIndex +
                                        '-amount'" readonly />
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <div class="text-right mobile-text-left">
                            <p class="amount-weight-mtr">
                                <span class="text-batch-mtr"><b> Total Amount:
                                    </b> </span><span>{{ totalAmount }}</span>
                            </p>
                            <p class="amount-weight-mtr">
                                <span class="text-batch-mtr"><b>Costing/weight:
                                    </b></span><span>{{ costKg }}</span>
                            </p>
                            <p class="amount-weight-mtr">
                                <span class="text-batch-mtr"><b>Costing/meter:
                                    </b></span><span>{{ costMtr }}</span>
                            </p>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mobile-btn-center text-btn-right">
                        <div class="padding-bt-tp">
                            <!-- <button *ngIf="!apcFlag" class="btn btn-primary btn-sm btn-design-cancel"
                                routerLink='/pages/shade'>CANCEL</button> -->
                            <button *ngIf="!apcFlag && !this.currentShadeId" class="btn btn-primary btn-sm btn-design-cancel" type="button" (click)="reset(shadeForm)">CANCEL</button>

                            <button *ngIf="!apcFlag && this.currentShadeId" class="btn btn-primary btn-sm btn-design-cancel" type="button" [routerLink]="['/pages/shade/view']">CANCEL</button>

                            <button *ngIf="apcFlag" class="btn btn-primary btn-sm btn-design-cancel" routerLink='/pages/shade/pending-apc'>CANCEL</button>
                            <button *ngIf="this.currentShadeId" type="button" (click)="updateShade(shadeForm)" class="btn btn-primary btn-sm btn-design-save button-base ripple" [disabled]="disableButton">UPDATE</button>

                            <button *ngIf="!this.currentShadeId" type="button" class="btn btn-primary btn-sm btn-design-save button-base ripple" (click)="addShade(shadeForm)" [disabled]="disableButton">SAVE</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </nb-card-body>
</nb-card>