<ngx-loading [show]="loading"></ngx-loading>
<div class="row">
    <div class="col-lg-12">
        <nb-card class="nb-style">
            <nb-card-header class="nb-header">
                <div class="row">
                    <div class="col-md-5 col-6 display-flex-start max-width-device">
                        <ng-select class="btn btn-md" (change)="setViewJobValue($event)"
                            placeholder="Select">
                            <ng-option value="pending">Pending batches</ng-option>
                            <ng-option value="view table">View Table</ng-option>
                            <ng-option value="job card">Job Card</ng-option>
                            <ng-option value="return">Lot return</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-md-7 col-6">
                        <h2 class="nb-text">Lot Return</h2>
                    </div>


                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                <div style="display: flex;">
                                    <p style="margin-top: 4px;margin-right: 2px;">OR</p>
                                    <nb-toggle status="primary" labelPosition="start" name="shift"
                                    (ngModelChange)="getAllReturnLots()" [(ngModel)]="requestData.data.isAnd"></nb-toggle>
                                    <p style="margin-top: 4px;margin-left: 2px;">AND</p>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                                    aria-describedby="basic-addon1" [(ngModel)]="searchStr">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ng-container *ngIf="requestData.data.parameters && requestData.data.parameters.length">
                        <div class="filter-by-row">
                            <label for="">Filter By : </label>
                            <div class="filter-by-col">
                                <div class="tag-style-con">
                                    <div class="tag-style" *ngFor="let field of requestData.data.parameters">
                                        <span class="filter-by-title">{{field.field[0]}}</span> :
                                        <span class="filter-by-val">{{field.value}}</span>
                                        <span (click)="onClear(field.field[0])" style="cursor: pointer;">
                                            <strong>x</strong>
                                        </span>
                                    </div>
                                    <div class="filter-by-clear-all" (click)="onClearFilter()">Clear All</div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
        
                <ngx-datatable [rows]="stockList | searchInTable : searchStr : requestData.data.isAnd : tableHeaders"
                    [ngClass]="'bootstrap'" [headerHeight]="31" class="material  table-responsive" [footerHeight]="40"
                    [externalPaging]="true" [count]="requestData.data.total" [offset]="requestData.data.pageIndex"
                    [limit]="requestData.data.pageSize" (page)="setPage($event)">
                    <ngx-datatable-column name="Actions" sortable="false" prop="id"
                        [maxWidth]="90">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <!-- <nb-icon status="primary" [options]="{animation:{type:'zoom'}}" icon="edit"
                                [hidden]="hiddenEdit" [routerLink]="['/pages/stock-batch/edit',row.id]"></nb-icon> -->
                            <!-- <nb-icon status="danger" [options]="{animation:{type:'zoom'}}" icon="trash"
                                (click)="deleteStockBatch(row.id)" [hidden]="hidden || (row | disableStockBatchPipe)">
                            </nb-icon> -->
                            <nb-icon icon="clipboard" nbTooltip="Print" nbTooltipStatus="primary" status="danger"
                                (click)="print(row)" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Chl No" props="chlNo" [maxWidth]="100">
                        <ng-template ngx-datatable-header-template let-value="value">Chl No
                            <div class="filter-icon">
                                <nb-icon icon="menu-outline" (click)="onOpenFilter('chlNo')"
                                    class="nb-icon-filter" [nbPopover]="templateRef" nbPopoverTrigger="noop"></nb-icon>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Party Name" props="partyName">
                        <ng-template ngx-datatable-header-template let-value="value">Party Name
                            <div class="filter-icon">
                                <nb-icon icon="menu-outline" (click)="onOpenFilter('partyName')"
                                    class="nb-icon-filter" [nbPopover]="templateRef" nbPopoverTrigger="noop"></nb-icon>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Quality Name" props="qualityName">
                        <ng-template ngx-datatable-header-template let-value="value">Quality Name
                            <div class="filter-icon">
                                <nb-icon icon="menu-outline" (click)="onOpenFilter('qualityName')"
                                    class="nb-icon-filter" [nbPopover]="templateRef" nbPopoverTrigger="noop"></nb-icon>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="GR List" prop="batchReturnList" [maxWidth]="230">
                        <!-- <ng-template ngx-dat'atable-header-template let-value="value">GR List
                            <div class="filter-icon">
                                <nb-icon icon="menu-outline" (click)="onOpenFilter('batchReturnList')"
                                    class="nb-icon-filter" [nbPopover]="templateRef" nbPopoverTrigger="noop"></nb-icon>
                            </div>
                        </ng-template>' -->
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <ng-container *ngFor="let batch of row.batchReturnList">
                                <span class="invpice-batch-style">{{batch.mtr}} Mtr. ({{batch.wt}} Wt.) </span>
                            </ng-container>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Broker" props="broker" >
                        <ng-template ngx-datatable-header-template let-value="value">Delivery Person
                            <div class="filter-icon">
                                <nb-icon icon="menu-outline" (click)="onOpenFilter('broker')"
                                    class="nb-icon-filter" [nbPopover]="templateRef" nbPopoverTrigger="noop"></nb-icon>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Tempo No" props="tempoNo" >
                        <ng-template ngx-datatable-header-template let-value="value">Tempo No
                            <div class="filter-icon">
                                <nb-icon icon="menu-outline" (click)="onOpenFilter('tempoNo')"
                                    class="nb-icon-filter" [nbPopover]="templateRef" nbPopoverTrigger="noop"></nb-icon>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
                <div class="page-sizer d-flex">
                    <span>Page Size: </span>
                    <select name="pageSizer" [(ngModel)]="selectedPageSize" (change)="pageSizeChanged()">
                        <option *ngFor="let size of pageSizes" [value]="size">{{size}}</option>
                    </select>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<ng-template #templateRef>
    <div id="filterDiv" style="padding: 2px 14px; width: 250px;">
        <div class="row" style="background-color: #aa3634;">
            <div class="col-md-10">
                <span style="color: white;">Filter</span>
            </div>
            <div class="col-md-2" style="margin-top: 3px;color: white;">
                <div (click)="closeFilterPopover()" style="cursor: pointer;text-align: center;">
                    <strong>X</strong>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 8px;">

            <div class="col-md-12 mb-1">
                <ng-container *ngIf="stringFlag">
                    <ng-select [(ngModel)]="operatorSelected" appendTo="body" class="popup-select"
                        placeholder="Select Filter">
                        <ng-option value="LIKE">Conatins</ng-option>
                        <!-- <ng-option value="NOT_CONTAINS">Not Contains</ng-option> -->
                        <ng-option value="EQUALS">Equals</ng-option>
                        <ng-option value="NOT_EQUALS">Not Equals</ng-option>
                        <ng-option value="START_WITH">Starts With</ng-option>
                        <ng-option value="END_WITH">Ends With</ng-option>
                    </ng-select>
                </ng-container>
                <ng-container *ngIf="numberFlag">
                    <ng-select appendTo="body" class="popup-select" placeholder="Select Filter"
                        [(ngModel)]="operatorSelected">
                        <!-- (change)="onChangeFilterNumberSettings($event)"  -->
                        <ng-option value="GREATER_THAN">Greater Than</ng-option>
                        <ng-option value="LESS_THAN">Less Than</ng-option>
                        <ng-option value="EQUALS">Equals</ng-option>
                        <ng-option value="NOT_EQUALS">Not Equals</ng-option>
                    </ng-select>
                </ng-container>

            </div>
            <div class="col-md-12 mb-1">
                <input type="text" class="form-control" placeholder="Filter..." [(ngModel)]="filterWord">
            </div>
        </div>
        <button nbButton status="primary" style="margin-right: 5px;" (click)="onApplyFilter()">Apply</button>
        <button nbButton status="danger" (click)="closeFilterPopover()">Close</button>
    </div>
</ng-template>