.font-styles {
    font-size: large;
}

.report-header {
    background: #c6d9f1;
    color: #4f6072;
}

.invoice-no-heading {
    padding: 0px 2px ;
    width: 100%;
    border-bottom: 1px solid black;
}

.print-body {
    margin: 10px;
}
.bold-invoice {
    padding: 2px;
    font-weight: 700;
}

.tr:nth-child(even) {
    background-color: Lightgreen;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }