<nb-card class="nb-style">
    <nb-card-header class="nb-header">
        <div>
            <div class="row">
                <div class="col-md-11 col-10">
                    <h2 class="nb-text">Issue Color Box</h2>
                </div>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div>
            <form #myForm="ngForm">
                <div class="row">
                    <!-- Supplier name -->

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required">Supplier Name</label>
                            <ng-select appendTo="body" name="supplierName" [(ngModel)]='item' required #supplierName1="ngModel" [ngClass]="{'is-invalid': (supplierName1.invalid)&& formSubmitted}" placeholder="Supplier Name" class="required-error-dropdown dropdown-name" (change)=itemSelected($event)>
                                <ng-option disabled="true">
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <div class="text-left txt-ov-elips">Supplier Name</div>
                                        </div>
                                        <div class="col-md-4 col-4">
                                            <div class="text-right txt-ov-elips">Item Name</div>
                                        </div>
                                        <div class="col-md-4 col-4">
                                            <div class="text-right txt-ov-elips">Left Quantity</div>
                                        </div>
                                    </div>
                                </ng-option>
                                <ng-option *ngFor="let supplier of itemList" [value]="supplier.itemId">
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <div class="text-left txt-ov-elips"> {{supplier.name}}</div>
                                        </div>
                                        <div class="col-md-4 col-4">
                                            <div class="text-right txt-ov-elips"> {{supplier.itemName}}</div>
                                        </div>
                                        <div class="col-md-4 col-4">
                                            <div class="text-right txt-ov-elips"> {{supplier.leftQty}}</div>
                                        </div>
                                    </div>
                                </ng-option>
                            </ng-select>
                            <div class="input-required" *ngIf="supplierName1.invalid && formSubmitted">
                                <span>Supplier name is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required">Box No</label>
                            <ng-select appendTo="body" name="boxNo" [(ngModel)]='box' required #boxNo1="ngModel" [ngClass]="{'is-invalid': boxNo1.invalid && formSubmitted }" placeholder="Box No." class="required-error-dropdown dropdown-name">
                                <ng-option disabled="true">
                                    <div class="row">
                                        <div class="col-md-6 col-6">
                                            <div class="text-left txt-ov-elips">Box No</div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="text-right txt-ov-elips">Quantity</div>
                                        </div>
                                    </div>
                                </ng-option>
                                <ng-option *ngFor="let colorBox of colorBoxList" [value]="colorBox.boxNo">
                                    <div class="row">
                                        <div class="col-md-6 col-6">
                                            <div class="text-left txt-ov-elips"> {{colorBox.boxNo}}</div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="text-right txt-ov-elips"> {{colorBox.quantity}}</div>
                                        </div>
                                    </div>
                                </ng-option>
                                <!-- <ng-option *ngFor="let colorBox of colorBoxList" [value]="colorBox.boxNo">{{colorBox.boxNo}}</ng-option> -->
                            </ng-select>
                            <div class="input-required" *ngIf="(formSubmitted && boxNo1.invalid)">
                                <span>Box no is required</span>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="row">
                    <div class="col-md-12 mobile-btn-center text-btn-right">
                        <div class="padding-bt-tp">
                            <button type="button" class="btn btn-primary btn-sm btn-design-cancel" (click)="onCancel()">CANCEL</button>
                            <!-- <button *ngIf="this.currentProgramId != null" type="button" (click)="updateProgram(myForm)" class="btn btn-primary btn-sm btn-design button-base ripple" [disabled]="disableButton">UPDATE</button> -->

                            <button type="button" class="btn btn-primary btn-sm btn-design-save button-base ripple" (click)="issueBox(myForm)">Issue</button>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <nb-checkbox class="status-basic nb-transition" id="notIssued" name="Not Issued" (checkedChange)="issuedSelected($event)">
                            </nb-checkbox> &nbsp;<label>Not Issued</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <nb-checkbox class="status-basic nb-transition" id="consolidated" name="Consolidated" [checked]="consolidated" (checkedChange)="consolidated = !consolidated">
                            </nb-checkbox> &nbsp;<label>Consolidated</label>
                        </div>
                    </div>
                </div>

                <ngx-datatable *ngIf="!consolidated || notIssued" [rows]="allBoxList" class="material" [headerHeight]="31" [footerHeight]="31">

                    <ngx-datatable-column name="Box No" prop="boxNo"></ngx-datatable-column>
                    <ngx-datatable-column name="Supplier Name" prop="name"></ngx-datatable-column>
                    <ngx-datatable-column name="Item Name" prop="itemname"></ngx-datatable-column>
                    <ngx-datatable-column name="Issued" prop="issued"></ngx-datatable-column>
                    <ngx-datatable-column name="Left Quantity" prop="quantityLeft"></ngx-datatable-column>

                </ngx-datatable>

                <ngx-datatable *ngIf="consolidated" [rows]="itemList" class="material" [headerHeight]="31" [footerHeight]="31">

                    <ngx-datatable-column name="Item Name" prop="itemName"></ngx-datatable-column>
                    <ngx-datatable-column name="Left Quantity" prop="leftQty"></ngx-datatable-column>
                    <ngx-datatable-column name="Packed Quantity" prop="packedQty"></ngx-datatable-column>


                </ngx-datatable>

            </form>
        </div>

    </nb-card-body>
</nb-card>