<p>addition-slip works!</p>
<nb-card class="nb-style">
    <nb-card-header class="nb-header">
        <div>
            <div class="row">
                <div class="col-md-11 col-10">
                    <h2 class="nb-text" style="display: inline;">Jet Planning</h2>
                </div>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div>
            <form #myForm="ngForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required">Batch No:</label>
                            <!-- <ng-select name="partyId" [(ngModel)]='lotNo' required #partyId1="ngModel" [ngClass]="{'is-invalid': (partyId1.invalid)&&(formSubmitted || partyId1.touched)}" placeholder="Party Name" class="required-error-dropdown" (change)=partySelected($event)>
                                <ng-option >123</ng-option>
                            </ng-select> -->
                            <!-- <div class="required-class" *ngIf="(formSubmitted && partyId1.invalid) || (partyId1.invalid && partyId1.touched)">
                                <span>Party Id is required</span>
                            </div> -->
                        </div>
                    </div>
                    </div>
                    </form>
                    </div>
                    </nb-card-body>
                    </nb-card>