<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-md-6">
            <h2>BATCH-SHUFFLE</h2>
          </div>

        </div>
      </nb-card-header>

      <nb-card-body>

        <form [formGroup]="shuffleForm">
          <div class="row">

            <div class="col-md-6">
              <label class="required">Party Name:</label>
              <ng-select name="partyId" formControlName="partyName" (change)="dropSelect($event)">

                <ng-option *ngFor="let p of party" [value]="p.id"> {{p.partyName}}
                </ng-option>
              </ng-select>
              <div class="text-danger" *ngIf="formSubmitted && hasDropDownError()">
                <span>Party Name is required.</span>
              </div>
            </div>
            <div class="col-md-6">
              <label class="required">Quality Name:</label>
              <ng-select name="qualityId" formControlName="qualityName" (change)="dropSelect($event)">

                <ng-option *ngFor="let q of quality" [value]="q.id">{{q.qualityName}}
                </ng-option>
              </ng-select>
              <div class="text-danger" *ngIf="formSubmitted && hasDropDownError1()">
                <span>Quality Name is required.</span>
              </div>

            </div>
          </div>




          <nb-radio-group style="display: flex;padding-top:  1%;">
            <nb-radio [value]="1" checked="true" (valueChange)="onChange($event)">Split</nb-radio>
            <nb-radio [value]="2" (valueChange)="onChange($event)">Merge</nb-radio>
          </nb-radio-group>



          <div class="row" style="padding-top: 5%;">

            <div class="col-md-6">
              <label class="required"><span [hidden]="flag"> First </span>Batch Name:</label>
              <ng-select name="batchId" formControlName="batchName1" (click)="getVal()" (change)="temp()">
                <ng-option *ngFor="let b of qualityParty" [value]="b.batchId">{{b.batchId}}
                </ng-option>
              </ng-select>
              
            </div>

            <div class="col-md-6" [hidden]="flag">
              <label class="required">Second Batch Name:</label>
              <ng-select name="batchId" formControlName="batchName2" (click)="getVal()" (change)="temp1()">
                <ng-option *ngFor="let b of qualityParty" [value]="b.batchId">{{b.batchId}}
                </ng-option>
              </ng-select>
              
            </div>


          </div>






          <div class="example-container" style="padding-top: 7%;">
            <h2>Batch Part 1</h2>

            <div cdkDropList [cdkDropListData]="batches" #part1List="cdkDropList" [cdkDropListConnectedTo]="[part2List]"
              class="example-list" (cdkDropListDropped)="drop($event)">

              <div class="example-box" *ngFor="let item of batches" cdkDrag>Batch ID: {{item.id}}, Meter: {{item.mtr}}, Weight: {{item.wt}}</div>
            </div>
          </div>


          <div class="example-container" style="padding-top: 7%;padding-left: 2%;" >
            <h2>Batch Part 2</h2>

            <div cdkDropList class="example-list" [cdkDropListData]="part2" #part2List="cdkDropList"
              [cdkDropListConnectedTo]="[part1List]" (cdkDropListDropped)="drop($event)">

              <div class="example-box" *ngFor="let item of part2" cdkDrag>Batch ID: {{item.id}}, Meter: {{item.mtr}}, Weight: {{item.wt}}</div>
            </div>
          </div>


        </form>
      </nb-card-body>
    </nb-card>
  </div>

</div>