<div class="row">
  <div class="col-md-12">
    <nb-card class="nb-style">
      <nb-card-header class="nb-header">
        <div class="row">
          <div class="col-md-6">
            <h2 class="nb-text">Batch-Shuffle</h2>
          </div>

        </div>
      </nb-card-header>

      <nb-card-body>

        <form [formGroup]="shuffleForm">
          <div class="row">

            <div class="col-md-4">
              <div class="form-group">
                <label class="required">Party Name:</label>
                <ng-select name="partyId" formControlName="partyName" (change)="dropSelectParty($event)" placeholder="Party Name
                ">

                  <ng-option *ngFor="let p of party" [value]="p.id"> {{p.partyName}}
                  </ng-option>
                </ng-select>
                <div class="text-danger" *ngIf="formSubmitted && hasDropDownError()">
                  <span>Party Name is required.</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="required">Quality Name:</label>
                <ng-select name="qualityId" formControlName="qualityName" (change)="dropSelectQuality($event)"
                  placeholder="Quality Name">

                  <ng-option *ngFor="let q of quality" [value]="q.id?q.id:q.qualityEntryId">

                    <div class="row">
                      <div class="col-md-4 col-4">
                        <div class="text-left txt-ov-elips">{{q.partyName}}</div>
                      </div>
                      <div class="col-md-4 col-4">
                        <div class="text-center txt-ov-elips">{{q.qualityId}}</div>
                      </div>
                      <div class="col-md-4 col-4">
                        <div class="text-right txt-ov-elips">{{q.qualityName}}</div>
                      </div>
                    </div>
                  </ng-option>
                </ng-select>
                <div class="text-danger" *ngIf="formSubmitted && hasDropDownError1()">
                  <span>Quality Name is required.</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group mr-0 h-100 mobile-pd">
                <nb-radio-group class="split-merged h-100">
                  <nb-radio [value]="1" checked="true" (valueChange)="onChange($event)">Split</nb-radio>
                  <nb-radio [value]="2" (valueChange)="onChange($event)">Merge</nb-radio>
                </nb-radio-group>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label class="required"><span [hidden]="flag"> First </span>Batch Name:</label>
                <ng-select name="batchId" formControlName="batchName1" (click)="getVal()" (change)="temp()"
                  placeholder="Batch Name">
                  <ng-option *ngFor="let b of qualityParty" [value]="b">{{b.batchId}}
                  </ng-option>
                </ng-select>
              </div>
              <!-- <div class="text-danger" *ngIf="formSubmitted && hasDropDownError1()">
                <span>Batch Name is required.</span>
              </div> -->
            </div>

            <div class="col-md-6" [hidden]="flag">
              <div class="form-group">
                <label class="required">Second Batch Name:</label>
                <ng-select name="batchId" formControlName="batchName2" (change)="temp1()">
                  <ng-option *ngFor="let b of qualityParty2[0]" [value]="b">{{b.batchId}}
                  </ng-option>
                </ng-select>
              </div>
            </div>


          </div>
          <div class="batch-shuffle">
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="example-container">
                  <h2 class="batch-text">Batch Part 1</h2>

                  <div cdkDropList [cdkDropListData]="batches" #part1List="cdkDropList"
                    [cdkDropListConnectedTo]="[part2List]" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="row">
                      <div class="col-md-12 col-12">
                        <div *ngFor="let item of batches" cdkDrag>
                          <div class="batch-2" *ngIf="item.batchId==batchId2">
                            Meter:
                            {{item.mtr}}
                            Weight: {{item.wt}}
                          </div>
                          <div class="example-box" *ngIf="item.batchId!=batchId2">
                            Meter:
                            {{item.mtr}}
                            Weight: {{item.wt}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <input type="text" formControlName="totalrowsPart1" [readonly]="true" class="total-rows">
                        <span class="t-12">Total</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-6 col-12">
                <div class="example-container">
                  <h2 class="batch-text">Batch Part 2</h2>

                  <div cdkDropList cdkDrop class="example-list  " [cdkDropListData]="part2" #part2List="cdkDropList"
                    [cdkDropListConnectedTo]="[part1List]" (cdkDropListDropped)="drop($event)">

                    <div *ngFor="let item of part2" cdkDrag
                      [ngClass]="item.batchId==batchId1 ? 'batch-2' : 'example-box' ">
                      Meter:
                      {{item.mtr}}
                      Weight: {{item.wt}}
                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-7 col-7">
                        <input type="text" formControlName="totalrowsPart2" [readonly]="true" class="total-rows">
                        <span class="t-12">Total</span>
                      </div>
                      <div class="col-md-5 col-5 jus-con-center">
                        <input type="text" placeholder="Enter Batch Id" formControlName="newBatchName"
                          style="background-color: lightgray;" [hidden]="btnFlag" class="mtr-wei enter-batch-id-2">
                         
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3 col-3">
                  <div class="total-shuffle">
                    <label>Total</label>
                  </div>
                </div>
                <div class="col-md-9 col-9">
                  <div class="batch-1-input">
                    <span class="text-batch-mtr">Mtr.</span>
                    <input type="text" placeholder="Mtr." formControlName="totalmtr1" [readonly]="true"
                      style="background-color: lightgray;" class="mtr-wei">
                    <span class="text-batch-mtr">Wt.</span>
                    <input type="text" placeholder="Wt." formControlName="totalwt1" [readonly]="true"
                      style="background-color: lightgray;" class="mtr-wei">
                  </div>
                </div>
                <!-- <div class="total-shuffle" style="margin-left: 6%;">
                  <label>Total Rows</label>
                  <input type="text" formControlName="totalrowsPart1" [readonly]="true"
                    style="background-color: lightgray;" class="mtr-wei">
                  <input type="text" formControlName="totalrowsPart2" [readonly]="true"
                    style="background-color: lightgray; " class="mtr-wei">
                </div> -->

              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-9">
                  <div class="batch-2-input">
                    <span class="text-batch-mtr">Mtr.</span>
                    <input type="text" placeholder="Mtr." formControlName="totalmtr2" [readonly]="true"
                      style="background-color: lightgray;" class="mtr-wei">
                    <span class="text-batch-mtr">Wt.</span>
                    <input type="text" placeholder="Wt." formControlName="totalwt2" [readonly]="true"
                      style="background-color: lightgray;" class="mtr-wei">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="btn-split-merge">
                    <button class="btn btn-primary btn-sm btn-design" (click)="splitsubmit()"
                      [hidden]="btnFlag">Split</button>
                    <button class="btn btn-primary btn-sm btn-design" (click)="mergesubmit()"
                      [hidden]="!btnFlag">Merge</button>
                  </div>
                  <!-- <input type="text" placeholder="Enter New Batch Id" formControlName="newBatchName"
                    style="background-color: lightgray;" [hidden]="btnFlag"> -->

                </div>


              </div>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>

</div>