<div class="modal-header nb-header">
    <h4 class="modal-title nb-text">Production List</h4>
    <button class="close btn-foucs-none" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true" class="close-icon">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div cdkDropList cdkDropListOrientation="horizontal" class="example-list shade-with-batch-design"  (click)="onClick($event)" id="" >
        <div class="example-box jet-popup-box production-list-popup" *ngFor="let s of allShade" cdkDrag> 
           
        
            <div class="jet-popup-display"  ><span class="prouction-jet-number">{{s.batchId}}</span><input class="form-control input-jet"  [style.background]="s.colorTone" disabled ></div>
        </div>
    </div>
</div>
