<nb-card>
    <nb-card-header class="nb-header">
        <div class="row">
            <div class="col-md-5 col-6 display-flex-start max-width-device">
                <ng-select class="btn btn-md" (change)="tableChange($event)"
                    placeholder="Select">
                    <!-- <ng-option value="select">Select</ng-option> -->
                    <ng-option value="view table">View Table</ng-option>
                    <ng-option value="report">Report</ng-option>
                    <!-- <ng-option value="job card">Job Card</ng-option> -->
                </ng-select>
                <!-- <button class="btn btn-md btn-design" [routerLink]="['/pages/stock-batch/view']">View
                    Table</button> -->
            </div>
            <div class="col-md-7 col-6">
                <div *ngIf="currentInvoiceId == null; else updateS">
                    <h2 class="nb-text">Add Invoice</h2>
                </div>
                <ng-template #updateS>
                    <h2 class="nb-text">Update Invoice</h2>
                </ng-template>

            </div>


        </div>
    </nb-card-header>
    <nb-card-body>
        <form #invoiceForm="ngForm">
            <div class="row" class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="required">Party Name</label>
                        <ng-select name="partyId" appendTo="body" [(ngModel)]='invoiceValues.partyId' required
                            #partyId1="ngModel"
                            [ngClass]="{'is-invalid': (partyId1.invalid)&&(formSubmitted || partyId1.touched)}"
                            (change)="getBatchList($event)" placeholder="Party Name"
                            class="required-error-dropdown dropdown-name" [readonly]="currentInvoiceId != null">
                            <ng-option *ngFor="let p of party" [value]="p.id">{{p.partyName}}</ng-option>
                        </ng-select>

                        <div class="input-required"
                            *ngIf="(formSubmitted && partyId1.invalid) || (partyId1.invalid && partyId1.touched)">
                            <span>Party name is required</span>
                        </div>
                    </div>
                </div>
            </div>


            <ngx-datatable [rows]="merge" class="material" [headerHeight]="31" [footerHeight]="31"
                [selectionType]="'checkbox'" [selected]="selected" (select)="onSelect($event)">
                <ngx-datatable-column name="Batch Id" prop="batchId" [headerCheckboxable]="true" [checkboxable]="true"
                    [maxWidth]="130">
                </ngx-datatable-column>
                <ngx-datatable-column name="MTR" prop="mtr"></ngx-datatable-column>
                <ngx-datatable-column name="WT" prop="wt"></ngx-datatable-column>
                <ngx-datatable-column name="Total Finish Mtr" prop="totalFinishMtr"></ngx-datatable-column>
                <ngx-datatable-column name="Total Pcs" prop="totalPcs"></ngx-datatable-column>

            </ngx-datatable>
            <div class="row">
                <div class="col-md-12 mobile-btn-center text-btn-right">
                    <div class="padding-bt-tp">
                        <button type="button" class="btn btn-primary btn-sm btn-design-save button-base ripple"
                            (click)="addInvoice(invoiceForm)"
                            [disabled]="disableButton">Generate
                            Invoice</button>
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>