<nb-card>
    <nb-card-header class="nb-header">
        <div>
            <h2 class="nb-text">Add Invoice</h2>
        </div>

    </nb-card-header>
    <nb-card-body>
                <form #invoiceForm="ngForm">
                    <div class="row">
                       <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">Party Name</label>
                            <ng-select name="partyId" [(ngModel)]='invoiceValues.partyId' required #partyId1="ngModel"
                                [ngClass]="{'is-invalid': (partyId1.invalid)&&(formSubmitted || partyId1.touched)}"
                                (change)="getBatchList($event)" placeholder="Party Name" class="required-error-dropdown">
                                <ng-option *ngFor="let p of party" [value]="p.id">{{p.partyName}}</ng-option>
                            </ng-select>
                            <div class="required-class" *ngIf="(formSubmitted && partyId1.invalid) || (partyId1.invalid && partyId1.touched)">
                                <span>Party name is required</span>
                            </div>
                        </div>
                    </div>
                    </div>
                        <!-- Batch Id -->
                        <!-- <div class="row">
                            <div class="col-md-4">
                             <div class="form-group">
                                 <label class="required">Batch Id</label>
                                 <ng-select name="batchId" [(ngModel)]='invoiceValues.batchId' required #batchId1="ngModel"
                                     [ngClass]="{'is-invalid': (batchId1.invalid)&&(formSubmitted || batchId1.touched)}"
                                     (change)="getMtrList($event)" placeholder="Batch Id" class="required-error-dropdown">
                                     <ng-option *ngFor="let q of batch" [value]="q.batchId">{{q.batchId}}</ng-option>
                                 </ng-select>
                                 <div class="required-class" *ngIf="(formSubmitted && batchId1.invalid) || (batchId1.invalid && batchId1.touched)">
                                     <span>Batch Id is required</span>
                                 </div>
                             </div>
                         </div>
                         </div> -->
                                  <ngx-datatable [rows]="batch"  class="material" [headerHeight]="31"
                                  [footerHeight]="31" [selectionType]="'checkbox'"  (select)="onSelect($event)">
                                  <ngx-datatable-column name="Select" sortable="false" 
                                  [width]="30" [headerCheckboxable]="true" [checkboxable]="true" >
                                    </ngx-datatable-column>
                                  <ngx-datatable-column name="Batch Id" prop="batchId"></ngx-datatable-column>
                                  <ngx-datatable-column name="Contro Id" prop="controlId"></ngx-datatable-column>
                                  <ngx-datatable-column name="MTR" prop="mtr"></ngx-datatable-column>
                                  <ngx-datatable-column name="WT" prop="wt"></ngx-datatable-column>
                                  <ngx-datatable-column name="Total Finish Mtr" prop="totalFinishMtr"></ngx-datatable-column>
                                  <ngx-datatable-column name="Total Pcs" prop="totalPcs"></ngx-datatable-column>

                                </ngx-datatable>
                        <div class="row">
                             <div class="col-md-12 mobile-btn-center text-btn-right">
                                <div class="padding-bt-tp">
                                     <button type="button" class="btn btn-primary btn-sm btn-design" style="margin-right:20px"
                                     (click)="addInvoice(invoiceForm)">Generate Invoice</button>
                                </div>
                             </div>
                         </div>
           
           
        </form>
    </nb-card-body>
</nb-card>