<nb-card>
    <nb-card-header class="nb-header">
        <div class="row">
            <div class="col-md-5 col-6 display-flex-start max-width-device">
                <ng-select class="btn btn-md" (change)="tableChange($event)" placeholder="Select">
                    <ng-option value="view table">View Table</ng-option>
                    <ng-option value="report">Report</ng-option>
                    <ng-option value="print">Print Invoice</ng-option>
                    <ng-option value="received">Received Invoices</ng-option>
                    <ng-option value="sign">Sign New Invoices</ng-option>
                </ng-select>
            </div>
            <div class="col-md-7 col-6">
                <div *ngIf="currentInvoiceId == null; else updateS">
                    <h2 class="nb-text">Add Invoice</h2>
                </div>
                <ng-template #updateS>
                    <h2 class="nb-text">Update Invoice</h2>
                </ng-template>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form #invoiceForm="ngForm">
            <div class="row" class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="required">Party Name</label>
                        <ng-select name="partyId" appendTo="body" [(ngModel)]='invoiceValues.partyId' required
                            #partyId1="ngModel"
                            [ngClass]="{'is-invalid': (partyId1.invalid)&&(formSubmitted || partyId1.touched)}"
                            (change)="getPChallanList($event)" placeholder="Party Name"
                            class="required-error-dropdown dropdown-name" [readonly]="currentInvoiceId != null">
                            <ng-option *ngFor="let p of party" [value]="p.id">{{p.partyName}}</ng-option>
                        </ng-select>

                        <div class="input-required"
                            *ngIf="(formSubmitted && partyId1.invalid) || (partyId1.invalid && partyId1.touched)">
                            <span>Party name is required</span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4" *ngIf="discountFlag">
                    <label class="required">Discount %</label>
                    <input type="number" id="percentageDiscount" class="form-control size-small" nbinput fullwidth
                        fieldsize="small" name="percentageDiscount" [(ngModel)]="discountChange" placeholder="Discount"
                        #disChange="ngModel"
                        [ngClass]="{'is-invalid': (disChange.invalid)&&(formSubmitted || disChange.touched)}" />
                    <div class="input-required"
                        *ngIf="(formSubmitted && disChange.invalid) || (disChange.invalid && disChange.touched)">
                        <span>Discount is required</span>
                    </div>
                </div>

                <div class="form-group col-md-4" *ngIf="discountFlag">
                    <label>Remark</label>
                    <input type="text" id="remark" class="form-control size-small" nbinput fullwidth fieldsize="small"
                        name="remark" [(ngModel)]="remark" placeholder="Remark" #remarkInvoice="ngModel" />
                </div>

            </div>


            <ngx-datatable [rows]="merge" class="material" [headerHeight]="31" [footerHeight]="31"
                [selectionType]="'checkbox'" [selected]="selected" (select)="onSelect($event)">
                <ngx-datatable-column name="Batch Id" prop="batchId" [headerCheckboxable]="true" [checkboxable]="true"
                    [maxWidth]="150">
                </ngx-datatable-column>
                <ngx-datatable-column name="Pchallan" prop="pchallanRef">
                </ngx-datatable-column>
                <ngx-datatable-column name="MTR" prop="mtr"></ngx-datatable-column>
                <ngx-datatable-column name="WT" prop="wt"></ngx-datatable-column>
                <ngx-datatable-column name="Quality Id" prop="qualityId"></ngx-datatable-column>
                <ngx-datatable-column name="Quality Name" prop="qualityName"></ngx-datatable-column>
                <ngx-datatable-column name="Rate" prop="rate">
                    <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                        <input type="number" #rateChnage="ngModel" name="rateChnage{{ rowIndex }}"
                            class="tableForm line-height-subtable" id="rateChnage" [(ngModel)]="row.rate" [id]="'invoice' + rowIndex +
                            '-rateChange'" min="0" (keyup)="enterClicked(rowIndex, $event)" />

                        <div class="input-required display-inlineblock" *ngIf="formSubmitted &&
                            rateChnage.invalid">
                            <span>Required</span>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Total Finish Mtr" prop="totalFinishMtr"></ngx-datatable-column>
                <ngx-datatable-column name="Total Pcs" prop="totalPcs"></ngx-datatable-column>

            </ngx-datatable>
            <div class="row">
                <div class="col-md-12 mobile-btn-center text-btn-right">
                    <div class="padding-bt-tp">
                        <button type="button" class="btn btn-primary btn-sm btn-design-save button-base ripple"
                            style="margin-right:20px"
                            (click)="currentInvoiceId == null ? addInvoice(invoiceForm) : updateInvoice(invoiceForm)">Generate
                            Invoice</button>
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>